<template name="feedback">
  {{#contentFor "headerTitle"}}
    <h1 class="title normal-title">反馈意见</h1>
  {{/contentFor}}
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton class="button-clear button-light" text=false}}
  {{/contentFor}}
  {{#contentFor "headerButtonRight"}}
    <button class="button button-clear button-light" data-action="send-feedback">
      发送
    </button>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
    <form class="form feedback-form">
      <div class="form-group {{errorClass 'content'}}">
        <textarea rows="5" class="form form-control" name="content" placeholder="请在这里写下你对麻辣老师的意见，我们将不断进步，为孩子做的更好~"></textarea>
        <span class="help-block">{{errorMessage 'content'}}</span>
      </div>
      <div class="form-group {{errorClass 'contact'}}">
        <label>联系方式</label>
        <input type="text" class="form form-control" name="contact" placeholder="电话、QQ、邮箱">
        <span class="help-block">{{errorMessage 'contact'}}</span>
      </div>
      <input type="submit" class="btn btn-success" value="提交" />
    </form>
    {{/ionContent}}
  {{/ionView}}
</template>
