<template name="feedback">
  {{#contentFor "headerTitle"}}
    <h1 class="title normal-title">反馈意见</h1>
  {{/contentFor}}
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton class="button-clear button-light" text=false}}
  {{/contentFor}}
  {{#contentFor "headerButtonRight"}}
    <button class="button button-clear button-light" data-action="send-feedback">
      发送
    </button>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
    <form class="form feedback-form">

    {{#ionList}}
      {{#ionItem class="item-input"}}
        <textarea rows="5" class="" name="content" placeholder="请在这里写下你对麻辣老师的意见，我们将不断进步，为孩子做的更好~"></textarea>
      {{/ionItem}}
      {{#ionItem class="item-input"}}
        <span class="input-label" for="name">联系方式</span>
        <input type="text" class="" name="contact" placeholder="请输入您的手机号／邮箱等（选填）">
      {{/ionItem}}
    {{/ionList}}
      {{#unless isCordova}}
      <input type="submit" class="btn btn-success" value="提交" />
      {{/unless}}
    </form>
    {{/ionContent}}
  {{/ionView}}
</template>
