<template name="messages">
<div class="messages">
  <div class="messages-title">
    系统消息
    {{#if messageCount}}
      ( {{messageCount}} )
    {{/if}}
  </div>
  <ul class="list-unstyled message-list">
    {{#if messageCount}}
      {{#each messages}}
        {{> messageItem}}
      {{/each}}
    {{else}}
      <li>
        <div class="content"><span>如果您有任何的消息或回复，你将会在这里看到。</span>
        </div>
      </li>
    {{/if}}
  </ul>
</div>
</template>

<template name="messageItem">
  <li>
    <div class="content">
      <input type="hidden" value="{{_id}}" />
      <span class="text {{#if unread}}unread{{/if}}">{{content}}</span>
      <span class="pull-right">
        <span class="datetime">{{createTimeStr}}</span>
        <a class="action" title="删除">X</a>
      </span>
    </div>
  </li>
</template>