<template name="messages">
<div class="messages">
  <div class="messages-title">
    系统消息
    {{#if messageCount}}
      ( {{messageCount}} )
    {{/if}}
  </div>
  <ul class="list-unstyled message-list">
    {{#if messageCount}}
      {{#each messages}}
        {{> messageItem}}
      {{/each}}
    {{else}}
      <li>
        <div class="content"><span>如果您有任何的消息或回复，你将会在这里看到。</span>
        </div>
      </li>
    {{/if}}
  </ul>
  <br>
  {{#if viewedMessageCount}}
  <div class="hist-message">
    <a>历史消息 &nbsp;<i class="mala mala-chevron-down"></i></a>
    <ul class="list-unstyled viewed message-list">
      {{#each viewedMessages}}
      {{> viewedMessageItem}}
      {{/each}}
    </ul>
  </div>
  {{/if}}
</div>
</template>

<template name="messageItem">
  <li>
    <div class="content">
      <input type="hidden" value="{{_id}}" />
      <span class="text {{#if $not read}}unread{{/if}}">{{content}}</span>
      <span class="pull-right">
        <span class="datetime">{{created}}</span>
        <a class="action" title="删除"><span class="mala mala-cross"></span></a>
      </span>
    </div>
  </li>
</template>
<template name="viewedMessageItem">
  <li>
    <div class="content">
      <input type="hidden" value="{{_id}}" />
      <span class="text">{{content}}</span>
      <span class="pull-right">
        <span class="datetime">{{created}}</span>
      </span>
    </div>
  </li>
</template>
