<template name="scheduleMonthTeacher">
{{#ionView}}
  {{#ionContent}}
  <div class="schedule-month">
    <div class="top">
      <div class="marks"><div class="done"><span class="ion-record"></span>已上课</div><div class="todo"><span class="ion-record"></span>待上课</div></div>
      <div class="pull-right btns-box">
        {{#unless isCurrentMonth}}<input class="btn btn-go-today" type="button" name="goToday" value="今天">{{/unless}}
        <input class="btn btn-go-year-view" type="button" name="goYearView" value="按年">
      </div>
    </div>
    <div class="month-nav">
      <ul>
        {{#each indexNum}}
          <li class="{{#if $eq this 3}}cur-month{{/if}}"><a href="{{monthNavUrl this}}">{{monthNavText this}}</a></li>
        {{/each}}
      </ul>
    </div>
    <table class="table">
      <thead><tr class="week-row">{{#each weekdays}}<td>{{weekdayText this}}</td>{{/each}}</tr></thead>
      <tbody>
        {{#each weekrows}}
        <tr>
          {{#each indexNum}}
            <td class="date {{dateClass .. this}}" data-row="{{..}}" data-col="{{this}}">{{dateText .. this}}</td>
          {{/each}}
        </tr>
        {{/each}}
      </tbody>
    </table>
    <div class="day-events">
      课程安排
    </div>
  </div>
  {{/ionContent}}
{{/ionView}}
</template>
