@import 'app-variables';

@import '../../.meteor/local/build/programs/server/assets/packages/meteoric_ionic-sass/ionic';
@import '../../.meteor/local/build/programs/server/assets/packages/meteoric_ionicons-sass/ionicons';

html,body {
    overflow-y:initial;
}
.pane, .view{
    background-color:#f1f1f1;
}
$popupBorderRadius: 7px;
.popup-container .popup {
  border-radius: $popupBorderRadius;
  overflow: hidden;
  .popup-body{
    display: table;
    width: 100%;
    min-height: 83px;
    text-align: center;
    border-bottom: 1px #d6d6d6 solid;
    overflow: hidden;
    span {
      display: table-cell;
      vertical-align: middle;
      font-size: 16px;
      font-weight: bold;
      color: #333;
      div {
        display: inline-block;
        text-align: left;
      }
    }
  }
  .popup-buttons{
    padding: 0;
    height: 43px;
    min-height: 0;
    overflow: hidden;
    .button {
      margin: 0;
      padding: 0;
      width: 100%;
      border: 0;
      border-right: 1px #E6E6E6 solid;
      border-radius: 0;
      background-color: #fff;
      &:first-child{
        border-bottom-left-radius: $popupBorderRadius;
      }
      &:last-child{
        border-bottom-right-radius: $popupBorderRadius;
        border-right: 0;
      }
      &.button-default {
        color: #333;
      }
      &.button-assertive, &.button-positive {
        color: #e8413e;
      }
      &:active{
        background-color: rgba(0,0,0,0.1);
      }
    }
  }
}

.action-sheet {
  margin-left: 0;
  margin-right: 0;
  .action-sheet-group {
    border-radius: 0;
  }
  .action-sheet-title {
    height: 47px;
    line-height: 47px;
    padding: 0 14px;
    background-color: #f7f7f7;
    font-size: 16px;
    color: #5d5d5d;
  }
  .action-sheet-finish-btn {
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
    font-size: 16px;
    color: #5d5d5d;
  }
}

.bar .title + .button:last-child,
 .bar > .button + .button:last-child,
 .bar > .button.pull-right,
 .bar .buttons.pull-right,
 .bar .title + .buttons {
  color: #fff;
  .icon.ion-ios-plus-empty:before {
    font-size: 38px;
  }
}