.left-nav .view-profile {
  width: 100%;
  height: 56px;
  line-height:42px;
  font-size: 16px;
}
.profile-edit .control-label {
  padding-right: 24px;
  color: #7d7d7d;
}
.profile-edit .controls, .profile-edit .controls input, .profile-edit .controls select, .profile-edit .controls textarea {
  color: #333;
}
.profile-edit .glyphicon-lock{
  position: absolute;
  top: 10px;
  right: -2px;
  color: #a59;
}
.profile-edit .hint {
  display: block;
  width: 110%;
  clear: both;
  font-size: 12px;
  color: #a4a4a4;
}
.profile-edit .birthday, .profile-edit .address, .profile-edit .subject-item select {
  width: 110px;
  margin-right: 10px;
  float: left;
}
.profile-edit select[name=gender] {
  width: 74px;
}
.profile-edit select[name=state] {
  width: 171px;
}
.profile-edit .subject-item {
  padding: 5px 0;
}
.profile-edit form, .profile-edit .profile-edit-edu, .profile-edit .profile-edit-cert {
  background-color: #fff;
}
.profile-edit-basic {
  padding: 20px;
}
.profile-edit-basic .btn-delete-item {
  display: inline-block;
  float: left;
  line-height: 34px;
}
.profile-edit-basic .btn-add-edu-item {
  margin: 0;
}
.profile-edit-edu {
  padding: 0 20px 20px 20px;
}
.profile-edit-edu .profile-edu-item {
  padding-top: 20px;
  border-bottom: 1px #eee solid;
}
.profile-edit-edu .profile-edu-item:last-child {
  border-bottom: 0;
}
.profile-edit-edu .btn-add-edu-item {
  margin: 28px 0 26px;
}
.btn-add-edu-item {
  margin: 30px 0;
  color: #db3e00;
  font-size: 18px;
  line-height: 18px;
  padding-left:0;
}
.profile-edit-cert {
  padding: 0 20px;
}
.profile-edit-cert .cert-title {
  margin: 10px 0;
  font-size: 16px;
  color: #000;
}
.profile-edit-cert .cert-upload-box {
  padding: 20px 0;
  border-top: 1px solid #c9c9c9;
  position: relative;
}
.profile-edit-cert > .cert-upload-box {
  border-top: 0;
}
.profile-edit-cert .cert-upload-box .uploading-hint-box{
  display: none;
}
.profile-edit-cert .cert-img-box {
  padding-left: 0;
  min-width: 161px;
}
.profile-edit-cert .cert-img-box .img-box {
  width: 100%;
  height: 192px;
  line-height: 192px;
  overflow: hidden;
  background: #ddd;
  text-align: center;
}
.profile-edit-cert .cert-img-box .img-box img{
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}
.profile-edit-cert .file-input-mask{
  position: relative;
  overflow: hidden;
}
.profile-edit-cert .file-input-mask input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  height: 180px;
  opacity: 0;
  filter: alpha(opacity=0);
  transform: translate(-300px,0) scale(4);
  font-size: 16px;
  direction: ltr;
  cursor: pointer;
}
.profile-edit-cert .cert-action-box {
  padding-left: 10px;
  height: 192px;
}
.profile-edit-cert .btns-box{
  position: absolute;
  bottom: 0;
}
.profile-edit-cert .btns-box .action-btn-box{
  display: none;
}
.parent-settings-box {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
}
.parent-settings-box > div{
  padding-left: 0;
  padding-right: 0;
  border-left: none;
  border-right: none;
  background-color: transparent;
}
.parent-settings-box > div:last-child{
  border-bottom: none;
}
.parent-settings-box.logout-btn-box {
  position: fixed;
  bottom: 20px;
}
.parent-settings-box .item-input{
  padding-left: 0;
}
.parent-settings-box input{
  padding-left: 10px;
  padding-right: 10px;
  background-color: #fff;
}
