@import "custom.bootstrap.import.less";
.grid-block, .post, .comments li, .comment-form {
  background: #fff;
  padding: 10px;
  margin-bottom: 10px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}

body {
  color: #7d7d7d;
}
.container>.navbar,.container>.collapse{
  margin:0 -15px;
}
.navbar{
  border:none;
  margin-bottom:0;
  min-height:0;
}
.navbar.navbar-inverse{
  margin-bottom:20px;
}
.navbar ul.nav{
  margin-left:-15px;
}
.navbar.navbar-inverse ul.navbar-nav{
  overflow:hidden;
}
.navbar.navbar-inverse ul.nav > li.active a:before{
  position:absolute;
  content:'';
  bottom:0;
  left:0;
  right:0;
  height:3px;
  background:#db3e00;
}
.nav>li>a{
  padding-left:0;
  padding-right:0;
  margin-left:15px;
  margin-right:15px;
}
.navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  background-color:transparent;
}
.navbar .message-cnt.badge{
  position: absolute;
  padding: 2px 5px;
  left: -7px;
  top: -5px;
  border-radius: 50%;
  background-color: #db3e00;
  font-size: 10px;
  font-weight: normal;
}
.navbar .lnr-envelope {
  font-size: 22px;
  line-height: 14px;
}
#main {
  position: relative;
}
.container{
  width:100%;
  max-width:930px;
}
.page {
  top: 0px;
  width: 100%;
}

#spinner {
height: 300px; }

.post {
  /* For modern browsers */
  /* For IE 6/7 (trigger hasLayout) */
  *zoom: 1;
  position: relative;
opacity: 1; }
.post:before, .post:after {
  content: "";
display: table; }
.post:after {
clear: both; }
.post.invisible {
opacity: 0; }
.post.instant {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
transition: none; }
.post.animate{
  -webkit-transition: all 300ms 0ms;
  -moz-transition: all 300ms 0ms ease-in;
  -o-transition: all 300ms 0ms ease-in;
transition: all 300ms 0ms ease-in; }
.post .upvote {
  display: block;
  margin: 7px 12px 0 0;
float: left; }
.post .post-content {
float: left; }
.post .post-content h3 {
  margin: 0;
  line-height: 1.4;
font-size: 18px; }
.post .post-content h3 a {
  display: inline-block;
margin-right: 5px; }
.post .post-content h3 span {
  font-weight: normal;
  font-size: 14px;
  display: inline-block;
color: #aaaaaa; }
.post .post-content p {
margin: 0; }
.post .discuss {
  display: block;
  float: right;
margin-top: 7px; }

.comments {
  list-style-type: none;
margin: 0; }
.comments li h4 {
  font-size: 16px;
margin: 0; }
.comments li h4 .date {
  font-size: 12px;
font-weight: normal; }
.comments li h4 a {
font-size: 12px; }
.comments li p:last-child {
margin-bottom: 0; }

.dropdown-menu span {
  display: block;
  padding: 3px 20px;
  clear: both;
  line-height: 20px;
  color: #bbb;
white-space: nowrap; }

.load-more {
  display: block;
  background: rgba(0, 0, 0, 0.05);
  text-align: center;
  height: 60px;
  line-height: 60px;
margin-bottom: 10px; }
.load-more:hover {
  text-decoration: none;
background: rgba(0, 0, 0, 0.1); }

.posts .spinner-container{
  position: relative;
  height: 100px;
}

.jumbotron{
  text-align: center;
}
.jumbotron h2{
  font-size: 60px;
  font-weight: 100;
}

@-webkit-keyframes fadeOut {
  0% {opacity: 0;}
  10% {opacity: 1;}
  90% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes fadeOut {
  0% {opacity: 0;}
  10% {opacity: 1;}
  90% {opacity: 1;}
  100% {opacity: 0;}
}

.errors{
  position: fixed;
  z-index: 10000;
  padding: 10px;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  pointer-events: none;
}
.alert {
  animation: fadeOut 2700ms ease-in 0s 1 forwards;
  -webkit-animation: fadeOut 2700ms ease-in 0s 1 forwards;
  -moz-animation: fadeOut 2700ms ease-in 0s 1 forwards;
  width: 250px;
  float: right;
  clear: both;
  margin-bottom: 5px;
  pointer-events: auto;
}
.profile {
  width: 90%;
}
.avatar {
  width: 180px;
  margin:0 auto;
  height: 240px;
  background:#999;
}
.success-hint-box {
  display: none;
  position: absolute;
  top: -10px;
  left: 180px;
  height: 38px;
  width: 177px;
  background-color: #6cc4c2;
  border-radius: 3px;
  text-align: center;
  line-height: 38px;
  color: #fff;
  z-index: 100000;
}
#avatarUploadForm {
  padding-top: 20px;
}
#avatarUploadForm .avatar-edit-box {
  width: 307px;
  height: 307px;
  overflow: hidden;
}
#avatarUploadForm .avatar-edit-box.have-img .inner {
  display: block;
}
#avatarUploadForm .avatar-edit-box .inner{
  position: relative;
  width: 100%;
  height: 100%;
  font-size: 0;
  text-align: center;
  line-height: 307px;
  overflow: hidden;
  display: none;
}
#avatarUploadForm .avatar-edit-box .clip-window{
  position: absolute;
  top: 0;
  left: 0;
  width: 180px;
  height: 180px;
  border: 1px solid black;
  cursor: move;
  outline: rgba(0, 0, 0, 0.3) solid 10000px;
}
#avatarUploadForm .avatar-edit-box .clip-window-mask{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#avatarUploadForm .avatar-edit-box img {
  max-width: 100%;
  max-height: 100%;
}
#avatarUploadForm .avatar-edit-box .loading-hint-box{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 0;
  overflow: hidden;
  text-align: center;
  line-height: 307px;
  z-index: 9999;
  display: none;
}
#avatarUploadForm .avatar-edit-box .loading-hint-box img{
  vertical-align: middle;
}
#avatarUploadForm .avatar-preview {
  padding-left: 0;
}
#avatarUploadForm .avatar-preview div:first-child{
  margin-top: 0;
}
#avatarUploadForm .avatar-preview div{
  margin-top: 10px;
}
#avatarUploadForm .btns-box {
  font-size: 16px;
}
#avatarUploadForm .select-file-box .btn-select-file {
  position: relative;
  overflow: hidden;
}
#avatarUploadForm .select-file-box .btn-select-file input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  height: 180px;
  opacity: 0;
  filter: alpha(opacity=0);
  transform: translate(-300px,0) scale(4);
  direction: ltr;
  cursor: pointer;
}
#avatarUploadForm .btns-box .action-btn-box {
  display: none;
}
.footer{
  padding:50px 0;
}
.footer,.footer a{
  color:#797979;
}
.red{
  color:#db3e00;
}
.title{
  font-weight:300;
  font-size:18px;
  font-style:italic;
}
.title .red{
  font-weight:600;
  font-size:22px;
}
.subtitle {
  font-size:16px;
}
#login-buttons-open-change-password{
  display:none;
}
.audit-teacher .part-title {
  padding: 10px 0;
  font-size: 20px;
}
.audit-teacher .part-info {
  margin: 10px 0;
}
.audit-teacher .part-audit {
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}
.audit-teacher .part-audit .audit-action {
  float: right;
}
.audit-teacher .part-audit .audit-action .audit-status-unsubmit{
  color: gray;
}
.audit-teacher .part-audit .audit-action .audit-status-submited{
  color: blue;
}
.audit-teacher .part-audit .audit-action .audit-status-approved{
  color: green;
}
.audit-teacher .part-audit .audit-action .audit-status-rejected{
  color: red;
}
.audit-teacher .cert-info .section-title:first-child {
  border-top: 0;
}
.audit-teacher .cert-info .section-title {
  padding: 10px 0;
  border-top: 1px solid #ddd;
  font-size: 16px;
  color: black;
}
.audit-teacher .cert-info .img-box {
  width: 200px;
  height: 192px;
  line-height: 192px;
  overflow: hidden;
  background: #ddd;
  text-align: center;
}
.audit-teacher .cert-info .img-box img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}
.audit-teacher .cert-info .img-fullsize-view-box {
  display: none;
  position: absolute;
  left: 150px;
  padding: 5px;
  width: 700px;
  height: 900px;
  border: 1px solid #000;
  background-color: rgba(0, 0, 0, 0.3);
  text-align: center;
  overflow: scroll;
}
.audit-teacher .part-reject {
  display: none;
}
.home-box{
  margin: 0;
  height: 806px;
  background: url('/images/home_bg.png') no-repeat 50% 0%;
  text-align: center;
}
.home-box .listbox{
  max-width:500px;
  margin:0 auto;
}
.home-box .listbox .list-group .list-group-item{
  margin-bottom: 10px;
  border: 0;
  color: #fff;
}
.home-box .listbox a.btn-login {
  background-color: red;
  border-color: red;
}
.home-box .listbox a.btn-register {
  background-color: green;
  border-color: green;
}
.login-form .login-top {
  position:relative;
  overflow:hidden;
  width:100%;
}
.login-form .login-top-box {
  height: 150px;
  background-color: gray;
}
.login-form .login-top-box-mask {
  position: absolute;
  transform: rotate(-5deg);
  height: 80px;
  width: 300%;
  bottom: -50px;
  left: -100%;
  background-color: #f1f1f1;
}
.login-form .login-top .role-sign {
  position: absolute;
  width: 100%;
  top: 95px;
}
.login-form .login-top .role-sign span {
  width: 50px;
  height: 50px;
  background-color: green;
  border-radius: 50%;
  line-height: 50px;
  font-size: 26px;
  color: white;
}
.login-form .role-select {
  margin: 10px auto;
}
.login-form .role-select li {
  padding: 0;
  width: 50%;
  float: left;
}
.login-form .role-select li a {
  color: red;
  border: 1px red solid;
  background-color: white;
}
.login-form .role-select li.active a {
  color: white;
  background-color: red;
}
.login-form input {
  border: 0;
  box-shadow: none;
  background-color: transparent;
}
.login-form input[type=text] {
  border-bottom: 1px #aaa solid;
}
.login-form input.btn-get-checkcode {
  color: #000;
}
.login-form input.btn-get-checkcode[disabled] {
  color: #7d7d7d;
}
.login-form input.btn-login {
  width: 100%;
  background-color: @brand-success;
  border-color: @brand-success;
  color: #fff;
}

.pane, .view{
  background-color:#f1f1f1;
}
