@import "custom.bootstrap.import.less";
.grid-block, .post, .comments li, .comment-form {
  background: #fff;
  padding: 10px;
  margin-bottom: 10px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}

body {
  color: #7d7d7d;
}
.container>.navbar,.container>.collapse{
  margin:0 -15px;
}
.navbar{
  border:none;
  margin-bottom:0;
  min-height:0;
}
.navbar.navbar-inverse{
  margin-bottom:20px;
}
.navbar ul.nav{
  margin-left:-15px;
}
.navbar.navbar-inverse ul.navbar-nav{
  overflow:hidden;
}
.navbar.navbar-inverse ul.nav > li.active a{
  margin-top:-2px;
  border-bottom:2px solid #db3e00;
}
.nav>li>a{
  padding-left:0;
  padding-right:0;
  margin-left:15px;
  margin-right:15px;
}
.navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  background-color:transparent;
}
#main {
  position: relative;
  min-height:430px;
}
.container{
  width:100%;
  max-width:930px;
}
.page {
  top: 0px;
  width: 100%;
}

#spinner {
height: 300px; }

.post {
  /* For modern browsers */
  /* For IE 6/7 (trigger hasLayout) */
  *zoom: 1;
  position: relative;
opacity: 1; }
.post:before, .post:after {
  content: "";
display: table; }
.post:after {
clear: both; }
.post.invisible {
opacity: 0; }
.post.instant {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
transition: none; }
.post.animate{
  -webkit-transition: all 300ms 0ms;
  -moz-transition: all 300ms 0ms ease-in;
  -o-transition: all 300ms 0ms ease-in;
transition: all 300ms 0ms ease-in; }
.post .upvote {
  display: block;
  margin: 7px 12px 0 0;
float: left; }
.post .post-content {
float: left; }
.post .post-content h3 {
  margin: 0;
  line-height: 1.4;
font-size: 18px; }
.post .post-content h3 a {
  display: inline-block;
margin-right: 5px; }
.post .post-content h3 span {
  font-weight: normal;
  font-size: 14px;
  display: inline-block;
color: #aaaaaa; }
.post .post-content p {
margin: 0; }
.post .discuss {
  display: block;
  float: right;
margin-top: 7px; }

.comments {
  list-style-type: none;
margin: 0; }
.comments li h4 {
  font-size: 16px;
margin: 0; }
.comments li h4 .date {
  font-size: 12px;
font-weight: normal; }
.comments li h4 a {
font-size: 12px; }
.comments li p:last-child {
margin-bottom: 0; }

.dropdown-menu span {
  display: block;
  padding: 3px 20px;
  clear: both;
  line-height: 20px;
  color: #bbb;
white-space: nowrap; }

.load-more {
  display: block;
  background: rgba(0, 0, 0, 0.05);
  text-align: center;
  height: 60px;
  line-height: 60px;
margin-bottom: 10px; }
.load-more:hover {
  text-decoration: none;
background: rgba(0, 0, 0, 0.1); }

.posts .spinner-container{
  position: relative;
  height: 100px;
}

.jumbotron{
  text-align: center;
}
.jumbotron h2{
  font-size: 60px;
  font-weight: 100;
}

@-webkit-keyframes fadeOut {
  0% {opacity: 0;}
  10% {opacity: 1;}
  90% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes fadeOut {
  0% {opacity: 0;}
  10% {opacity: 1;}
  90% {opacity: 1;}
  100% {opacity: 0;}
}

.errors{
  position: fixed;
  z-index: 10000;
  padding: 10px;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  pointer-events: none;
}
.alert {
  animation: fadeOut 2700ms ease-in 0s 1 forwards;
  -webkit-animation: fadeOut 2700ms ease-in 0s 1 forwards;
  -moz-animation: fadeOut 2700ms ease-in 0s 1 forwards;
  width: 250px;
  float: right;
  clear: both;
  margin-bottom: 5px;
  pointer-events: auto;
}
.profile {
  width: 90%;
}
.avatar {
  width: 180px;
  margin:0 auto;
  height: 240px;
  background:#999;
}
#avatarUploadFormBox {
  width: 800px;
  position: fixed;
  top: 50px;
  left: 200px;
  z-index: 9999;
  border: 1px solid black;
}
.footer{
  padding:50px 0;
}
.footer,.footer a{
  color:#797979;
}
.red{
  color:#db3e00;
}
.title{
  font-weight:300;
  font-size:18px;
  font-style:italic;
}
.title .red{
  font-weight:600;
  font-size:22px;
}
.subtitle {
  font-size:16px;
}
#login-buttons-open-change-password{
  display:none;
}
.audit-teacher .part-title {
  padding: 10px 0;
  font-size: 20px;
}
.audit-teacher .part {
  margin: 10px 0;
}
.audit-teacher .part-audit {
  padding: 10px 0;
  border-bottom: 1px dotted black;
}
.audit-teacher .part-audit .audit-action {
  float: right;
}
.audit-teacher .cert-info .section-title:first-child {
  border-top: 0;
}
.audit-teacher .cert-info .section-title {
  padding: 10px 0;
  border-top: 1px dotted black;
  font-size: 16px;
  color: black;
}
