.teachers-wrapper {
  padding: 0;
}

.single-teacher .teachers {
  margin-bottom: 10px;
}

.single-teacher .teachers .teacher {
  border-radius: 3px;
}

.teacher {
  padding: 10px 0px 10px 10px;
  border-radius: 0px;
  margin-bottom: 0px;
  border-bottom: 1px solid #e7eff2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: table;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  width: 100%;
  background: white;
}

.teacher:first-child {
  border-radius: 3px 3px 0px 0px;
}

.teacher:last-child {
  border-radius: 0px 0px 3px 3px;
}

.teacher.animate {
  -webkit-transition: ease-out,top,400ms,0ms;
  transition: ease-out,top,400ms,0ms;
}

.teacher.inactive .teacher-content {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVQYV2NkIALMnDlTkpGQOpCi9PT053gVwhSBDMOpEFkRToXoirAqxKYIQyEuRSgK8SmCKySkCKyQGEUghQC5OyXvW/4BHwAAAABJRU5ErkJggg==');
}

.teacherHead h3 {
  font-weight: normal;
  font-size: 18px;
  color: #3f3f3f;
}

.teacherHead span {
  margin-left: 10px;
  font-weight: normal;
  font-size: 14px;
  display: inline-block;
  color: #aaaaaa;
}

.teacher-module.teacher-rank {
  margin: 0;
}

.teacher-content {
  min-height: 40px;
  float: left;
}

.teacher-heading {
  margin-bottom: 3px;
  line-height: 1.2;
}

.teacher-heading .teacher-title {
  font-weight: normal;
}

@media screen and (max-width: 600px) {
  .teacher-heading .teacher-title {
    font-size: 15px;
  }
}

@media screen and (min-width: 600px) {
  .teacher-heading .teacher-title {
    font-size: 18px;
  }
}

.teacher-heading .teacher-title:visited {
  color: #b5b0b0;
}

.teacher-heading .teacher-domain {
  color: #b3c1c6;
  font-weight: normal;
}

@media screen and (max-width: 600px) {
  .teacher-heading .teacher-domain {
    font-size: 13px;
  }
}

@media screen and (min-width: 600px) {
  .teacher-heading .teacher-domain {
    font-size: 14px;
  }
}

.teacher-meta {
  font-size: 13px;
  color: #b3c1c6;
  line-height: 1.5;
}

@media screen and (max-width: 600px) {
  .teacher-meta {
    font-size: 11px;
    line-height: 1.7;
  }
}

.teacher-meta a:link,
.teacher-meta a:visited,
.teacher-meta a:active {
  color: #a4a9ab;
}

.teacher-meta a:hover {
  color: #DD3416;
}

.teacher-meta-item {
  display: inline-block;
}

.teacher-body,
.page-body {
  border-radius: 3px;
  margin-bottom: 10px;
  background: white;
  padding: 20px;
  font-size: 16px;
}

@media screen and (max-width: 600px) {
  .teachers {
    padding: 0;
  }

  .teachers .teacher-rank {
    display: none;
  }

  .teacher .teacher-content {
    margin-right: 0px;
  }
}

.no-teachers {
  padding: 20px;
  border: 1px solid rgba(0,0,0,0.1);
  font-size: 14px;
  border-radius: 3px;
  margin-bottom: 10px;
  color: rgba(0,0,0,0.5);
}

.more-button {
  display: block;
  width: 100%;
  height: 70px;
  background: rgba(0,0,0,0.05);
  text-align: center;
  color: white;
  line-height: 70px;
  font-size: 18px;
  border-radius: 0px 0px 3px 3px;
  text-shadow: 0px 1px 1px 0px rgba(0,0,0,0.25);
  padding: 0px;
}

.more-button:hover {
  background: rgba(0,0,0,0.15);
}

.module {
  border-radius: 3px;
}
.teacher-content .checkbox{
  margin: 0;
}
.teacherCert div{
  float: left;
  margin-left: 8px;
}
.teacherCert div:first-child{
  margin-left: 0;
}
.teacherAvatar{
  width: 50px;
  height: 50px;
  margin-right: 7px;
  vertical-align: middle;
  float: right;
}
.teacherCert span{
  color: #b8b8b8;
}
.ionChecked{
  color: #59e3c3;
  font-size: 20px;
}
