$greyColor: #f7f7f7;
$appBackGroundColor: #F7F7F7;
$malaRed: #ff9290;
$malaRed2: #e8413e;
$pagepadding: 14px;
$indexBorderColor: #E6E6E6;

.teacher-div > div > div:first-child{
  min-height:85px;
}
.app-layout-nav-bar{
  background-color: #E8413E;
  border-bottom: none;
}
.list-item-border-bottom{
  border-bottom: solid 1px #EFE6E6;
}
.list-item-border-top{
  border-top: solid 1px #EFE6E6;
}
//TODO: teacher-div needs to be refactored by flex
@media screen and(max-width: 199px){
  .teacher-div{
    border: none;
  }
}
@media screen and(min-width: 200px)and(max-width: 449px){
  .teacher-div{
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    border: none;
  }
}
@media screen and(min-width: 450px)and(max-width: 959px){
  .teacher-div{
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.3333%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 33.3333%;
    -ms-flex: 0 0 33.3333%;
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
    border: none;
  }
}
@media screen and(min-width: 960px)and(max-width: 1199px){
  .teacher-div{
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
    border: none;
  }
}
@media screen and(min-width: 1200px){
  .teacher-div{
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 20%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 20%;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
    border: none;
  }
}

.greyColor{
  color: $greyColor;
}

.teachers-wrapper {
  padding: 0;
}

.single-teacher .teachers {
  margin-bottom: 10px;
}

.single-teacher .teachers .teacher {
  border-radius: 3px;
}

.teacher {
  border-radius: 0px;
  margin-bottom: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: table;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  width: 100%;
  background: white;
}
.teacher-item-out{
  padding-right: $pagepadding;
  padding-left: $pagepadding;
  background: white;
  border: solid $greyColor 1px;
  border-bottom: none;
  border-top: none;
}
.teacher-item{
  border-right: none;
  border-left: none;
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 10px;
}
.teacher:first-child {
  border-radius: 3px 3px 0px 0px;
}

.teacher:last-child {
  border-radius: 0px 0px 3px 3px;
}

.teacher.animate {
  -webkit-transition: ease-out,top,400ms,0ms;
  transition: ease-out,top,400ms,0ms;
}

.teacher.inactive .teacher-content {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVQYV2NkIALMnDlTkpGQOpCi9PT053gVwhSBDMOpEFkRToXoirAqxKYIQyEuRSgK8SmCKySkCKyQGEUghQC5OyXvW/4BHwAAAABJRU5ErkJggg==');
}

.teacher-head h3 {
  font-weight: normal;
  font-size: 18px;
  font-style: normal;
  color: #3f3f3f;
}

.teacher-head span {
  margin-left: 10px;
  font-weight: normal;
  font-size: 15px;
  display: inline-block;
  color: #aaaaaa;
}

.teacher-module.teacher-rank {
  margin: 0;
}

.teacher-content {
  min-height: 40px;
  float: left;
}

.teacher-heading {
  margin-bottom: 3px;
  line-height: 1.2;
}

.teacher-heading .teacher-title {
  font-weight: normal;
}

@media screen and (max-width: 600px) {
  .teacher-heading .teacher-title {
    font-size: 15px;
  }
}

@media screen and (min-width: 600px) {
  .teacher-heading .teacher-title {
    font-size: 18px;
  }
}

.teacher-heading .teacher-title:visited {
  color: #b5b0b0;
}

.teacher-heading .teacher-domain {
  color: #b3c1c6;
  font-weight: normal;
}

@media screen and (max-width: 600px) {
  .teacher-heading .teacher-domain {
    font-size: 13px;
  }
}

@media screen and (min-width: 600px) {
  .teacher-heading .teacher-domain {
    font-size: 14px;
  }
}

.teacher-meta {
  font-size: 13px;
  color: #b3c1c6;
  line-height: 1.5;
}

@media screen and (max-width: 600px) {
  .teacher-meta {
    font-size: 11px;
    line-height: 1.7;
  }
}

.teacher-meta a:link,
.teacher-meta a:visited,
.teacher-meta a:active {
  color: #a4a9ab;
}

.teacher-meta a:hover {
  color: #DD3416;
}

.teacher-meta-item {
  display: inline-block;
}

.teacher-body,
.page-body {
  border-radius: 3px;
  margin-bottom: 10px;
  background: white;
  padding: $pagepadding;
  font-size: 16px;
}

@media screen and (max-width: 600px) {
  .teachers {
    padding: 0;
  }

  .teachers .teacher-rank {
    display: none;
  }

  .teacher .teacher-content {
    margin-right: 0px;
  }
}

.no-teachers {
  padding: $pagepadding;
  border: 1px solid rgba(0,0,0,0.1);
  font-size: 14px;
  border-radius: 3px;
  margin-bottom: 10px;
  color: rgba(0,0,0,0.5);
}

.more-button {
  display: block;
  width: 100%;
  height: 70px;
  background: rgba(0,0,0,0.05);
  text-align: center;
  color: white;
  line-height: 70px;
  font-size: 18px;
  border-radius: 0px 0px 3px 3px;
  text-shadow: 0px 1px 1px 0px rgba(0,0,0,0.25);
  padding: 0px;
}

.more-button:hover {
  background: rgba(0,0,0,0.15);
}

.module {
  border-radius: 3px;
}
.teacher-content .checkbox{
  margin: 0;
}
#teacherAudit > div:last-child{
  margin-top: 10px;
}
.teacher-content .teacher-cert div{
  margin-top: 8px;
}
.teacher-cert{
  div{
    float: left;
    margin-right: 10px;
    margin-bottom: 8px;
    div:last-child{
      margin-right: 0;
    }
    span{
      font-size: 13.3px;
    }
  }
  img{
    width: 11px;
  }
}
.teacher-avatar{
  width: 50px;
  height: 50px;
  vertical-align: middle;
  float: right;
}
.ion-checked{
  color: #59e3c3;
  font-size: 20px;
}

.modal-backdrop {
  -webkit-transition: background-color 300ms ease-in-out;
  transition: background-color 300ms ease-in-out;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: transparent;
  opacity: 1;
}

.modal-backdrop.active {
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  display: block;
  position: absolute;
  top: 0;
  z-index: 10;
  overflow: hidden;
  min-height: 100%;
  width: 100%;
  background-color: #fff;
}

@media (min-width: 680px) {
  .modal {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: visible;
    width: 100%;
  }

  .modal.ng-leave-active {
    bottom: 0;
  }

  .platform-ios.platform-cordova .modal-wrapper .modal .bar-header:not(.bar-subheader) {
    height: 44px;
  }

  .platform-ios.platform-cordova .modal-wrapper .modal .bar-header:not(.bar-subheader) > * {
    margin-top: 0;
  }

  .platform-ios.platform-cordova .modal-wrapper .modal .tabs-top > .tabs,
  .platform-ios.platform-cordova .modal-wrapper .modal .tabs.tabs-top {
    top: 44px;
  }

  .platform-ios.platform-cordova .modal-wrapper .modal .has-header,
  .platform-ios.platform-cordova .modal-wrapper .modal .bar-subheader {
    top: 44px;
  }

  .platform-ios.platform-cordova .modal-wrapper .modal .has-subheader {
    top: 88px;
  }

  .platform-ios.platform-cordova .modal-wrapper .modal .has-tabs-top {
    top: 93px;
  }

  .platform-ios.platform-cordova .modal-wrapper .modal .has-header.has-subheader.has-tabs-top {
    top: 137px;
  }
}

.modal-open {
  pointer-events: none;
}

.modal-open .modal,
.modal-open .modal-backdrop {
  pointer-events: auto;
}

.modal-open.loading-active .modal,
.modal-open.loading-active .modal-backdrop {
  pointer-events: none;
}

.modal h2{
  font-style: normal;
}
.normal-title{
  font-style: normal;
  color: #FFFFFF;
}
.teacher-detail-name{
  height:30px;
}
.teacher-detail-head{
  text-align: center;
  position: relative;
  margin: 0 auto;
  vertical-align: bottom;
  height: auto;
  padding: $pagepadding;
  padding-top: 25px;
  padding-bottom: 20px;
  > div{
    bottom: 0;
    display: -webkit-inline-box;
    > img{
      vertical-align: middle;
      display: inline;
      width: 84.7px;
      height: 84.7px;
      border: solid 2px rgba(255, 255, 255, .8);
    }
  }
  > div:nth-child(2){
    display: block;
    font-size: 16px;
    color: #FFFFFF;
    margin-top: 20px;
    font-weight: 500;
  }
  > div:last-child{
    display: block;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
  }
}
.teacher-detail-item-head{
  width: 115px;
  display: -webkit-flex;
  display: inline-flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
.teacher-detail-item-head-float{
  float: left;
}

.teacher-detail-item-name{
  font-size: 18px;
}
.teacher-detail-item-span{
  font-size: 16px;
}
.teacher-detail-submit{
  padding-bottom: 50px;
}
.order-detail{
  width: 100%;
  background-color: $appBackGroundColor;
  .item{
    border: none;
    margin: 0;
    padding: 0;
    > div{
      background-color: #FFFFFF;
      padding-top: 16px;
      padding-bottom: 16px;
      font-size: 16px;
      color: #000000;
      > div:first-child{
        float: right;
        color: #5d5d5d;
      }
    }
    hr, .element-clear-both{
      margin: 0;
      padding: 0;
    }
  }
  .od-far{
    color: $malaRed2;
  }
  .list{
    > div{
      @extend .list-item-border-bottom;
      padding-left: $pagepadding;
      padding-right: $pagepadding;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
  .order-detial-item-box{
    display: inline-block;
    width: 100%;
  }
  .order-address{
    margin-top: 6px;
  }
  .item-icon-right{
    cursor: pointer;
    padding-right: 0;
    > div:first-child{
      margin-top: -5px;
    }
    i{
      position: static;
      color: #D2B3B3;
      font-size: 30px;
    }
  }
  .bottom-btn-view{
    @extend .list-item-border-top;
    .col-xs-6:first-child{
      color: $malaRed2;
    }
  }
  .button-bar > .button{
    border-width: 1px 1px 1px 1px;
    border-color: #ef473a;
  }
  .button-bar > .button:last-child{
    margin-left: 12px;
    border-radius: 3.3px;
  }
  .button-bar > .button:first-child {
    border-radius: 3.3px;
    color: #ef473a;
  }
}
#addressDetail{
  margin-top: 10px;
  padding-left: 5px;
  height: 40px;
  line-height: 40px;
  background-color: #F7F7F7;
  border: solid 1px #e6e6e6;
}
#addressDetail::-moz-placeholder,
#addressDetail:-ms-input-placeholder,
#addressDetail::-webkit-input-placeholder{
  padding-left: 5px;
  color: red;
}
.order-detail-head, .index-page-title-head{
  font-size: 16px;
  color: #000;
  font-weight: normal;
  letter-spacing: 2px;
}
.order-detail-avatar{
  display: table;
  float: left;
}

.orders-detail{
  width: 100%;
  float: left;
  background-color: $appBackGroundColor;
  > div{
    border-left: none;
    border-right: none;
    padding-left: 0;
    padding-right: 0;
  }
}
.orders-detail-order{
  @extend .list-item-border-bottom;
  clear: both;
  margin-top: 10px;
  color: #000;
  font-size: 16px;
  font-weight: 400;
  padding-right: $pagepadding;
  padding-left: $pagepadding;
  background-color: #FFFFFF;
  padding-top: 16.7px;
  > div:first-child{
    float: left;
    width: 76.7px;
    min-height: 76.7px;
    font-size: 15px;
    color: $greyColor;
    white-space:nowrap;
    margin-bottom: 5px;
    img{
      width: 66.7px;
    }
  }
  > div:nth-child(2){
    width: auto;
    > div:first-child{
      float: right;
      margin-top: 5px;
      text-align: right;
      > div:last-child{
        margin-top: 7px;
      }
    }
    > div:last-child{
      margin-top: 10px;
      float: left;
      > div:last-child{
        margin-top: 8px;
      }
    }
  }
  > div:last-child{
    line-height: 50px;
    vertical-align: middle;
    display: inline-block;
    width: 100%;
    margin-top: -20px;
    > div:first-child{
      float: right;
      text-align: right;
      line-height: 30px;
      margin-top: 10px;
      width: auto;
      white-space:nowrap;
      .button{
        min-height: 30px;
        line-height: 30px;
        margin-left: 10px;
      }
    }
    > div:last-child{
      float: left;
    }
  }
}
.teachers-grid-view{
  background-color: $appBackGroundColor;
  .teachers-recommend-item{
    margin: 5.7px 6.7px 6.7px 6.7px;
    background-color: #FFFFFF;
  }
}
.teacher-div > div:first-child{
  margin: 5px;
  border: solid #919191 1px;
}
.teacher-div > div > div:first-child{
  text-align: left;
}
.teachers-grid{
  clear: both;
}
.teachers-grid > a > div{
  float: left;
}
.teachers-grid h3{
  font-size: 17px;
}

.teacher-subject{
  position: relative;
  width: 96px;
  height: 22px;
  bottom: 32px;
  left: 10px;
  line-height: 22px;
  font-size: 15px;
  font-weight: 600;
  display: inline-table;
  background-color: #303030;
  color: #ffffff;
  filter:alpha(opacity=20);
  -moz-opacity:0.8;
  opacity:0.8;
  vertical-align:middle;
  text-align: center;
}
.teacher-profile{
  padding-top: 10px;
}
.teacher-profile > div:first-child{
  float: left;
  overflow: hidden;
  white-space:nowrap;
  width: 64%;
}
.teacher-profile > div:last-child{
  float: right;
  font-size: 18px;
}
.teacher-icon-inactive{
  color: #cacaca;
}
.teacher-icon-id-active{
  color: #fdc922;
}
.teacher-icon-edu-active{
  color: #fc9a25;
}
.teacher-icon-cert-active{
  color: #e65b0d;
}
.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  height: 40px;
  text-align: center;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-slide-active{

}
.teach-subject-select{
  .content{
    text-align: center;
    margin:0 auto;
    > div{
      height: 100%;
      > div{
        float: left;
        width: 50%;
        height: 100%;
      }
    }
  }
  .swiper-button-prev{
    background-image: none;
    left: 0;
    width: 100%;
    border: none;
    cursor: auto;
    background-color: #B9CCA1;
    opacity: .2;
  }
  .swiper-button-disabled{
    opacity: .6;
  }
  .swiper-slide{
    font-size: 14.7px;
    color: #e5e5e5;
  }
  .swiper-slide-prev, .swiper-slide-next{
    color: #aaaaaa;
  }
  .swiper-slide-active{
    color: #333333;
  }
  .swiper-button-prev{
    height: 35px;
    margin-top: -19px;
  }
}
.order-empty{
  width: 100%;
  padding-right: $pagepadding;
  padding-left: $pagepadding;
  display: inline;
  text-align: center;
}
.order-empty button{
  max-width: 150px;
  display: inline;
  float: none;
}
.order-empty > div:first-child{
  font-size: 217px;
  color: #dbdbdb;
}
.order-empty > div:nth-child(2){
  color: #9b9b9b;
}
.order-empty > div:last-child{
  margin-top: 30px;
}

.swiper-wrapper{
  -webkit-overflow-scrolling: touch;
}

.swiper-visible-switch {
  opacity: 1;
  top: 0;
  background: #aaa;
}
.swiper-slide-in{
  font-size: 28px;
  font-weight: 600;
  color: #695757;
}
.location-map{
  text-align: center;
}
.tangram-suggestion-main{
  z-index: 5;
}
.BMap_geolocationAddress{
  display: none;
}
.index-page{
  background-color: #FFFFFF;
}
.index-page a{
  color: #000000;
}
.index-page a:link{
  color: #000000;
}
.index-page a:visited{
  color: #000000;
}
.index-page a:hover{
  color: #000000;
}
.index-page a:active{
  color: #000000;
}
.index-page > div{
  height: 50%;
}
.index-page-nav > div{
  width: 100%;
  height: 50%;
}
.index-page-nav a{
  width: 100%;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  img{
    width: 48.8%;
  }
}
.index-page-nav > div > div{
  width: 50%;
  height: 100%;
  float: left;
  display: table;
  color: #000000;
  font-size: 20px;
}
.index-page-cell{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.index-page-cell i{
  font-size: 70px;
  display: block;
}
.index-page-nav > div:first-child > div:first-child{
  border: solid $indexBorderColor 1px;
  border-left: none;
}
.index-page-nav > div:first-child > div:last-child{
  border-top: solid $indexBorderColor 1px;
  border-bottom: solid $indexBorderColor 1px;
}
.index-page-nav > div:last-child > div:first-child{
  border-right: solid $indexBorderColor 1px;
}
.index-swiper .swiper-slide, .index-swiper img, .index-swiper a{
  height: 100%;
}
.index-swiper a{
  width: 100%;
}
.page-view{
  background-color: $appBackGroundColor;
  text-align: center;
}
.page-view > div{
  margin: 0 auto;
  width: 100%;
}
.page-view .list:last-child{
  margin-bottom: 100px;
}
.page-view .item:last-child{
  border-bottom: none;
}
.page-view{
  .item{
    border-top: 0;
    padding-left: 0;
    padding-right: 0;
    border-right: 0;
    border-left: 0;
    margin: 0 auto;
  }
  .item:nth-child(2){
    width: 100%;
  }
  .item:nth-child(n+4){
    border-bottom: 0;
    padding-bottom: 0;
  }
  .item:nth-child(3){
    cursor: pointer;
  }
  .item:nth-child(4){
    cursor: pointer;
    padding-top: 0;
    margin-bottom: 0;
    img{
      height: 21px;
      vertical-align: middle;
    }
    > div{
      padding-top: 0;
    }
  }
  .item:nth-child(5){
    > div{
      height: 33px;
    }
  }
  .item:nth-child(6){
    background-color: #FFFFFF;
    padding-top: 16px;
    padding-bottom: 16px;
    span{
      display: block;
      color: #5D5D5D;
      font-size: 12.7px;
      margin-top: 3px;
    }
    img{
      height: 28px;
    }
    > div{
      cursor: pointer;
      width: 50%;
    }
    > div:first-child{
      float: left;
    }
    > div:last-child{
      float: right;
      border-left: solid 1px;
      border-color: #E5E5E5;
    }
  }
}
.teachers-filter{
  > div{
    line-height: 18px;
    > div{
      text-align: center;
    }
  }
  .item{
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: none;
    > div{
      padding-top: 6px;
    }
  }
  .teachers-filter-top-border{
    border-top: solid 1px;
    border-color: #E5E5E5;
  }
  .teachers-filter-head{
    width: 100%;
    background-color: #F7F7F7;
  }
}
.place-holder-div{
  float: left;
  width: 110px;
  height: 41px;
}
.teacher-way-select i{
  color: #c0c0c0;
}
.teacher-way-select span{
  font-size: 20px;
  color: #988c8d;
}
.page-view .subject-grade-select{
}
#subjectGradeSelect .overflow-scroll{
  top: 3px;
  bottom: 3px;
}
.selectTeachSubjectTeachersFilter{
  display: none;
}
.swiper-middle-line{
  border-right: solid #a4a4a4 1px;
  height: 23px;
  width: 0px;
  position: absolute;
  top: 52%;
  right: 0;
  margin-top: -16px;
}
.map-page-head{
  width: 95%;
}
.map-page-head #searchInput{
  padding-left: 12px;
}
.map-page-head .icon{
  left: 0;
}
.location-map-info{
  width: 100%;
  background-color: #FFFFFF;
  bottom: 0;
  text-align: left;
  padding-left: 6px;
}
#allmap{
  width: 100%;
  height: 60%;
}
.location-map-info i{
  font-size: 23px;
  min-width: 60px;
}
.location-map-info-i-select{
  color: #000000;
}
.location-map-info-i-no-select{
  color: #c9c9c9;
}
.location-map-info span{
  padding-left: 5px;
  font-size: 19px;
}
.location-map-info > div:last-child{
  margin-top: 3px;
  padding-left: $pagepadding;
  color: #a4a4a4;
  font-size: 16px;
}
.location-map-list{
  background-color: #FFFFFF;
  width: 100%;
  height: 40%;
  overflow-y: auto;
}
.location-map-list .item{
  padding: 5px;
  padding-left: 0;
}
.location-map-list .item:last-child{
  margin-bottom: 50px;
}
.study-address{
  font-size: 19px;
  height: 44px;
  line-height: 44px;
  vertical-align: middle;
  span{
    margin-left: 2px;
    font-size: 15px;
    color: #988c8d;
  }
}
.loading-container{
  z-index: 1000;
}
.teachers-filter-nearest{
  span{
     font-size: 15px;
     color: #000000;
  }
  > div > div:first-child{
    float: left;
    width: 50%;
    margin-right: -50px;
    padding-right: 40px;
  }
  > div > div:last-child{
    width: 100px;
    margin: 0 auto;
  }
  > div > div:nth-child(2){
    float: right;
    width: 50%;
    margin-left: -50px;
    padding-left: 40px;
  }
  hr{
    border-style: double;
    border-color: #c0c0c0;
    border-top: 1px;
    border-bottom-width: 1px;
  }
}
.teachers-list-other-teacher-split-line{
  @extend .teachers-filter-nearest;
  clear: both;
  width: 97%;
  margin: 0 auto;
  > div > div:first-child{
    padding-right: 34px;
  }
  > div > div:nth-child(2){
    padding-left: 36px;
  }
  > div > div:last-child{
    line-height: 43px; width: 60px;
  }
}
.teachers-filter-study-center-item{
  overflow: hidden;
  padding: 10px;
  font-size: 16px;
  width: 95%;
  background-color: #f1f1f1;
  margin: 0 auto 20px auto;
  width: 95%;
  margin: 0 auto;
  display: table;
}
.teachers-filter-study-center-item > div{
  display: table-cell;
  vertical-align: middle;
}
.teachers-filter-study-center-item > div:first-child{
  width: 40%;
}
.teachers-filter-study-center-item > div:last-child{
  width: 60%;
}
.teachers-filter-study-center-item img{
  width: 100%;
}
.teachers-filter-study-center-item span{
  font-size: 21px;
  display: block;
}
.teachers-filter-study-center-item i{
  font-size: 40px;
  position: absolute;
  background-color: #f1f1f1;
  left: 4%;
  margin-top: -10px;
  z-index: 20;
}
.study-center-item-select{
  border: solid #000 2px;
}
.study-center-item-select i{
  color: #000000;
}
.study-center-item-no-select{
  border: none;
}
.study-center-item-no-select i{
  color: #E0D5D5;
}
.teachers-filter-study-center-item-info{
  text-align: left;
  padding-left: $pagepadding;
}
.teachers-filter-study-center-item-info span{
  line-height: 25px;
}
.teachers-filter-study-center-item-info > p:nth-last-child(2){
  float: left;
}
.teachers-filter-study-center-item-info > p:last-child{
  float: right;
}
#teachersFilterNearestStudyCenter{
  display: none;
}
.teacher-item-no-recommend-info{
  width: 100%;
  padding: 3px;
  color: #000000;
  margin-top: -19px;
  h3{
    font-size: 17px;
    margin-bottom: 0;
    white-space: nowrap;
  }
  > div{
    text-align: center;
    > div:first-child{
      line-height: 1px;
    }
    > div:nth-child(2){
      vertical-align: middle;
      white-space: nowrap;
    }
  }
}
.teacher-subject-grade-info{
  color: #988c8d;
  font-weight: 500;
}
.teacher-subject-grade-info-recommend{
  @extend teacher-subject-grade-info;
  font-size: 14px;
  margin-left: 5px;
  color: #988c8d;
  font-weight: 500;
}
.world-nowrap{
  white-space: nowrap;
}
.recommend-teacher-body{
  text-align: left;
  img{
    width: 100%;
    height:180px;
  }
}
.recommend-teacher-subject{
  font-size: 18px;
  padding: 8px;
  margin-top: -20px;
  text-align: center;
  h3{
    font-size: 17px;
    margin-bottom: 4px;
  }
}
.sticky-nav{
  width:100%;
}
body>.sticky-nav{
  position:absolute;
  z-index:8;
  background-color:white;
  top: -2px;;
  padding:0;
  display:none;
  .nav{
    li.active{
      div{
        border-style: solid;
        border-width: 2px 0;
        color: $malaRed2;
        border-color: $malaRed2;
      }
    }
  }
}
.sticky-nav .nav{
  li{
    width: 50%;
    float: left;
    color: $greyColor;
    >a {
      padding: 0;
      text-align: center;
      cursor: pointer;
      font-size: 16px;
      margin:0;
      height: 44px;
      > div{
        display: inline-block;
        height: 100%;
        padding-top: 14.7px;
        padding-right: 20px;
        padding-left: 20px;
        color: #000000;
      }
    }
  }
}
.teacher-detail{
  top: 0;
  background-color: $appBackGroundColor;
  p{
    line-height: 12px
  }
  >div{
    padding-left: $pagepadding;
    padding-right: $pagepadding;
    width:100%;
  }
  > div:first-child{
    padding-left: 0;
    padding-right: 0;
  }
  >div.above-tabs,>div.sticky-nav{
    padding:0;
  }
  .row{
    margin:0;
  }
  .star-content{
    background-color: #FFFFFF;
    img{
      width: 12.7px;
    }
    > div{
      text-align: center;
      padding-top:15px;
      > p:first-child{
        color: #000000;
        font-size: 14px;
        white-space: nowrap;
        margin-bottom: 0;
        > img:nth-child(n+2){
          margin-left: 3.3px;
        }
        > img:first-child{
          margin-left: 6.7px;
        }
      }
      > p:last-child{
        color: #5D5D5D;
        margin-top: 7px;
        font-size: 12px;
        line-height: 20px;
      }
    }
  }
  .teacher-detail-tab-content, #teacherAudit, .teacher-detail-split-line, .teacher-person-img-show,
  .teacher-edu-results, .teacher-detial-study-center, .teacher-detial-go-home,
  .teacher-detail-schedule-weekly, #teacherEvaluation{
    background-color: #FFFFFF;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .teacher-person-img-show, .teacher-edu-results, .teacher-detial-study-center, .teacher-detial-go-home, #teacherEvaluation{
    margin-top: 10px;
  }
  .teacher-detail-tab-content, #teacherAudit, .teacher-person-img-show, .teacher-edu-results,
  .teacher-edu-results, .teacher-detail-schedule-weekly, #teacherEvaluation{
    border-bottom: 1px solid #eeeeee;
  }
  hr{
    margin: 0;
  }
}
.teacher-detail-view{
  .bottom-btn-view{
    @extend .list-item-border-top;
  }
}
.teacher-detail-top{
  background-image: url(https://s3.cn-north-1.amazonaws.com.cn/mala.upload/jMYxtWmz8Q8jiBsdt/a5b1366e-0b4f-40b2-87c0-6a76c461fe64.jpeg);
  background-size: 100% 100%;
  background-color: transparent;
  background-color: #967878;
  > div:first-child{
    text-align: center;
    font-size: 19px;
    padding-top: 15px;
    color: #FFFFFF;
    > div:first-child{
      float: left;
      font-size: 30px;
      margin-top: -6px;
      padding-left: 7px;
      width: 35px;
      text-align: left;
      cursor: pointer;
    }
  }
}
.teacher-detail-sp-info{
  width: 100%;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #FFFFFF;
  > div:first-child{
    width: 85px;
    font-size: 16px;
    color: #333333;
  }
  > div:last-child{
    width: 100%;
    color: #5d5d5d;
    font-size: 13.3px;
    padding-top: 3px;
  }

}
.teacher-person-img-show{
  overflow: auto;
  > div:last-child{
    margin-top: 40px;
  }
}
.teacher-swiper-container{
  height: 75px;
}
.teacher-swiper-container img{
  height: 100px;
  width: 100%;
}
.teacher-more-info{
  float: right;
  color: #C5B2B2;
  font-size: 14px;
  cursor: pointer;
}
#eduReults{
  line-height: 25px;
  overflow: hidden;
  height: 52px;
  margin-top: 10px;
}
#experience{
  line-height: 25px;
  overflow: hidden;
  height: 76px;
  margin-top: 10px;
}
.teacher-detial-study-center i{
  display: none;
}
.teacher-detial-study-center > div:last-child{
  margin-top: 10px;
}
#evaluationInfo{
  margin-top: 10px;
  i{
    font-size: 20px;
  }
  .comment-user-avatar{
    width: 38.3px;
    display: inline;
  }
  > div:last-child{
    color: #5d5d5d;
    clear: both;
  }
  > div:first-child{
    > div:first-child{
      width: auto;
      float: left;
    }
    > div:last-child{
      padding-left: 45px;
      > div:first-child{
        float: right;
      }
    }
  }
  .comments-stars{
    white-space: nowrap;
    img{
      width: 12px;
    }
  }
}
.teachers-filter .teachers-filter-study-center-item{
  margin: 0 auto 20px auto;
}
.teacher-swiper-container-modal{
  width: 100%;
  height: 100%;
}
.teacher-swiper-container-modal .swiper-wrapper{
  position: relative;
  width: 100%;
  height: 100%;
}
.teacher-swiper-container-modal .swiper-slide{
  text-align: center;
  font-size: 18px;
  background: #414141;
  height: 100%;
}
.teacher-swiper-container-modal img{
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  top: 50%;
  padding-left: 10px;
  padding-right: 10px;
}
.teacher-detail-photos-show{
  background: #414141;
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}
.teacher-detail-study-centers > div > div:first-child img{
  max-height: 100px;
}
.teacher-detail-study-centers > div{
  margin-top: 10px;
}
.teacher-detail-study-centers .teachers-filter-study-center-item-info{
  padding-left: 7px;
}
.teacher-detail-study-centers .teachers-filter-study-center-item-info span{
  margin-bottom: 20px;
}
.teacher-detail-study-centers .teachers-filter-study-center-item{
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}
.view-both-side-margin{
  margin-right: $pagepadding;
  margin-left: $pagepadding;
}
.course-attendance-comment-head{
  margin-top: 12px;
  font-size: 20px;
  padding-top: 18px;
  padding-bottom: 18px;
  background-color: #FFFFFF;
  padding-left: $pagepadding;
  padding-right: $pagepadding;
  display: inline-block;
  width: 100%;
  > div:first-child{
    float: left;
    img{
      width: 78px;
    }
  }
  > div:last-child{
    font-size: 16px;
    padding-top: 3px;
    padding-left: 90px;
  }
  > div:last-child > div:first-child{
      float: right;
      color: $malaRed2;
  }
  > div:last-child > div:last-child{
    padding-top: 3px;
    color: #5d5d5d;
  }
  p{
    line-height: 20px;
  }
  @extend .list-item-border-bottom;
}
.view-page-common{
  background-color: $appBackGroundColor;
  textarea{
    border: solid #c2c2c2 1px;
    padding: 10px;
  }
}
.course-attendance-comment-evaluate{
  @extend .list-item-border-bottom;
  background-color: #FFFFFF;
  margin-top: 12px;
  padding-left: $pagepadding;
  padding-right: 5px;
  padding-top: 17px;
  padding-bottom: 17px;
  > div > div:last-child{
   font-size: 16px;
   line-height: 33px;
   span{
     color: #b2b2b2;
   }
 }
}
.course-attendance-comment-evaluate-i{
  float: right;
  font-size: 30px;
  width: 166px;

  img{
    cursor: pointer;
    width: 25px;
  }
}
.course-attendance-comment-cominfo{
  @extend .list-item-border-bottom;
  background-color: #FFFFFF;
  margin-top: 12px;
  padding-left: $pagepadding;
  padding-right: $pagepadding;
  padding-top: 17px;
  padding-bottom: 17px;
  textarea{
    background-color: #F9EEEE;
  }
}
.pop-remind-template{
  text-align: center;
}
.comments-page-total-score{
  margin-top: 20px;
  margin-bottom: 16.7px;
  > div:first-child{
    float: right;
    text-align: right;
    > div:first-child{
      font-size: 17px;
    }
    > div:last-child{
      font-size: 15px;
    }
  }
  > div:last-child{
    font-size: 16px;
  }
  .comments-stars{
    img{
      width: 17.3px;
    }
  }
}
.comments-page-mala-score{
  font-size: 16px;
  margin-bottom: 20px;
  > div:first-child{
    margin-bottom: 10px;
  }
  > div > div:first-child{
    float: right;
    word-break: keep-all;
    white-space: nowrap;
  }
  .comments-stars{
    img{
      width: 17.3px;
    }
  }
  span{
    color: #b2b2b2;
  }
}
.comments-page-tab{
  width: 33%;
  float: left;
  text-align: center;
  padding: 0;
  font-size: 20px;
  color: #000000;
  cursor: pointer;
}
.comments-nav-tatic{
  width: 100%;
  margin-top: 15px;
}
.element-clear-both{
  clear: both;
}
.study-address-order{
  font-size: 20px;
  margin-top: 10px;
  span{
    margin-left: 2px;
    font-size: 15px;
    color: #988c8d;
  }
}
.top-tab-nav{
  .tabs{
    border: none;
  }
  .tabs .tab-item{
    font-size: 20px;
  }
  a{
    border: solid $greyColor 1px;
    border-top: none;
    border-left: none;
    border-right: none;
  }
  a:first-child{
    margin-left: 10px;
  }
  a:last-child{
    margin-right: 10px;
  }
}
.nav-fixed-top{
  position: absolute;
  z-index: 8;
  background-color: #FFFFFF;
  top: 27px;
  display: none;
}
.alter-page-view{
  text-align: center;
}
.raffle-page-content{
  text-align: center;
  margin-top: 20px;
  > div:last-child{
    margin-top: 20px;
    span{
      display: block;
      font-size: 20px;
      margin-bottom: 20px;
    }
    button{
      width: 200px;
    }
  }
}
.raffle-view{
  > div > div{
    display: inline-block;
    width: 150px;
    height: 150px;
    line-height: 150px;
    border: solid red 1px;
    border-radius: 50%;
    margin-top: 5px;
    margin-left: 5px;
    background-color: #d8d8d8;
    cursor: pointer;
  }
  img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }
}
.raffle-money-view{
  display: none;
  > div{
    float: left;
  }
  > div:first-child{
    font-size: 23px;
    margin-left: 20px;
    margin-top: -19px;
  }
  > div:last-child{
    font-size: 50px;
  }
}
.raffle-money-selected{
  background-color: #D26060;
}
@-webkit-keyframes raffle-rotate{
  from{-webkit-transform: rotateY(0deg);}
  to{-webkit-transform: rotateY(360deg);}
}
@-moz-keyframes raffle-rotate{
  from{-moz-transform: rotateY(0deg);}
  to{-moz-transform: rotateY(360deg);}
}
@-ms-keyframes raffle-rotate{
  from{-ms-transform: rotateY(0deg);}
  to{-ms-transform: rotateY(360deg);}
}
@-o-keyframes raffle-rotate{
  from{-o-transform: rotateY(0deg);}
  to{-o-transform: rotateY(360deg);}
}
.raffle-animate{
    -webkit-animation: .2s linear 0s normal none infinite raffle-rotate;
       -moz-animation: .2s linear 0s normal none infinite raffle-rotate;
        -ms-animation: .2s linear 0s normal none infinite raffle-rotate;
         -o-animation: .2s linear 0s normal none infinite raffle-rotate;
            animation: .2s linear 0s normal none infinite raffle-rotate;
}
.coupon-confirm-view-button{
  padding: 0 $pagepadding;
  text-align: center;
  border-top-style: dotted;
  border-top-width: 2px;
  border-top-color: #DED5D5;
  padding-top: 20px;
}
.coupon-confirm-view-head{
  width: 250px;
  margin-top: 30px;
  background-color: #F9E5E5;
  margin-left: auto;
  margin-right: auto;
  border: solid #ECC6C6 1px;
  text-align: center;
  > div:first-child{
    margin-top: 30px;
    margin-left: -25px;
    > div{
      float: left;
      width: 50%;
    }
    > div:first-child{
      text-align: right;
      font-size: 20px;
      margin-top: -8px;
      font-family: -webkit-pictograph;
    }
    > div:last-child{
      text-align: left;
      font-size: 40px;
    }
  }
  > div:nth-child(2){
    clear: both;
    font-size: 30px;
    margin-top: 80px;
  }
  > div:nth-child(3){
    font-size: 18px;
    margin-top: 12px;
    margin-left: -45px;
    margin-bottom: 20px;
  }
}
.coupon-confirm-view-note{
  width: 250px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}
.coupons-list{
  width: 100%;
  padding-right: $pagepadding;
  padding-left: $pagepadding;
  float: left;
  background-color: $appBackGroundColor;
  > div{
    border-left: none;
    border-right: none;
    padding-left: 0;
    padding-right: 0;
  }
}
.coupons-list-detail{
  padding-top: 10px;
  > div{
    padding: 25px;
    background-color: #dfdfdf;
    height: 130px;
    line-height: 130px;
    vertical-align: middle;
  }
  > div:nth-child(2){
    float: right;
    font-size: 50px;
    padding-top: 0;
    padding-bottom: 0;
    color: #D6C3C3;
  }
  > div:last-child{
    width: auto;
    padding-left: 150px;
    > div:first-child{
      font-size: 20px;
      line-height: normal;
    }
    > div:nth-child(n+2){
      font-size: 15px;
      line-height: normal;
      margin-top: 3px;
    }
  }
  > div:first-child{
    float: left;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: #D8D0D0;
    > div:first-child{
      font-family: -webkit-pictograph;
      font-size: 30px;
      line-height: normal;
    }
    > div:last-child{
      font-size: 15px;
      margin-top: 7px;
      line-height: normal;
    }
  }
}
.coupons-empty{
  @extend .order-empty;
}
.introduce-view{
  width: 100%;
  padding-right: $pagepadding;
  padding-left: $pagepadding;
}
.introduce-view:first-child{
  margin-top: $pagepadding;
}
.introduce-view-video{
  text-align: center;
  > video{
    width: 100%;
  }
}
.coupon-selected{
  color: #000000;
}
.inde-page-swiper-parent{
  background-color: #B19E9E;
  > div{
    text-align: right;
  }
  .swiper-pagination{
    text-align: right;
    position: relative;
    display: inline;
    padding: 0 10px 3px 10px;
    bottom: 30px;
    border-radius: 10px;
    margin-right: 8px;
    background-color: #000000;
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    opacity:0.5;
  }
  .swiper-pagination-bullet{
    width: 4px;
    height: 4px;
    background-color: #cbcbcd;
  }
  .swiper-pagination-bullet-active{
    width: 6.7px;
    height: 6.7px;
    background-color: #e8413d;
  }
  .swiper-container-horizontal > .swiper-pagination .swiper-pagination-bullet{
    margin: 0px 3.3px;
  }
  .swiper-title{
    position: absolute;
    width: 100%;
    left: 12px;
    bottom: 11px;
    text-align: left;
    font-size: 14px;
    color: #FFFFFF;
    font-weight: bold;
    img{
      width: 12px;
      height: 12px;
      margin-right: 8px;
    }
  }
}
.app-index-head{
  width: 100%;
  height: 100%;
  text-align: center;
  img{
    height: 39px;
  }
}
.teacher-div-stars{
  img{
    width: 13px;
  }
  img:nth-child(n+2){
    margin-left: 3px;
  }
}
.comments-stars{
  img{
    width: 17px;
  }
}
.mala-top-tab-nav{
  > .tabs .tab-item{
    line-height: 49px;
  }
  .tabs{
    .tab-item{
      line-height: 49px;
      color: #000000;
      display: inline-block;
      padding-left: 20px;
      padding-right: 20px;
    }
    .active{
      color: #E8413E;
      border-color: #E8413E;
    }
  }
  a{
    text-align: center;
  }
}
.orders-top-nav{
  a{
    width: 50%;
  }
}
.comment-detail-body{
  > div:first-child{
    > div:first-child{
      width: 38.3px;
      float: left;
    }
    > div:last-child{
      padding-left: 50px;
      > div:first-child{
        float: right;
        font-size: 12px;
        color: #939393;
      }
      > div:nth-child(2){
        font-size: 13.3px;
        color: #333333;
      }
    }
  }
  > div:last-child{
    font-size: 13.3px;
    color: #5d5d5d;
    margin-top: 7px;
  }
  .comments-stars{
    img{
      width: 12px;
    }
  }
  hr{
    margin-bottom: 16.7px;
    margin-top: 16.7px;
  }
}
.comments-page-nav{
  width: 100%;
  border-bottom: solid 1px #e6e6e6;
  margin-bottom: 20px;
  hr{
    width: 100%;
    border: none;
    margin: 0;
  }
  > div > div{
    display: inline-block;
    height: 100%;
    height: 44px;
    line-height: 44px;
    padding-right: 20px;
    padding-left: 20px;
  }
  .teacher-detail-tab-active{
    > div{
      color: $malaRed2;
      border-bottom: solid 2px $malaRed2;
    }
  }
}
.comments-page-nav-pre{
  hr{
    margin-bottom: 0;
  }
}
