$greyColor: #b8b8b8;

.teacher-div>div{
  min-height:85px;
}
//TODO: teacher-div needs to be refactored by flex
@media screen and(max-width: 199px){
  .teacher-div{
    border-left: none;
    border-right: none;
  }
  .teacher-a:first-child > div{
    border-top: solid #d2d2d2 1px;
  }
  .teacher-a:last-child > div{
    border-top: solid #d2d2d2 1px;
  }
}
@media screen and(min-width: 200px)and(max-width: 449px){
  .teacher-div{
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .teacher-div:nth-child(2n+1){
    border-left: none;
  }
  .teacher-div:nth-child(2n){
    border-left: none;
    border-right: none;
  }
  .teacher-a:first-child > div{
    border-top: solid #d2d2d2 1px;
  }
  .teacher-a:nth-child(2) > div{
    border-top: solid #d2d2d2 1px;
  }
  .teacher-a:nth-child(2n) > div{
    border-right: none;
    padding-right: 9px;
  }
}
@media screen and(min-width: 450px)and(max-width: 959px){
  .teacher-div{
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.3333%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 33.3333%;
    -ms-flex: 0 0 33.3333%;
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
  }
  .teacher-div:nth-child(3n+1){
    border-left: none;
  }
  .teacher-div:nth-child(3n+2){
    border-left: none;
  }
  .teacher-div:nth-child(3n){
    border-left: none;
    border-right: none;
  }
  .teacher-a:first-child > div{
    border-top: solid #d2d2d2 1px;
  }
  .teacher-a:nth-child(2) > div{
    border-top: solid #d2d2d2 1px;
  }
  .teacher-a:nth-child(3) > div{
    border-top: solid #d2d2d2 1px;
  }
  .teacher-a:nth-child(3n) > div{
    border-right: none;
    padding-right: 9px;
  }
}
@media screen and(min-width: 960px)and(max-width: 1199px){
  .teacher-div{
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .teacher-div:nth-child(4n+1){
    border-left: none;
  }
  .teacher-div:nth-child(4n+2){
    border-left: none;
  }
  .teacher-div:nth-child(4n+3){
    border-left: none;
  }
  .teacher-div:nth-child(4n){
    border-left: none;
    border-right: none;
  }
  .teacher-a:first-child > div{
    border-top: solid #d2d2d2 1px;
  }
  .teacher-a:nth-child(2) > div{
    border-top: solid #d2d2d2 1px;
  }
  .teacher-a:nth-child(3) > div{
    border-top: solid #d2d2d2 1px;
  }
  .teacher-a:nth-child(4) > div{
    border-top: solid #d2d2d2 1px;
  }
  .teacher-a:nth-child(4n) > div{
    border-right: none;
    padding-right: 9px;
  }
}
@media screen and(min-width: 1200px){
  .teacher-div{
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 20%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 20%;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
  .teacher-div:nth-child(5n+1){
    border-left: none;
  }
  .teacher-div:nth-child(5n+2){
    border-left: none;
  }
  .teacher-div:nth-child(5n+3){
    border-left: none;
  }
  .teacher-div:nth-child(5n+4){
    border-left: none;
  }
  .teacher-div:nth-child(5n){
    border-left: none;
    border-right: none;
  }
  .teacher-a:first-child > div{
    border-top: solid #d2d2d2 1px;
  }
  .teacher-a:nth-child(2) > div{
    border-top: solid #d2d2d2 1px;
  }
  .teacher-a:nth-child(3) > div{
    border-top: solid #d2d2d2 1px;
  }
  .teacher-a:nth-child(4) > div{
    border-top: solid #d2d2d2 1px;
  }
  .teacher-a:nth-child(5) > div{
    border-top: solid #d2d2d2 1px;
  }
  .teacher-a:nth-child(5n) > div{
    border-right: none;
    padding-right: 9px;
  }
}

.greyColor{
  color: $greyColor;
}

.teachers-wrapper {
  padding: 0;
}

.single-teacher .teachers {
  margin-bottom: 10px;
}

.single-teacher .teachers .teacher {
  border-radius: 3px;
}

.teacher {
  border-radius: 0px;
  margin-bottom: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: table;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  width: 100%;
  background: white;
}
.teacher-item-out{
  padding-right: 20px;
  padding-left: 20px;
  background: white;
  border: solid #ddd 1px;
  border-bottom: none;
  border-top: none;
}
.teacher-item{
  border-right: none;
  border-left: none;
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 10px;
}
.teacher:first-child {
  border-radius: 3px 3px 0px 0px;
}

.teacher:last-child {
  border-radius: 0px 0px 3px 3px;
}

.teacher.animate {
  -webkit-transition: ease-out,top,400ms,0ms;
  transition: ease-out,top,400ms,0ms;
}

.teacher.inactive .teacher-content {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVQYV2NkIALMnDlTkpGQOpCi9PT053gVwhSBDMOpEFkRToXoirAqxKYIQyEuRSgK8SmCKySkCKyQGEUghQC5OyXvW/4BHwAAAABJRU5ErkJggg==');
}

.teacher-head h3 {
  font-weight: normal;
  font-size: 18px;
  font-style: normal;
  color: #3f3f3f;
}

.teacher-head span {
  margin-left: 10px;
  font-weight: normal;
  font-size: 15px;
  display: inline-block;
  color: #aaaaaa;
}

.teacher-module.teacher-rank {
  margin: 0;
}

.teacher-content {
  min-height: 40px;
  float: left;
}

.teacher-heading {
  margin-bottom: 3px;
  line-height: 1.2;
}

.teacher-heading .teacher-title {
  font-weight: normal;
}

@media screen and (max-width: 600px) {
  .teacher-heading .teacher-title {
    font-size: 15px;
  }
}

@media screen and (min-width: 600px) {
  .teacher-heading .teacher-title {
    font-size: 18px;
  }
}

.teacher-heading .teacher-title:visited {
  color: #b5b0b0;
}

.teacher-heading .teacher-domain {
  color: #b3c1c6;
  font-weight: normal;
}

@media screen and (max-width: 600px) {
  .teacher-heading .teacher-domain {
    font-size: 13px;
  }
}

@media screen and (min-width: 600px) {
  .teacher-heading .teacher-domain {
    font-size: 14px;
  }
}

.teacher-meta {
  font-size: 13px;
  color: #b3c1c6;
  line-height: 1.5;
}

@media screen and (max-width: 600px) {
  .teacher-meta {
    font-size: 11px;
    line-height: 1.7;
  }
}

.teacher-meta a:link,
.teacher-meta a:visited,
.teacher-meta a:active {
  color: #a4a9ab;
}

.teacher-meta a:hover {
  color: #DD3416;
}

.teacher-meta-item {
  display: inline-block;
}

.teacher-body,
.page-body {
  border-radius: 3px;
  margin-bottom: 10px;
  background: white;
  padding: 20px;
  font-size: 16px;
}

@media screen and (max-width: 600px) {
  .teachers {
    padding: 0;
  }

  .teachers .teacher-rank {
    display: none;
  }

  .teacher .teacher-content {
    margin-right: 0px;
  }
}

.no-teachers {
  padding: 20px;
  border: 1px solid rgba(0,0,0,0.1);
  font-size: 14px;
  border-radius: 3px;
  margin-bottom: 10px;
  color: rgba(0,0,0,0.5);
}

.more-button {
  display: block;
  width: 100%;
  height: 70px;
  background: rgba(0,0,0,0.05);
  text-align: center;
  color: white;
  line-height: 70px;
  font-size: 18px;
  border-radius: 0px 0px 3px 3px;
  text-shadow: 0px 1px 1px 0px rgba(0,0,0,0.25);
  padding: 0px;
}

.more-button:hover {
  background: rgba(0,0,0,0.15);
}

.module {
  border-radius: 3px;
}
.teacher-content .checkbox{
  margin: 0;
}
.teacher-content .teacher-cert div{
  margin-top: 8px;
}
.teacher-cert div{
  float: left;
  margin-left: 8px;
}
.teacher-cert div:first-child{
  margin-left: 0;
}
.teacher-avatar{
  width: 50px;
  height: 50px;
  vertical-align: middle;
  float: right;
}
.teacher-cert span{
  color: $greyColor;
  font-size: 15px;
}
.ion-checked{
  color: #59e3c3;
  font-size: 20px;
}

.modal-backdrop {
  -webkit-transition: background-color 300ms ease-in-out;
  transition: background-color 300ms ease-in-out;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: transparent;
  opacity: 0.9;
}

.modal-backdrop.active {
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  display: block;
  position: absolute;
  top: 0;
  z-index: 10;
  overflow: hidden;
  min-height: 100%;
  width: 100%;
  background-color: #fff;
}

@media (min-width: 680px) {
  .modal {
    top: 20%;
    right: 20%;
    bottom: 20%;
    left: 20%;
    overflow: visible;
    min-height: 240px;
    width: 60%;
  }

  .modal.ng-leave-active {
    bottom: 0;
  }

  .platform-ios.platform-cordova .modal-wrapper .modal .bar-header:not(.bar-subheader) {
    height: 44px;
  }

  .platform-ios.platform-cordova .modal-wrapper .modal .bar-header:not(.bar-subheader) > * {
    margin-top: 0;
  }

  .platform-ios.platform-cordova .modal-wrapper .modal .tabs-top > .tabs,
  .platform-ios.platform-cordova .modal-wrapper .modal .tabs.tabs-top {
    top: 44px;
  }

  .platform-ios.platform-cordova .modal-wrapper .modal .has-header,
  .platform-ios.platform-cordova .modal-wrapper .modal .bar-subheader {
    top: 44px;
  }

  .platform-ios.platform-cordova .modal-wrapper .modal .has-subheader {
    top: 88px;
  }

  .platform-ios.platform-cordova .modal-wrapper .modal .has-tabs-top {
    top: 93px;
  }

  .platform-ios.platform-cordova .modal-wrapper .modal .has-header.has-subheader.has-tabs-top {
    top: 137px;
  }
}

.modal-open {
  pointer-events: none;
}

.modal-open .modal,
.modal-open .modal-backdrop {
  pointer-events: auto;
}

.modal-open.loading-active .modal,
.modal-open.loading-active .modal-backdrop {
  pointer-events: none;
}

.modal h2{
  font-style: normal;
}
.normal-title{
  font-style: normal;
}
.teacher-detail{
  padding-right: 20px;
  padding-left: 20px;
  float: left;
}
.teacher-detail > div{
  margin-top: 10px;
  width: 100%;
}
.teacher-detail > div:nth-child(n+3){
  border-bottom: solid #ddd 1px;
  min-height: 70px;
  float: left;
}
.teacher-detail > div:nth-child(n+4) > div:last-child{
  margin-top: 10px;
}
.teacher-detail > div:nth-last-child(1){
  border-bottom: none;
}
.teacher-detail > div:nth-last-child(2){
  border-bottom: none;
}
.teacher-detail-name{
  height:30px;
}
.teacher-detail-head{
  text-align: center;
  position: relative;
  height: 100px;
  margin: 0 auto;
  vertical-align: bottom;
}
.teacher-detail-head > div{
  position: absolute;
  bottom: 0;
  display: -webkit-inline-box;
  margin-left: -25px;
}
.teacher-detail-head > div > img{
  height: 50px;
  width: 50px;
  vertical-align: middle;
  display: inline;
}
.teacher-detail-item-head{
  width: 115px;
  display: -webkit-flex;
  display: inline-flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
.teacher-detail-item-head-float{
  float: left;
}
.teacher-detail > div > div:last-child{
  color: $greyColor;
  font-size: 15px;
  font-weight: bolder;
}
.teacher-detail-item-name{
  font-size: 18px;
}
.teacher-detail-item-span{
  font-size: 17px;
}
.teacher-detail p{
  line-height: 12px
}
.teacher-detail-submit{
  padding-bottom: 50px;
}
.order-detail{
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  float: left;
}
.order-detail > div{
  background-color: #f1f1f1;
  border-left: none;
  border-right: none;
  padding-left: 0;
  padding-right: 0;
}.order-detail > div:last-child{
  border-bottom: none;
  border-left: none;
  border-right: none;
}
.order-detail > div > div:nth-child(1){
  color: $greyColor;
  font-size: 15px;
  font-weight: bolder;
}
.order-detail-head{
  font-size: 17px;
  color: #000;
  font-weight: normal;
}
.order-detail-avatar{
  display: table;
  float: left;
}
.order-detail-detail{
  margin-top: 10px;
  color: $greyColor;
  font-size: 15px;
  font-weight: bolder;
}

.orders-detail{
  width: 100%;
  padding-right: 14px;
  padding-left: 20px;
  float: left;
}
.orders-detail > div{
  background-color: #f1f1f1;
  border-left: none;
  border-right: none;
  padding-left: 0;
  padding-right: 0;
}
.orders-detail > div > div:nth-child(1){
  color: $greyColor;
  font-size: 15px;
  font-weight: bolder;
}
.orders-detail .item-icon-right .icon{
  right: 0;
}
.orders-detail .item{
  background-color: #f1f1f1;
  border-right: none;
  border-left: none;
}
.orders-detail .item-avatar, .item-avatar .item-content, .item-avatar-left, .item-avatar-left .item-content{
  padding-left: 0;
}

.teacher-detail-submit .button-bar > .button{
  border-width: 1px 1px 1px 1px;
  border-color: #ef473a;
}
.teacher-detail-submit .button-bar > .button:last-child{
  margin-left: 12px;
}
.teacher-detail-submit .button-bar > .button:first-child {
  border-radius: 2px 0px 0px 2px;
  color: #ef473a;
}
.teachers-grid-view{
  background-color: #ffffff;
}
.teacher-div > div:first-child{
  position:relative;
}
.teachers-grid > a > div{
  float: left;
  padding: 8px 8px 0 8px;
  border: solid #d2d2d2 1px;
  border-top: none;
}

.teachers-grid h3{
  font-size: 17px;
}

.teacher-subject{
  width: 80px;
  height: 25px;
  line-height: 25px;
  font-size: 17px;
  font-weight: bold;
  bottom: 30px;
  display: -webkit-inline-box;
  background-color: #303030;
  color: #ffffff;
  filter:alpha(opacity=20);
  -moz-opacity:0.8;
  opacity:0.8;
  position: absolute;
  display:table-cell;
  vertical-align:middle;
  text-align: center;
}
.teacher-profile{
  padding-top: 10px;
}
.teacher-profile > div:first-child{
  float: left;
  overflow: hidden;
  white-space:nowrap;
  width: 64%;
}
.teacher-profile > div:last-child{
  float: right;
  font-size: 18px;
}
.teacher-icon-inactive{
  color: #cacaca;
}
.teacher-icon-id-active{
  color: #fdc922;
}
.teacher-icon-edu-active{
  color: #fc9a25;
}
.teacher-icon-cert-active{
  color: #e65b0d;
}
.teachers-grid i{
  display: block;
  float: left;
  margin-left: 3px;
}
.teachers-grid i:first-child{
  margin-left: 0
}
.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  height: 40px;
  text-align: center;
  font-size: 18px;
  background-color: #d1d6dd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-slide-active{
  font-size: 27px;
  font-weight: bold;
  border: solid #000000 1px;
  border-right: none;
  border-left: none;
}
.teach-subject-select .content{
  text-align: center;
  margin:0 auto;
}
.teach-subject-select .content > div{
  height: 250px;
}
.teach-subject-select .content > div > div{
  float: left;
  width: 50%;
  height: 250px;
  background-color: #d1d6dd;
}

.order-empty{
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  display: inline;
  text-align: center;
}
.order-empty button{
  max-width: 150px;
  display: inline;
}
.order-empty > div:first-child{
  font-size: 217px;
  color: #dbdbdb;
}
.order-empty > div:nth-child(2){
  color: #9b9b9b;
}
.order-empty > div:last-child{
  margin-top: 30px;
}
