@media screen and(max-width: 199px){
  .teacher-div{
    border-left: none;
    border-right: none;
  }
  .teacher-a:first-child > div{
    border-top: solid #d2d2d2 1px;
  }
  .teacher-a:last-child > div{
    border-top: solid #d2d2d2 1px;
  }
}
@media screen and(min-width: 200px)and(max-width: 449px){
  .teacher-div{
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .teacher-div:nth-child(2n+1){
    border-left: none;
  }
  .teacher-div:nth-child(2n){
    border-left: none;
    border-right: none;
  }
  .teacher-a:first-child > div{
    border-top: solid #d2d2d2 1px;
  }
  .teacher-a:nth-child(2) > div{
    border-top: solid #d2d2d2 1px;
  }
}
@media screen and(min-width: 450px)and(max-width: 959px){
  .teacher-div{
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.3333%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 33.3333%;
    -ms-flex: 0 0 33.3333%;
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
  }
  .teacher-div:nth-child(3n+1){
    border-left: none;
  }
  .teacher-div:nth-child(3n+2){
    border-left: none;
  }
  .teacher-div:nth-child(3n){
    border-left: none;
    border-right: none;
  }
  .teacher-a:first-child > div{
    border-top: solid #d2d2d2 1px;
  }
  .teacher-a:nth-child(2) > div{
    border-top: solid #d2d2d2 1px;
  }
  .teacher-a:nth-child(3) > div{
    border-top: solid #d2d2d2 1px;
  }
}
@media screen and(min-width: 960px)and(max-width: 1199px){
  .teacher-div{
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .teacher-div:nth-child(4n+1){
    border-left: none;
  }
  .teacher-div:nth-child(4n+2){
    border-left: none;
  }
  .teacher-div:nth-child(4n+3){
    border-left: none;
  }
  .teacher-div:nth-child(4n){
    border-left: none;
    border-right: none;
  }
  .teacher-a:first-child > div{
    border-top: solid #d2d2d2 1px;
  }
  .teacher-a:nth-child(2) > div{
    border-top: solid #d2d2d2 1px;
  }
  .teacher-a:nth-child(3) > div{
    border-top: solid #d2d2d2 1px;
  }
  .teacher-a:nth-child(4) > div{
    border-top: solid #d2d2d2 1px;
  }
}
@media screen and(min-width: 1200px){
  .teacher-div{
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 20%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 20%;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
  .teacher-div:nth-child(5n+1){
    border-left: none;
  }
  .teacher-div:nth-child(5n+2){
    border-left: none;
  }
  .teacher-div:nth-child(5n+3){
    border-left: none;
  }
  .teacher-div:nth-child(5n+4){
    border-left: none;
  }
  .teacher-div:nth-child(5n){
    border-left: none;
    border-right: none;
  }
  .teacher-a:first-child > div{
    border-top: solid #d2d2d2 1px;
  }
  .teacher-a:nth-child(2) > div{
    border-top: solid #d2d2d2 1px;
  }
  .teacher-a:nth-child(3) > div{
    border-top: solid #d2d2d2 1px;
  }
  .teacher-a:nth-child(4) > div{
    border-top: solid #d2d2d2 1px;
  }
  .teacher-a:nth-child(5) > div{
    border-top: solid #d2d2d2 1px;
  }
}
