<template name="auditTeacher">
  <div class="mala-row">
    <div class="col-sm-3">
      {{> adminNav}}
    </div>
    <div class="col-sm-9">
      <div class="main audit-teacher">
        <div class="part panel panel-success">
          <div class="bg-info text-center part-title panel-heading">
            基本信息
          </div>
          <div class="panel-body">
            <div class="part-audit">
              <span class="submit-info">提交时间：{{getSubmitTime 'basic'}}</span>
              <span class="audit-action">
                {{#if isTodoAudit 'basic'}}
                <input class="btn btn-success btn-approve" type="button" value="审核通过" data-part="basic">
                <input class="btn btn-default btn-reject" type="button" value="驳回" data-part="basic">
                {{else}}
                <span class="audit-status-{{getAuditStatus 'basic'}}">{{getAuditStatusStr 'basic'}} {{getAuditTime 'basic'}}</span>
                {{/if}}
              </span>
            </div>
            <div class="part-info basic-info">
              <div class="mala-row">
                <label class="col-sm-2">姓名</label>
                <div class="col-sm-10">
                  {{basicInfo.name}}
                </div>
              </div>
              <div class="mala-row">
                <label class="col-sm-2">性别</label>
                <div class="col-sm-10">
                  {{basicInfo.gender}}
                </div>
              </div>
              <div class="mala-row">
                <label class="col-sm-2">出生日期</label>
                <div class="col-sm-10">
                  {{basicInfo.birthday}}
                </div>
              </div>
              <div class="mala-row">
                <label class="col-sm-2">目前身份</label>
                <div class="col-sm-10">
                  {{getStateStr basicInfo.state}}
                </div>
              </div>
              <div class="mala-row">
                <label class="col-sm-2">擅长科目</label>
                <div class="col-sm-10">
                  {{#each basicInfo.subjects}}
                  <div>{{getSchoolStr school}},{{getSubjectStr subject}},{{getGradeStr grade}}</div>
                  {{/each}}
                </div>
              </div>
              <div class="mala-row">
                <label class="col-sm-2">所在区域</label>
                <div class="col-sm-10">
                  {{address}}
                </div>
              </div>
              <div class="mala-row">
                <label class="col-sm-2">个人简介</label>
                <div class="col-sm-10">
                  {{basicInfo.selfIntro}}
                </div>
              </div>
            </div>
            <div class="form form-horizontal part-reject basic-info-reject">
              <div class="form-group">
                <label class="col-sm-2 control-label">驳回原因</label>
                <div class="col-sm-10 controls">
                  <textarea class="col-sm-12 form-control" name="rejectMsg"></textarea>
                  <span class="help-block"></span>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <input class="btn btn-default btn-reject-confirm" type="button" value="确定驳回" data-part="basic">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="panel panel-warning">
          <div class="bg-info text-center part-title panel-heading">
            教育信息
          </div>
          <div class="panel-body">
            <div class="part-audit">
              <span class="submit-info">提交时间：{{getSubmitTime 'edu'}}</span>
              <span class="audit-action">
                {{#if isTodoAudit 'edu'}}
                <input class="btn btn-success btn-approve" type="button" value="审核通过" data-part="edu">
                <input class="btn btn-default btn-reject" type="button" value="驳回" data-part="edu">
                {{else}}
                <span class="audit-status-{{getAuditStatus 'edu'}}">{{getAuditStatusStr 'edu'}} {{getAuditTime 'edu'}}</span>
                {{/if}}
              </span>
            </div>
            <div class="part-info edu-info">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>学历</th>
                    <th>毕业院校</th>
                    <th>专业</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  {{#each eduInfo.eduItems}}
                  <tr>
                    <td>{{getDegreeStr degree}}</td>
                    <td>{{college}}</td>
                    <td>{{major}}</td>
                    <td></td>
                  </tr>
                  {{/each}}
                </tbody>
              </table>
            </div>
            <div class="form form-horizontal part-reject edu-info-reject">
              <div class="form-group">
                <label class="col-sm-2 control-label">驳回原因</label>
                <div class="col-sm-10 controls">
                  <textarea class="col-sm-12 form-control" name="rejectMsg"></textarea>
                  <span class="help-block"></span>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <input class="btn btn-default btn-reject-confirm" type="button" value="确定驳回" data-part="edu">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="part panel panel-danger">
          <div class="bg-info text-center part-title panel-heading">
            教学资质
          </div>
          <div class="panel-body">
            <div class="part-audit">
              <span class="submit-info">提交时间：{{getSubmitTime 'cert'}}</span>
              <span class="audit-action">
                {{#if isTodoAudit 'cert'}}
                <input class="btn btn-success btn-approve" type="button" value="审核通过" data-part="cert">
                <input class="btn btn-default btn-reject" type="button" value="驳回" data-part="cert">
                {{else}}
                <span class="audit-status-{{getAuditStatus 'cert'}}">{{getAuditStatusStr 'cert'}} {{getAuditTime 'cert'}}</span>
                {{/if}}
              </span>
            </div>
            <div class="part-info cert-info">
              <div class="section-title">
                教师证认证信息
              </div>
              <div class="img-fullsize-view-box"><img></div>
              <div>
                <div class="img-box"><img src={{certInfo.teacherCertImgUrl}}></div>
                <div>点击图片查看大图</div>
              </div>
              <div class="section-title">
                专业资质认证信息
              </div>
              <div class="">
                {{#each certInfo.professionItems}}
                <div>
                  <div class="img-box"><img src={{certImgUrl}}></div>
                  <div>点击图片查看大图</div>
                </div>
                {{/each}}
              </div>
            </div>
            <div class="form form-horizontal part-reject cert-info-reject">
              <div class="form-group">
                <label class="col-sm-2 control-label">驳回原因</label>
                <div class="col-sm-10 controls">
                  <textarea class="col-sm-12 form-control" name="rejectMsg"></textarea>
                  <span class="help-block"></span>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <input class="btn btn-default btn-reject-confirm" type="button" value="确定驳回" data-part="cert">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
