<template name="auditTeachers">
  <div class="mala-row">
    <div class="col-sm-3">
      {{> adminNav}}
    </div>
    <div class="col-sm-9">
      <div>
        <label>状态筛选：</label>
        <select name="state">
          <option value="">全部</option>
          <option value="new">新注册</option>
          <option value="todo">待处理</option>
          <option value="partOk">部分通过</option>
          <option value="allOk">已通过</option>
        </select>
        <a class="btn btn-search"><span class="ion-search"></span></a>
      </div>
      <h5><span>总数: {{totalCount}}</span> <span>未提交数: {{unsubmitCount}}</span> <span>待处理数: {{todoCount}}</span> <span>通过数: {{approvedCount}}</span></h5>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>提交时间</th>
            <th>姓名</th>
            <th>基本信息</th>
            <th>学历信息</th>
            <th>教学资质</th>
            <th>最后审核时间</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {{#each teachers}}
          {{> userAuditItem}}
          {{/each}}
        </tbody>
      </table>
      {{#if nextPath}}
        <a class="load-more" href="{{nextPath}}">Load more</a>
      {{else}}
        {{#unless ready}}
          {{> spinner}}
        {{/unless}}
      {{/if}}
    </div>
  </div>
</template>
<template name="userAuditItem">
  <tr>
    <td>{{submitTime}}</td>
    <td>{{name}}</td>
    <td class="audit-status-{{auditStatus 'basic'}}">{{auditStatusStr 'basic'}}</td>
    <td class="audit-status-{{auditStatus 'edu'}}">{{auditStatusStr 'edu'}}</td>
    <td class="audit-status-{{auditStatus 'cert'}}">{{auditStatusStr 'cert'}}</td>
    <td>{{auditTime}}</td>
    <td><a class="btn-audit">{{actionText}}</a></td>
  </tr>
</template>
