<template name="mineProfileServiceArea">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton class="button-clear button-light" text=false}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title normal-title">所在地</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    <button class="button button-clear button-light" data-action="save-profile-serviceArea">
      保存
    </button>
  {{/contentFor}}


{{#ionView class="profile-service-area-view"}}
  {{#ionContent}}

    {{#ionList}}
      {{#if parentArea}}
        {{#ionItem href="" class="parent-area" id=parentArea._id iconRight=true}}
          当前城市&nbsp;&nbsp;{{parentArea.name}}
          <!-- {{> ionIcon icon="arrow-return-left"}} -->
        {{/ionItem}}
      {{/if}}
    {{/ionList}}

    <div class="areas-hint">选择可上门授课的区县（可多选）</div>
    <div class="areas-box">
      {{#each areaList}}
        <div class="area-outer">
          <div class="area {{all}} {{selected}}" code="{{code}}" title="{{name}}">{{name}}</div>
        </div>
      {{/each}}
    </div>

  {{/ionContent}}
{{/ionView}}
</template>
