<template name="pageDetail">
    <form class="form form-horizontal">
        <input type="hidden" name="pageCode" value="{{pageCode}}"/>
        <div class="col-sm-12">
            {{#if isAdmin}}
            <div class="form-group">
                <div class="profile-edit-title">{{{pageName}}}
                <a href="/page/edit/{{pageCode}}"><input class="btn btn-success col-sm-offset-10" aria-label="Right Align" type="button" value="编辑" /></a>
                </div>
            </div>
            {{/if}}
            <div class="form-group">
                <div>{{{editorTextArea}}}</div>
            </div>
        </div>
    </form>
</template>
