<template name="pageDetail">
    <form class="form form-horizontal">
        <input type="hidden" name="name" value="{{name}}"/>
        <div class="col-sm-12">
            {{#if $eq currentUser.role 'admin'}}
            <div class="form-group">
                <div class="profile-edit-title">{{{title}}}
                  <a href="{{pathFor 'adminPage'}}"><input class="btn btn-success col-sm-offset-10" aria-label="Right Align" type="button" value="编辑" /></a>
                </div>
            </div>
            {{/if}}
            <div class="form-group">
                <div>{{{content}}}</div>
            </div>
        </div>
    </form>
</template>
