<template name="comments">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton class="button-clear button-light" text=false}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title normal-title">评价</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent class="view-page-common"}}
      <div class="view-both-side-margin comments-page-total-score">
        <div>
          <div class="comments-stars">
            {{#each commentStars}}
              <img src="/images/{{starImage this}}" />
            {{/each}}
          </div>
        </div>
        <div>
          综合评分（{{totalScore}}）
        </div>
      </div>
      <div class="view-both-side-margin"><hr></div>
      <div class="view-both-side-margin comments-page-mala-score">
        <div>
          <div class="comments-stars">
            {{#each maScoreCount}}
              <img src="/images/{{maImage this}}" />
            {{/each}}
          </div>
          <div>麻度 <span>（专业程度）</span></div>
        </div>
        <div>
          <div class="comments-stars">
            {{#each laScoreCount}}
              <img src="/images/{{laImage this}}" />
            {{/each}}
          </div>
          <div>辣度 <span>（上课态度）</span></div>
        </div>
      </div>
      <div class="view-both-side-margin element-clear-both comments-page-nav-pre"><hr></div>
      <div class="comments-page-nav" id="commentsNav">
        <div id="goodCommentsInScroll" class="comments-page-tab {{activeTabClass 'goodComments'}}"><div>好评({{goodComments}})</div></div>
        <div id="averageCommentsInScroll" class="comments-page-tab {{activeTabClass 'averageComments'}}"><div>中评({{averageComments}})</div></div>
        <div id="poolCommentsInScroll" class="comments-page-tab {{activeTabClass 'poolComments'}}"><div>差评({{poolComments}})</div></div>
        <hr/>
      </div>
      {{#each allComments}}
        {{> commentsDetailShow comment=this}}
        <div class="view-both-side-margin element-clear-both"><hr></div>
      {{/each}}
      {{#if hasMore}}
        <a class="load-more" href="#">加载更多</a>
      {{/if}}
      <div></div>
    {{/ionContent}}
      {{#unless commentsReady}}
        {{> spinner}}
      {{/unless}}
    <div class="bottom-btn-view element-border-top">
      <div class="row">
        <div class="col-xs-6">
          ￥{{price}}/课时
        </div>
        <div class="col-xs-6">
          <button id="reserveCourse" class="btn btn-lg btn-success col-xs-12">
            马上约课
          </button>
        </div>
      </div>
    </div>
  {{/ionView}}
</template>
<template name="commentsDetailShow">
  <div class="view-both-side-margin comment-detail-body">
    <div>
      <div><img src="{{userAvt}}" class="img-responsive comment-user-avatar"></div>
      <div>
        <div>{{createDate}}</div>
        <div>{{comment.student.name}}</div>
        <div class="comments-stars">
          {{#each commentStars}}
            <img src="/images/{{starImage this}}" />
          {{/each}}
        </div>
      </div>
    </div>
    <div>{{comment.comment}}</div>
  </div>
</template>
