<template name="comment">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton class="button-clear button-light" text=false}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title normal-title">评价课程</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent class="view-page-common"}}
      <div class="teacher-detail-sp-info view-both-side-margin course-attendance-comment-head">
        <div>
          <img src="{{teacher.profile.avatarUrl}}" class="img-responsive img-circle">
        </div>
        <div>
          <p>{{teacher.profile.name}} {{subject}}</p>
          <p>¥{{price}}/课时</p>
        </div>
      </div>
      <div class="view-both-side-margin"><hr></div>
      <div class="view-both-side-margin course-attendance-comment-evaluate">
          <div>
            给老师评分
          </div>
          <div>
            <div>
              <div class="course-attendance-comment-evaluate-i">
                {{#each maStars}}
                  <i class="icon {{starClass this.value}}" data-index="{{this.index}}" name="maDu"></i>
                {{/each}}
              </div>
              <div>麻度（上课老好了，一学就会）</div>
            </div>
            <div>
              <div class="course-attendance-comment-evaluate-i">
                {{#each laStars}}
                  <i class="icon {{starClass this.value}}" data-index="{{this.index}}" name="laDu"></i>
                {{/each}}
              </div>
              <div>辣度（老师太棒了，必须点赞）</div>
            </div>
          </div>
      </div>
      <div class="view-both-side-margin"><hr></div>
      <div class="view-both-side-margin">
        <textarea rows='3' {{readOnly}}>{{commentInfo}}</textarea>
      </div>
    {{/ionContent}}
    <div class="buttom-btn-view {{submitBtnClass}}">
      <button class="button button-full">
        发表评价
      </button>
    </div>
  {{/ionView}}
</template>
