<template name="comment">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton class="button-clear button-light" text=false}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
  <h1 class="title normal-title">评价课程</h1>
  {{/contentFor}}

  {{#ionView}}
  {{#ionContent class="view-page-common {{# if $not commented }}with-bottom-btn{{/if}}"}}
      <div class="course-attendance-comment-head">
        <div><img src="{{teacher.profile.avatarUrl}}" class="img-responsive"></div>
        <div>
          <div>¥{{price}}/课时</div>
          <div>{{teacher.profile.name}}</div>
          <div>{{subject}}</div>
        </div>
      </div>
      <div class="course-attendance-comment-evaluate">
        <div>
          <div class="course-attendance-comment-evaluate-i">
            {{#each maStars}}
              <img src="/images/{{starImageMa this.value}}" data-index="{{this.index}}" name="maDu"/>
            {{/each}}
          </div>
          <div>麻度<span>（上课老好了，一学就会）</span></div>
        </div>
        <div>
          <div class="course-attendance-comment-evaluate-i">
            {{#each laStars}}
              <img src="/images/{{starImageLa this.value}}" data-index="{{this.index}}" name="laDu"/>
            {{/each}}
          </div>
          <div>辣度<span>（老师太棒了，必须点赞）</span></div>
        </div>
      </div>
      <div class="course-attendance-comment-cominfo">
        <textarea rows="3" {{readOnly}} placeholder="请写下对老师的感受吧，对他人帮助很大哦">{{commentInfo}}</textarea>
      </div>
    {{/ionContent}}
    {{# if $not commented }}
    <div class="bottom-btn-view">
      <button class="btn btn-lg btn-success col-xs-12">
        发表评价
      </button>
    </div>
    {{/ if }}
  {{/ionView}}
</template>
