<template name="proceedsMyCards">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton class="button-clear button-light" text=" "}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title normal-title">银行卡</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      {{#each teacherBalance.bankCards}}
        {{#ionItem class="item-icon-right item-avatar" iconRight=true}}
          <img src="/images/apply/complete-ok.png">
          <h2>{{cardUserName}}</h2>
          <p>{{cardNumber}} {{bankName}}</p>
        {{/ionItem}}
      {{/each}}
      {{#ionItem class="item-icon-right" path="proceedsAddCardStep1" iconRight=true}}
        <h2>添加银行卡</h2>
        {{> ionIcon icon="ios-plus"}}
      {{/ionItem}}
    {{/ionContent}}
  {{/ionView}}
</template>