<template name="proceedsDetails">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton class="button-clear button-light" text=" "}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title normal-title">收支明细</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      {{#each transactionDetail}}
        {{#ionItem class="item-icon-right item-avatar" iconRight=true}}
          <img src="/images/apply/complete-ok.png">
          <h2>{{title}}</h2>
          <p>{{operator.role}}</p>
          <div class="icon">{{#if $gt amount 0}}+{{/if}}{{amount}}</div>
        {{/ionItem}}
      {{/each}}
    {{/ionContent}}
  {{/ionView}}
</template>