<template name="proceedsAddCardStep1">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton class="button-clear button-light" text=" "}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title normal-title">添加银行卡</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      {{#ionList}}
        {{#ionItem class="item-icon-right" iconRight=true}}
          持卡人<input type="text" />
        {{/ionItem}}
        {{#ionItem class="item-icon-right" iconRight=true}}
          卡号<input id="cardNumber" type="text" />
        {{/ionItem}}
        {{#ionItem class="item-icon-right" iconRight=true}}
          <button data-action="add-card-step2">下一步</button>
        {{/ionItem}}
      {{/ionList}}
    {{/ionContent}}
  {{/ionView}}
</template>