<template name="proceedsResetPasswordStep1">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton class="button-clear button-light" text=" "}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title normal-title">身份验证</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      {{#ionList}}
        {{#ionItem class="item-icon-right" iconRight=true}}
          通过验证银行卡信息确保本人操作
        {{/ionItem}}
        {{#each teacherBalance.bankCards}}
          {{#ionItem class="item-icon-right" iconRight=true}}
            {{bankName}}<br/>
            {{cardNumber}}<br/>
          {{/ionItem}}
        {{/each}}
        {{#ionItem class="item-icon-right" iconRight=true}}
          <button data-action="reset-password-step2">下一步</button>
        {{/ionItem}}
      {{/ionList}}
    {{/ionContent}}
  {{/ionView}}
</template>