<template name="proceedsPassword">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton class="button-clear button-light" text=" "}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title normal-title">{{#if teacherBalance.isSetPass}}重置{{else}}设置{{/if}}提现密码</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      <h5>请设置提现密码</h5>
      <input id="withdrawPass" type="password" />
      <button data-action="my-cards">下一步</button>
    {{/ionContent}}
  {{/ionView}}
</template>