<template name="proceedsWithdraw">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton class="button-clear button-light" text=" "}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title normal-title">提现到银行卡</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      {{#if getWithdrawCard}}
        {{#ionItem class="item-avatar item-icon-right" path="proceedsSelectCard" iconRight=true}}
          <img src={{getBankIconUrl getWithdrawCard.bankName}}>
          <h2>{{getWithdrawCard.cardUserName}}</h2>
          <p>{{getWithdrawCard.cardNumber}} {{getWithdrawCard.bankName}}</p>
          {{> ionIcon icon="ios-arrow-right"}}
        {{/ionItem}}
      {{else}}
        {{#ionItem class="item-icon-right" path="proceedsSelectCard" iconRight=true}}
          <h2>请选择要提现的银行卡</h2>
          {{> ionIcon icon="ios-arrow-right"}}
        {{/ionItem}}
      {{/if}}
      <div style="margin: 10px 17px 10px 15px; color: #5d5d5d; font-size: 14px;">
        可转出余额：<span style="color: red">{{fen2YuanFixed2 teacherBalance.balance}}</span> 元
      </div>
      {{#ionItem class="item-input"}}
        <span style="font-size: 18px;" class="input-label" for="amount">提现金额</span>
        <input style="font-size: 16px;" id="amount" name="amount" type="number" min="1" max="{{teacherBalance.balance}}" placeholder="请输入提现金额"/>
      {{/ionItem}}
      <div style="margin: 10px 17px 10px 15px; color: #5d5d5d; font-size: 14px;">
        每笔限额5000元，本日还可以转出3次
      </div>
      {{#ionItem}}
        {{#if getWithdrawCard}}
          <button class="btn btn-success btn-block" data-action="input-password">确认提现</button>
        {{else}}
          <button class="btn btn-success btn-block" data-action="input-password" disabled>确认提现</button>
        {{/if}}
      {{/ionItem}}
    {{/ionContent}}
  {{/ionView}}
</template>