<template name="proceedsPassword">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton class="button-clear button-light" text=" "}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title normal-title">{{#if teacherBalance.isSetPass}}重置{{else}}设置{{/if}}提现密码</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      {{#ionItem}}
        <h2>请设置提现密码</h2>
      {{/ionItem}}
      <input id="withdrawPass" type="password" style="margin: 2px; text-align: center; font-size: 25px;"/>
      {{#ionItem}}
        <div style="text-align: center;">
          <button class="btn btn-success btn-block" data-action="my-cards">下一步</button>
        </div>
      {{/ionItem}}
    {{/ionContent}}
  {{/ionView}}
</template>