<template name="proceedsResetPasswordStep1">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton class="button-clear button-light" text=" "}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title normal-title">身份验证</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      {{#ionList}}
        {{#ionItem}}
          通过验证银行卡信息确保本人操作
        {{/ionItem}}
        {{#each teacherBalance.bankCards}}
          <div class="item item-icon-right item-avatar item-card">
            <img src="/images/apply/complete-ok.png">
            <h2>{{cardUserName}}</h2>
            <p>{{cardNumber}} {{bankName}}</p>
            {{#if $eq cardNumber getSelectCard.cardNumber}}
              <div class="icon">
                <img src="/images/proceeds/checked.png" style="width: 20px;">
              </div>
            {{else}}
              <div class="icon hide">
                <img src="/images/proceeds/checked.png" style="width: 20px;">
              </div>
            {{/if}}
          </div>
        {{/each}}
        <div style="text-align: center;">
        {{#if getSelectCard}}
          {{#ionItem}}
            <button class="btn btn-success btn-block" data-action="reset-password-step2">下一步</button>
          {{/ionItem}}
        {{else}}
          {{#ionItem}}
            <button class="btn btn-success btn-block" data-action="reset-password-step2" disabled>下一步</button>
          {{/ionItem}}
        {{/if}}
        </div>
      {{/ionList}}
    {{/ionContent}}
  {{/ionView}}
</template>