<template name="proceedsMyCards">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton class="button-clear button-light" text=" "}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title normal-title">银行卡</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    {{#if teacherBalance.bankCards.length}}
      <button class="button button-clear button-light" data-action="add-card-step1" style="font-size: 30px;">
        添加
      </button>
    {{/if}}
  {{/contentFor}}

  {{> templateBankCards}}
</template>