<template name="proceedsResetPasswordStep2">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton class="button-clear button-light" text=" "}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title normal-title">身份验证</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      {{#ionList}}
        {{#ionItem class="item-input"}}
          <span class="input-label" for="cardUserName">姓名</span>
          <input id="cardUserName" name="cardUserName" disabled type="text" value="{{currentUser.profile.name}}" placeholder="持卡人真实姓名"/>
        {{/ionItem}}
        {{#ionItem class="item-input"}}
          <span class="input-label" for="IDNumber">证件号</span>
          <input id="IDNumber" name="IDNumber" type="text" placeholder="持卡人身份证号码"/>
        {{/ionItem}}
        {{#ionItem}}
          填入招商银行储蓄卡卡号（尾号4410）
        {{/ionItem}}
        {{#ionItem class="item-input"}}
          <span class="input-label" for="cardNumber">卡号</span>
          <input id="cardNumber" name="cardNumber" type="text" value="{{cardInfo.cardNumber}}" placeholder="储蓄卡号"/>
        {{/ionItem}}
        {{#ionItem}}
          <button class="btn btn-success" data-action="identity-verify">下一步</button>
        {{/ionItem}}
      {{/ionList}}
    {{/ionContent}}
  {{/ionView}}
</template>