<template name="proceedsIndex">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton class="button-clear button-light" text=" "}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title normal-title">收入</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    <img src="/images/proceeds/security.png" class="button button-clear button-light" data-action="proceeds-security">
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      <div style="height: 30%; text-align: center;">
        <div style="font-size: 30px">
          ¥ {{fen2YuanFixed2 teacherBalance.balance}}
        </div>
        <div>
          <button class="btn btn-success" data-action="proceeds-withdraw">提现</button>
        </div>
      </div>

      {{#ionList}}
        {{#ionItem class="item-icon-right" path="proceedsDetails" iconRight=true}}
          收支明细
          {{> ionIcon icon="ios-arrow-right"}}
        {{/ionItem}}
        {{#ionItem class="item-icon-right" path="proceedsMyCards" iconRight=true}}
          我的银行卡
          {{> ionIcon icon="ios-arrow-right"}}
        {{/ionItem}}
      {{/ionList}}
    {{/ionContent}}
  {{/ionView}}
</template>