<template name="proceedsSelectCard">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton class="button-clear button-light" text=" "}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title normal-title">选择银行卡</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      {{#each teacherBalance.bankCards}}
        <div class="item item-icon-right item-avatar item-card">
          <img src="/images/apply/complete-ok.png">
          <h2>{{cardUserName}}</h2>
          <p>{{cardNumber}} {{bankName}}</p>
        </div>
      {{/each}}
    {{/ionContent}}
  {{/ionView}}
</template>