<template name="proceedsAddCardStep2">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton class="button-clear button-light" text=" "}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title normal-title">填写银行卡信息</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      {{#ionList}}
        {{#ionItem class="item-input"}}
          <span class="input-label">卡类型</span>
          <input type="text" value="{{cardInfo.bankName}} - {{cardInfo.cardType}}"/>
        {{/ionItem}}
        {{#ionItem class="item-input"}}
          <span class="input-label" for="cardPhoneNumber">手机号</span>
          <input id="cardPhoneNumber" name="cardPhoneNumber" type="number" value="{{currentUser.phoneNo}}"/>
        {{/ionItem}}
        {{#ionItem}}
          同意《服务协议》
        {{/ionItem}}
        {{#ionItem}}
          <button class="btn btn-success btn-block" data-action="add-card-step3">下一步</button>
        {{/ionItem}}
      {{/ionList}}
    {{/ionContent}}
  {{/ionView}}
</template>