<template name="proceedsResetPasswordStep2">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton class="button-clear button-light" text=" "}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title normal-title">身份验证</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      {{#ionList}}
        {{#ionItem class="item-icon-right" iconRight=true}}
          姓名<input id="cardUserName" disabled type="text" value="{{currentUser.profile.name}}" placeholder="持卡人真实姓名"/>
        {{/ionItem}}
        {{#ionItem class="item-icon-right" iconRight=true}}
          证件号<input id="IDNumber" type="text" placeholder="持卡人身份证号码"/>
        {{/ionItem}}
        {{#ionItem class="item-icon-right" iconRight=true}}
          填入招商银行储蓄卡卡号（尾号4410）
        {{/ionItem}}
        {{#ionItem class="item-icon-right" iconRight=true}}
          卡号<input id="cardNumber" type="text" value="{{cardInfo.cardNumber}}" placeholder="储蓄卡号"/>
        {{/ionItem}}
        {{#ionItem class="item-icon-right" iconRight=true}}
          <button data-action="identity-verify">下一步</button>
        {{/ionItem}}
      {{/ionList}}
    {{/ionContent}}
  {{/ionView}}
</template>