<template name="proceedsWithdraw">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton class="button-clear button-light" text=" "}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title normal-title">提现到银行卡</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      {{#ionItem class="item-avatar item-icon-right" path="proceedsSelectCard" iconRight=true}}
        <img src="/images/apply/complete-ok.png">
        <h2>尚尔迪</h2>
        <p>尾号4410 储蓄卡</p>
        {{> ionIcon icon="ios-arrow-right"}}
      {{/ionItem}}
      可转出余额: xxx 元
      {{#ionItem}}
        <label>提现金额</label>
        <input type="number" placeholder="请输入提现金额"/>
      {{/ionItem}}
      每笔限额5000元，本日还可以转出3次
      <button class="btn btn-success btn-block">确认提现</button>
    {{/ionContent}}
  {{/ionView}}
</template>