<template name="proceedsDetails">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton class="button-clear button-light" text=" "}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title normal-title">收支明细</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      {{#each transactionDetail}}
        {{#ionItem class="item-icon-right" iconRight=true}}
          {{title}}<br/>
          {{amount}}<br/>
          {{operator.role}}<br/>
        {{/ionItem}}
      {{/each}}
    {{/ionContent}}
  {{/ionView}}
</template>