<template name="proceedsAddCardStep1">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton class="button-clear button-light" text=" "}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title normal-title">添加银行卡</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      {{#ionList}}
        {{#ionItem class="item-input"}}
          <span class="input-label" for="cardUserName">持卡人</span>
          <input id="cardUserName" name="cardUserName" disabled type="text" value="{{currentUser.profile.name}}" placeholder="持卡人真实姓名"/>
        {{/ionItem}}
        {{#ionItem class="item-input"}}
          <span class="input-label" for="cardNumber">卡号</span>
          <input id="cardNumber" name="cardNumber" type="number" value="{{cardInfo.cardNumber}}" placeholder="储蓄卡号"/>
        {{/ionItem}}
        {{#ionItem}}
          <button class="btn btn-success btn-block" data-action="add-card-step2">下一步</button>
        {{/ionItem}}
      {{/ionList}}
    {{/ionContent}}
  {{/ionView}}
</template>