<template name="proceedsDetails">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton class="button-clear button-light" text=" "}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title normal-title">收支明细</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      {{#each transactionDetails}}
        {{dayStr}}
        {{#each details}}
          {{#ionItem class="item-icon-right item-avatar" iconRight=true}}
            <img src={{convTitle2IconUrl title}}>
            <h2>{{title}}</h2>
            <p>{{getDateTime createdAt}}</p>
            <div class="icon">{{#if $gt amount 0}}+{{/if}}{{fen2YuanFixed2 amount}}</div>
          {{/ionItem}}
        {{/each}}
      {{/each}}
    {{/ionContent}}
  {{/ionView}}
</template>