<template name="auditTeachers">
  <h2>审核老师</h2>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>提交时间</th>
        <th>姓名</th>
        <th>基本信息</th>
        <th>学历信息</th>
        <th>教学资质</th>
        <th>最后审核时间</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{#each teachers}}
      {{> userAuditItem}}
      {{/each}}
    </tbody>
  </table>
  
  {{#if nextPath}}
    <a class="load-more" href="{{nextPath}}">Load more</a>
  {{else}}
    {{#unless ready}}
      {{> spinner}}
    {{/unless}}
  {{/if}}
</template>
<template name="userAuditItem">
  <tr>
    <td>{{submitTime}}</td>
    <td>{{name}}</td>
    <td>{{auditStatus 'basic'}}</td>
    <td>{{auditStatus 'edu'}}</td>
    <td>{{auditStatus 'cert'}}</td>
    <td>{{auditTime}}</td>
    <td><a class="btn-audit">{{actionText}}</a></td>
  </tr>
</template>
