<template name="mineProfileSelfIntro">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton class="button-clear button-light" text=false}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title normal-title">个人介绍</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    <button class="button button-clear button-light" data-action="save-profile-selfIntro">
      保存
    </button>
  {{/contentFor}}


{{#ionView class="mine-profile-view name-view"}}
  {{#ionContent}}

    {{#ionList}}
      {{#ionItem class="item-input"}}
          <textarea rows="5" type="text" id="selfIntro" name="selfIntro" value="{{currentUser.profile.selfIntro}}">{{currentUser.profile.selfIntro}}</textarea>
          <div class="count-hint {{overflow}}">{{leftCount}}</div>
      {{/ionItem}}
    {{/ionList}}

  {{/ionContent}}
{{/ionView}}
</template>
