<template name="mineProfileCollege">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton class="button-clear button-light" text=false}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title normal-title">修改院校</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    <button class="button button-clear button-light" data-action="save-profile-college">
      保存
    </button>
  {{/contentFor}}


{{#ionView class="mine-profile-view name-view"}}
  {{#ionContent}}

    {{#ionList}}
      {{#ionItem class="item-input"}}
        <span class="input-label" for="college">院校</span>
        <input type="text" id="college" name="college" value="{{currentUser.profile.college}}"/>
      {{/ionItem}}
    {{/ionList}}

    <div class="hint-block">
      <img src="/images/info.png">
      保存后，其他人会看到你的学校哦
    </div>

  {{/ionContent}}
{{/ionView}}
</template>
