<template name="mineProfileName">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton class="button-clear button-light" text=false}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title normal-title">修改姓名</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    <button class="button button-clear button-light" data-action="save-profile-name">
      保存
    </button>
  {{/contentFor}}


{{#ionView}}
  {{#ionContent}}

    {{#ionList class="parent-settings-box"}}
      {{#ionItem class="item-icon-right"}}
        <label class="input-label" for="name">姓名</label>
        <label class="item-input">
          <i class="icon ion-ios-close-empty placeholder-icon"></i>
          <input type="text" id="name" name="name" value="{{currentUser.profile.name}}"/>
        </label>
      {{/ionItem}}
    {{/ionList}}

  {{/ionContent}}
{{/ionView}}
</template>
