<template name="mineProfileSubjects">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton class="button-clear button-light" text=false}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title normal-title">修改科目年级</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    <button class="button button-clear button-light" data-action="save-profile-subjects">
      保存
    </button>
  {{/contentFor}}


{{#ionView class="mine-profile-view subjects-view"}}
  {{#ionContent}}
    {{> subjectsEditComponent}}
  {{/ionContent}}
{{/ionView}}
</template>
