<template name="mineProfileCompany">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton class="button-clear button-light" text=false}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title normal-title">修改所在机构</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    <button class="button button-clear button-light" data-action="save-profile-company">
      保存
    </button>
  {{/contentFor}}


{{#ionView}}
  {{#ionContent}}

    {{#ionList class="parent-settings-box"}}
      {{#ionItem class="item-icon-right"}}
        <label class="input-label" for="company">所在机构名称</label>
        <label class="item-input">
          <i class="icon ion-ios-close-empty placeholder-icon"></i>
          <input type="text" id="company" name="company" value="{{currentUser.profile.company}}"/>
        </label>
      {{/ionItem}}
    {{/ionList}}

  {{/ionContent}}
{{/ionView}}
</template>
