<template name="mineProfileSelfIntro">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton class="button-clear button-light" text=false}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title normal-title">修改自我介绍</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    <button class="button button-clear button-light" data-action="save-profile-selfIntro">
      保存
    </button>
  {{/contentFor}}


{{#ionView}}
  {{#ionContent}}

    {{#ionList class="parent-settings-box"}}
      {{#ionItem class="item-icon-right"}}
        <label class="input-label" for="selfIntro">所在自我介绍</label>
        <label class="item-input">
          <!-- <i class="icon ion-ios-close-empty placeholder-icon"></i> -->
          <textarea rows="5" type="text" id="selfIntro" name="selfIntro" value="{{currentUser.profile.selfIntro}}">{{currentUser.profile.selfIntro}}</textarea>
        </label>
      {{/ionItem}}
    {{/ionList}}

  {{/ionContent}}
{{/ionView}}
</template>
