<template name="mineProfileDegree">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton class="button-clear button-light" text=false}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title normal-title">修改学历</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    <button class="button button-clear button-light" data-action="save-profile-degree">
      保存
    </button>
  {{/contentFor}}


{{#ionView}}
  {{#ionContent}}

    {{#ionList}}
      {{#each degreeList}}
        {{#ionItem class="item-radio"}}
          <input type="radio" name="degree" value="{{key}}">
          <div class="item-content">
            {{text}}
          </div>
          {{> ionIcon icon="checkmark" class="radio-icon"}}
        {{/ionItem}}
      {{/each}}
    {{/ionList}}

  {{/ionContent}}
{{/ionView}}
</template>
