<template name="mineProfileAvatar">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton class="button-clear button-light" text=false}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title normal-title">更换头像</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    <button class="button button-clear button-light" data-action="save-profile-avatar">
      保存
    </button>
  {{/contentFor}}


{{#ionView}}
  {{#ionContent}}
    {{> avatar}}
  {{/ionContent}}
{{/ionView}}
</template>
