<template name="mineProfileCompany">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton class="button-clear button-light" text=false}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title normal-title">修改所在机构</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    <button class="button button-clear button-light" data-action="save-profile-company">
      保存
    </button>
  {{/contentFor}}


{{#ionView class="mine-profile-view name-view"}}
  {{#ionContent}}

    {{#ionList}}
      {{#ionItem class="item-input"}}
        <span class="input-label" for="company">机构</span>
        <input type="text" id="company" name="company" value="{{currentUser.profile.company}}"/>
      {{/ionItem}}
    {{/ionList}}

    <div class="hint-block">
      <img src="/images/info.png">
      保存后，其他人会看到你的机构哦
    </div>

  {{/ionContent}}
{{/ionView}}
</template>
