<template name="mineProfileName">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton class="button-clear button-light" text=false}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title normal-title">修改姓名</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    <button class="button button-clear button-light" data-action="save-profile-name">
      保存
    </button>
  {{/contentFor}}


{{#ionView class="mine-profile-view name-view"}}
  {{#ionContent}}

    {{#ionList}}
      {{#ionItem class="item-input"}}
        <span class="input-label" for="name">姓名</span>
        <input type="text" id="name" name="name" value="{{currentUser.profile.name}}"/>
      {{/ionItem}}
    {{/ionList}}

    <div class="hint-block">
      <img src="/images/info.png">
      保存后，其他人会看到你的名字哦
    </div>

  {{/ionContent}}
{{/ionView}}
</template>
