<template name="mineProfileBirthday">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton class="button-clear button-light" text=false}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title normal-title">修改生日</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    <button class="button button-clear button-light" data-action="save-profile-birthday">
      保存
    </button>
  {{/contentFor}}


{{#ionView}}
  {{#ionContent}}
    {{> dateSwiperComponent}}
  {{/ionContent}}
{{/ionView}}
</template>
