<template name="map">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton class="button-clear button-light" text=" "}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
  <label class="item item-input item-icon-left map-page-head">
    <img class="map-search-bar-img" src="/images/location-search-bar.png"/>
    <input id="searchInput" type="text" placeholder="{{placeholder}}">
  </label>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent class="location-map"}}
      <div id="allmap"></div>
      <div class="location-map-list">
        {{#ionList}}
          {{#each autoLocation}}
          {{#ionItem}}
            <div class="location-map-info">
              <div class="{{selectStyle}}">
                {{#if $eq selectStyle 'location-map-info-i-select'}}
                <img src="/images/location-active.png"/>
                <span>{{#if select}}[当前]{{/if}} {{title}}</span>
                {{else}}
                <img src="/images/location-normal.png"/>
                <span>{{#if select}}[当前]{{/if}} {{title}}</span>
                {{/if}}
              </div>
              <div>{{address}}</div>
            </div>
          {{/ionItem}}
          {{/each}}
        {{/ionList}}
      </div>
    {{/ionContent}}
  {{/ionView}}
</template>
