<template name="map">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton class="button-clear button-light" text=" "}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
  <label class="item item-input item-icon-left map-page-head">
    <input id="searchInput" type="text" placeholder="{{placeholder}}">
    <i id="searchIcon" class="icon ion-ios-location-outline" style="font-size: 23px; min-width: 60px;"></i>
  </label>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent class="location-map"}}
      <div id="allmap"></div>
      <div class="location-map-list">
        {{#ionList}}
          {{#each autoLocation}}
          {{#ionItem}}
            <div class="location-map-info">
              <div>
                <i id="searchIcon" class="icon ion-ios-location {{selectStyle}}"></i>
                <span>{{#if select}}[当前]{{/if}} {{title}}</span>
              </div>
              <div>{{address}}</div>
            </div>
          {{/ionItem}}
          {{/each}}
        {{/ionList}}
      </div>
    {{/ionContent}}
  {{/ionView}}
</template>
