<template name="mineProfileSchool">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton class="button-clear button-light" text=false}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title normal-title">所在学校</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    <button class="button button-clear button-light" data-action="save-profile-school">
      保存
    </button>
  {{/contentFor}}


{{#ionView class="mine-profile-view name-view"}}
  {{#ionContent}}

    {{#ionList}}
      {{#ionItem class="item-input"}}
        <span class="input-label" for="school">学校</span>
        <input type="text" id="school" name="school" value="{{currentUser.profile.school}}" placeholder="编辑学校名称"/>
      {{/ionItem}}
    {{/ionList}}

    <div class="hint-block">
      <img src="/images/info.png">
      保存后，其他人会看到你的学校哦
    </div>

  {{/ionContent}}
{{/ionView}}
</template>
