<template name="columns">
  <h2>栏目管理</h2>
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th style="text-align:center;">栏目名称</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td>会员权益</td>
          <td style="text-align:center;"><a href="/column/edit/rights" class="btn btn-audit">编辑</a></td>
        </tr>
        <tr>
          <td>关于</td>
          <td style="text-align:center;"><a href="/column/edit/about" class="btn btn-audit">编辑</a></td>
        </tr>
    </tbody>
  </table>
</template>