<template name="scheduleCalendar">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton class="button-clear button-light" text=false}}
  {{/contentFor}}
  {{#contentFor "headerTitle"}}
    <h1 class="title normal-title">我的课程</h1>
  {{/contentFor}}

  {{> appScheduleTabs}}

  <div class="schedule-calendar-header">
    <div class="inner">
      <a class="year-title">{{{year}}}年</a>
      <div class="pull-right marks">
        <div class="todo"><span class="ion-record"></span>待上课</div>
        <div class="done"><span class="ion-record"></span>已上课</div>
      </div>
    </div>
  </div>
{{#ionView}}
  {{#ionContent class="schedule-calendar"}}
    {{#if showLoading}}
      {{> loading}}
    {{/if}}
    <!-- {{#unless isMonthView}} -->
    <div class="year-view-box">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide"><div class="prev-year">上一年</div></div>
          <div class="swiper-slide">
           <div class="year-view-con">
            <div class="clearfix year-view">
              {{{yearViewContentText}}}
            </div>
           </div>
          </div>
          <div class="swiper-slide"><div class="next-year">下一年</div></div>
        </div>
      </div>
    </div>
    <!-- {{/unless}}
    {{#if isMonthView}} -->
    <div class="month-view-box">
      <div class="month-nav">
        <div class="swiper-container">
          <div class="swiper-wrapper">
            {{#each monthNavNum}}
            <div class="swiper-slide">
              <a class="{{monthNavClass this}}" data-i="{{this}}">{{{monthNavText this}}}<span class="unit">月</span></a>
            </div>
            {{/each}}
          </div>
        </div>
      </div>
      <div class="month-view">
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide"><div class="prev-month">上个月</div></div>
            <div class="swiper-slide">
              {{{monthViewContentText}}}
            </div>
            <div class="swiper-slide"><div class="next-month">下个月</div></div>
          </div>
        </div>
      </div>
      <div class="course-items">
        <h4 class="title">课程</h4>
        {{#ionList}}
          {{#each courseList}}
            {{#ionItem}}
              <div class="clearfix subject-info">
                <div class="pull-left subject">
                  {{#if $eq currentUser.role 'teacher'}}{{this.student.name}}{{else}}{{this.teacher.name}}{{/if}}
                  （{{this.detail.subject}}）
                </div>
                <div class="pull-right date">{{formatDate this.attendTime 'MM-DD'}}</div>
              </div>
              {{#if isCommented this}}
              <div class="clearfix comment-info">
                <div class="comments-stars">
                  {{#each commentStars this}}
                    <img src="/images/{{starImage this}}" />
                  {{/each}}
                </div>
              </div>
              {{/if}}
              <div class="clearfix attend-info">
                <div class="pull-left time">{{convMinutes2Str this.phase.start}}-{{convMinutes2Str this.phase.end}}</div>
                <div class="pull-right">{{getCourseStateStr this}}</div>
              </div>
            {{/ionItem}}
          {{/each}}
        {{/ionList}}
      </div>
    </div>
    <!-- {{/if}} -->
  {{/ionContent}}
    <div class="bottom-btn-view">
      <div class="row">
        <div class="col-xs-6 text-left">
          <button class="btn btn-default btn-change-view" type="button" name="changeView">{{{changeViewBtnText}}}</button>
        </div>
        <div class="col-xs-6 text-right">
          {{#if isShowToToday}}<input class="btn btn-success btn-go-today" type="button" name="goToday" value="今天">{{/if}}
        </div>
      </div>
    </div>
{{/ionView}}
</template>
