<template name="scheduleWeeklyForOrder">
<table class="table course-table">
  <thead><tr class="week-row"><td>时间\周</td><td>周一</td><td>周二</td><td>周三</td><td>周四</td><td>周五</td><td>周六</td><td>周日</td></tr></thead>
  <!-- <tr><td class="time-phase"></td><td data-weekday=0 data-start=0 data-end=0 class="phase available|un-available">......</tr> -->
  <tbody>
    {{#each timePhases}}
      <tr>
        <td class="time-phase">{{convMinutes2Str start}} -- {{convMinutes2Str end}}</td>
        {{#each days}}
        <td data-weekday="{{this}}" data-start="{{../start}}" data-end="{{../end}}" class="phase {{getPhaseState this ../start ../end}}"></td>
        {{/each}}
      </tr>
    {{/each}}
  </tbody>
</table>
</template>