<template name="studentScheduleCourses">
  {{> appScheduleHead}}
  {{#ionView}}
    {{#ionContent}}
      {{#ionList class="schedule-courses"}}
        {{#each courses}}
        {{#ionItem class="schedule-course-item" avatar="left"}}
          <img src="{{getAvatarUrl teacher.id}}" class="avatar img-responsive" >
          <div class="course-info">
            <div class="clearfix subject-info">
              <div class="pull-left subject">{{teacher.name}} （{{this.detail.subject}}）</div>
              <div class="pull-right date">{{formatDate this.attendTime 'MM-DD'}}</div>
            </div>
            {{#if isCommented this}}
            <div class="clearfix comment-info">
              <div class="comments-stars">
                {{#each commentStars this}}
                  <img src="/images/{{starImage this}}" />
                {{/each}}
              </div>
            </div>
            {{/if}}
            <div class="clearfix attend-info">
              <div class="pull-left time">{{convMinutes2Str this.phase.start}}-{{convMinutes2Str this.phase.end}}</div>
            </div>
          </div>
          <div class="btn-box" data-itemid="{{this._id}}">
            {{#if $eq this.state 1}}
              <button class="btn btn-success btn-confirm">确认课时</button>
            {{/if}}
            {{#if $eq this.state 2}}
              <button class="btn btn-success btn-comment">评价</button>
            {{/if}}
            {{#if $eq this.state 3}}
              已评价
            {{/if}}
          </div>
        {{/ionItem}}
        {{/each}}
      {{/ionList}}
      {{#if hasMore}}
        <a class="btn" href="{{nextPath}}">more</a>
      {{/if}}
    {{/ionContent}}
  {{/ionView}}
</template>
