<template name="teacherScheduleCourses">
  {{#contentFor "headerTitle"}}
    <h1 class="title normal-title">我的课程</h1>
  {{/contentFor}}

  {{> appScheduleTabs}}

  {{#ionView}}
    {{#ionContent}}
      {{#ionList class="schedule-courses"}}
        {{#each courses}}
        {{#ionItem class="schedule-course-item"}}
          <div class="course-time-info">
            <div class="pull-left">
              {{getCourseTime this.attendTime}} {{this.student.name}} {{getStateStr this}}
            </div>
            <div class="pull-right">
              {{this.detail.subject}} {{convMinutes2Str this.phase.start}} - {{convMinutes2Str this.phase.end}}
            </div>
          </div>
          <div class="course-addr-info">
            <div class="pull-left">
              上课地点
            </div>
            <div class="pull-right">
              TODO
            </div>
          </div>
          {{#if isCommented this}}
          <div class="btn-box">
            <div class="pull-right">
              <button class="btn button button-positive btn-show-comment" data-id="{{this._id}}">查看评价</button>
            </div>
          </div>
          <div class="comment-box hide">
            <div class="clearfix">
              <div class="pull-left"><label>学生评价</label></div>
              <div class="pull-right comment-time">{{getCommentTimeStr this}}</div>
            </div>
            <div class="row">
              <div class="stu-avatar">
                <img src="{{getAvatarUrl student.id}}" alt="头像" class="img-responsive img-circle">
              </div>
              <div class="col">
                <div class="clearfix">
                  <div class="pull-left stu-name">
                    {{this.student.name}}
                  </div>
                  <div class="pull-right stars">
                    {{#each commentStars this}}
                      <i class="icon {{starClass this}}"></i>
                    {{/each}}
                  </div>
                </div>
                <div class="comment-content">
                  {{getCommentContent this}}
                </div>
              </div>
            </div>
          </div>
          {{/if}}
        {{/ionItem}}
        {{/each}}
      {{/ionList}}
      {{#if hasMore}}
        <a class="btn" href="{{nextPath}}">more</a>
      {{/if}}
    {{/ionContent}}
  {{/ionView}}
</template>
