<template name="teacherScheduleCourses">
  {{> appScheduleHead}}
  {{#ionView}}
    {{#ionContent}}
      {{#ionList class="schedule-courses"}}
        {{#each courses}}
        {{#ionItem class="schedule-course-item for-teacher"}}
          <div class="clearfix course-time-info">
            <div class="pull-left">
              {{this.student.name}}（{{getCourseTime this.attendTime}}） <span class="state">{{getStateStr this}}</span>
            </div>
            <div class="pull-right">
              {{this.detail.subject}} {{convMinutes2Str this.phase.start}} - {{convMinutes2Str this.phase.end}}
            </div>
          </div>
          <div class="clearfix course-addr-info">
            <div class="pull-left">
              上课地点
            </div>
            <div class="pull-right">
              {{getAddress this}}
            </div>
          </div>
          {{#if isCommented this}}
<!--           <div class="clearfix btn-box">
            <button class="btn btn-success btn-show-comment" data-id="{{this._id}}">查看评价</button>
          </div> -->
          <div class="comment-box">
            <div class="stu-avatar">
              <img src="{{getAvatarUrl student.id}}" alt="头像" class="avatar img-responsive">
            </div>
            <div class="comment-body">
              <div class="clearfix">
                <div class="pull-left stu-name">
                  {{this.student.name}}
                </div>
                <div class="pull-right comment-time">{{getCommentTimeStr this}}</div>
              </div>
              <div class="comments-stars">
                {{#each commentStars this}}
                  <img src="/images/{{starImage this}}" />
                {{/each}}
              </div>
            </div>
            <div class="comment-content">
              {{getCommentContent this}}
            </div>
          </div>
          {{/if}}
        {{/ionItem}}
        {{/each}}
      {{/ionList}}
      {{#if hasMore}}
        <a class="btn" href="{{nextPath}}">more</a>
      {{/if}}
    {{/ionContent}}
  {{/ionView}}
</template>
