<template name="mineProfileCertUpload">
  {{#contentFor "headerTitle"}}
    <h1 class="title normal-title">{{getTitle}}</h1>
  {{/contentFor}}
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton class="button-clear button-light" text=false}}
  {{/contentFor}}

  {{#ionView class="cert-img-upload-view"}}
    {{#ionContent class="cert-upload-box"}}
        <p>{{getHintText}}</p>
        <div class="cert-img-box">
          <div class="img-box"><img src={{getCertImgUrl}}></div>
          <div class="uploading-hint-box">{{>loading}}</div>
          <a class="btn btn-success file-input-mask">
            <span>点击上传图片</span>

            {{#unless isCordova}} <!-- if is Cordova, call app native camera or album -->
              <input title="请选择图片" type="file" name="photo" multiple="">
            {{/unless}}
          </a>
        </div>
        <p>请保证图片清晰正确</p>
        <span class="help-block"></span>
        <div class="action-btn-box">
          <button id="submit" class="btn btn-lg btn-success col-xs-12">提交</button>
        </div>
    {{/ionContent}}
  {{/ionView}}
</template>
