<template name="adminFeedbacks">
  <div class="row">
    <div class="col-sm-3">
      {{> adminNav}}
    </div>
    <div class="col-sm-9">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>用户</th>
            <th>手机号</th>
            <th>反馈内容</th>
            <th>提交时间</th>
          </tr>
        </thead>
        <tbody>
          {{#each feedbacks}}
          <tr>
            <td>{{name}}</td>
            <td>{{phoneNo}}</td>
            <td>{{content}}</td>
            <td>{{created}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</template>
