<template name="orderCourseConfirm">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton class="button-clear button-light" text=" "}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title normal-title">确认课程订单</h1>
  {{/contentFor}}

  {{#ionView class="order-course-confirm"}}
    {{#ionContent}}
    {{#ionList}}
      {{#ionItem}}
        <label>上课人</label>
        <div>{{currentUser.profile.name}} | {{myPhoneNo}}</div>
      {{/ionItem}}
      {{#ionItem}}
        <label>上课时间</label>
        <div class="item-note">
          {{#each timePhases}}
            <div>{{weekdayText weekday}} {{convMinutes2Str start}} - {{convMinutes2Str end}}</div>
          {{/each}}
        </div>
      {{/ionItem}}
      {{#ionItem}}
        <label>上课地点</label>
        <div class="item-note">学习中心</div>
        <div>上课地点详细信息 (TODO)</div>
      {{/ionItem}}
      {{#ionItem}}
        <div class="pull-left">
          <label>课程</label>
          <div>{{teacherName}} | {{courseSubject}}</div>
        </div>
        <div class="teacher-avatar">
          <img src="{{teacherAvatarUrl}}" class="img-responsive img-circle" >
        </div>
      {{/ionItem}}
      {{#ionItem}}
        <label>课时</label>
        <div class="item-note">{{courseCount}}课时</div>
      {{/ionItem}}
      {{#ionItem class="item-icon-right"}}
        <label>麻辣奖学金</label>
        <div class="item-note">
          <a class="btn pull-right" href="{{pathFor 'parentSettingsEdit'}}">{{> ionIcon icon="ios-arrow-forward" class="button-light greyColor"}}</a>
        </div>
      {{/ionItem}}
      {{#ionItem}}
        <label>课程总价</label>
        <div class="item-note">
          <div>￥<span id="totalCost">{{totalCost}}</span></div>
          <div><strong>-</strong>￥<span id="discount">{{discount}}</span></div>
        </div>
      {{/ionItem}}
    {{/ionList}}
    <div class="row row-center">
      <div class="pull-left col">
        还需支付：￥<span id="toPayCost">{{toPayCost}}</span>
      </div>
      <div class="pull-right col">
        <button id="gotoPay" class="button button-full button-assertive">
          前往支付
        </button>
      </div>
    </div>
    {{/ionContent}}
  {{/ionView}}
</template>
