<template name="orders">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton class="button-clear button-light" text=false}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title normal-title">我的订单</h1>
  {{/contentFor}}

  {{#ionTabs class="tabs-top tabs-striped top-tab-nav"}}
    {{> ionTab title="待支付" path="ordersNoPaid"}}
    {{> ionTab title="已支付" path="ordersPaidOk"}}
  {{/ionTabs}}

  {{#ionView}}
    {{#ionContent class="orders-detail"}}
      {{#ionList}}
        {{#each showOrders}}
          <div class="orders-detail-order">
            <div>{{orderTime}}</div>
            <div>
              {{subject}}
            </div>
            <div>
              <span>共{{courseHour}}课时</span>
              <span>合计：￥{{payMoney}}</span>
            </div>
            <div>
              <button class="button button-light order-detail-view-btn-inorders">
                查看订单
              </button>
              {{#if $eq status 'submited'}}
              <button class="button button-dark order-detail-submit-btn-onorders">
                支付
              </button>
              {{/if}}
              {{#if canRenew}}
              <button class="button button-dark order-detail-new-order-btn-inorders">
                续单
              </button>
              {{/if}}
            </div>
          </div>
          <div class="element-clear-both"><hr></div>
        {{/each}}
      {{/ionList}}
      {{#if empty}}
        <div class="order-empty">
          <div>
            <i class="icon ion-checkmark-circled"></i>
          </div>
          <div>
            你还没有课程，快去找老师吧
          </div>
          <div>
            <button id="findTeachers" class="button button-full button-assertive">
              找老师
            </button>
          </div>
        </div>
      {{/if}}
    {{/ionContent}}
  {{/ionView}}
</template>
