<template name="orderStepPay">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton class="button-clear button-light" text=" "}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title normal-title">支付</h1>
  {{/contentFor}}

  {{#ionView class="order-view order-course-pay"}}
    {{#ionContent}}
    {{#ionList}}
      {{#ionItem}}
        <label>应付金额</label>
        <div>
          ￥{{toPayCost}}
        </div>
      {{/ionItem}}
     <div class="{{errorClass 'pay'}}">
      <label>选择支付方式</label>
      {{#ionItem class="item-radio"}}
        <input type="radio" name="payType" value="alipay">
        <div class="item-content">
          支付宝
        </div>
        {{> ionIcon icon="checkmark" class="radio-icon"}}
      {{/ionItem}}
      {{#if isCordova}} <!-- 微信支付只有客户端（web方式是公共号） -->
      {{#ionItem class="item-radio"}}
        <input type="radio" name="payType" value="weixin">
        <div class="item-content">
          微信支付
        </div>
        {{> ionIcon icon="checkmark" class="radio-icon"}}
      {{/ionItem}}
      {{/if}}
      <span class="help-block">{{errorMessage 'pay'}}</span>
     </div>
    {{/ionList}}
    {{/ionContent}}
    <div class="bottom-btn-view">
      <div class="col">
        <button id="callPayment" class="button button-full button-assertive">
          支付
        </button>
      </div>
    </div>
  {{/ionView}}
</template>
