<template name="order">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton class="button-clear button-light" text=false}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title normal-title">{{#if order._id}}订单详情{{else}}订单确认{{/if}}</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent class="with-bottom-btn"}}
      {{#ionList class="order-detail"}}
        {{#ionItem}}
        <div>
          <div>
            <span class="order-detail-head">
              上课人
            </span>
          </div>
          <div class="order-detail-detail">
            {{order.student.name}} | {{phoneNum}}
          </div>
        </div>
        {{/ionItem}}
        {{#ionItem}}
        <div>
          <label class="order-detail-head">上课时间</label>
          <div class="item-note">
            {{#each timePhases}}
              <div>{{weekdayText weekday}} {{convMinutes2Str start}} - {{convMinutes2Str end}}</div>
            {{/each}}
          </div>
        </div>
        {{/ionItem}}
        {{#ionItem}}
        {{#if $eq teacher.profile.teacherType "studyCenter"}}
        <div class="teacher-detial-study-center">
          <div class="teacher-detail-item-head">
            <span class="order-detail-head">
              上课地点
            </span>
          </div>
          <div class="item-note">学习中心</div>
          <div class="teacher-detail-study-centers">
            {{#each teacherStudyCenters}}
              {{> teachersFilterStudyCenter studyCenter=this}}
            {{/each}}
          </div>
        </div>
        {{else}}
          {{#if $eq teacher.profile.teacherType "goHome"}}
          <div>
            <div class="teacher-detail-item-head">
              <span class="order-detail-head">
                上课地点
              </span>
            </div>
            <div class="item-note">老师上门</div>
            {{#if studyAddress}}
              <div class="study-address-order">
                <i id="searchIcon" class="icon ion-ios-location location-map-info-i-select"></i>
                <span>
                  {{studyAddress}}
                </span>
              </div>
            {{/if}}
            {{#if order._id}}
              <div class="order-address">{{order.addressDetail}}</div>
            {{else}}
              <input id="addressDetail" type="text" placeholder="请输入门牌号等详细信息" value="{{order.addressDetail}}">
            {{/if}}
          </div>
          {{/if}}
        {{/if}}
        {{/ionItem}}
        {{#ionItem}}
        <div>
          <div class="order-detail-avatar">
            <span class="order-detail-head">
              课程{{order.className}}
            </span>
            <div class="order-detail-detail">
              {{order.teacher.name}} | {{subject}}
            </div>
          </div>
          <div class="teacher-avatar">
            <img src="{{teacher.profile.avatarUrl}}" class="img-responsive img-circle" >
          </div>
        </div>
        {{/ionItem}}
        {{#ionItem}}
        <div>
          <div class="item-note">
            {{courseCount}}小时
          </div>
          <div>
            <span class="order-detail-head">
              课时
            </span>
          </div>
        </div>
        {{/ionItem}}
        {{#if $not this.order._id}}
          {{#ionItem class="item-icon-right"}}
            <label class="order-detail-head">麻辣奖学金</label>
            <div class="item-note">
              <a class="btn pull-right" href="#">{{> ionIcon icon="ios-arrow-forward" class="button-light greyColor"}}</a>
            </div>
          {{/ionItem}}
        {{/if}}
        {{#ionItem}}
        <div>
          <div class="item-note-cost">
            <div>
              ￥{{money totalCost}}
            </div>
            <div>
              {{#if couponId}}
              - ￥{{money couponValue}}
              {{/if}}
            </div>
          </div>
          <div>
            <span class="order-detail-head">
              课程总价
            </span>
          </div>
        </div>
        {{/ionItem}}
        {{#ionItem}}
        <div class="teacher-detail-submit">
          {{#if order._id}}
            {{#if $neq order.status "paid"}}
            <div class="button-bar">
              <a class="button" id="btnDelete">取消订单</a>
              <a class="button button-assertive" id="btnSaveAndPay">付款</a>
            </div>
            {{/if}}
          {{else}}
          <div class="bottom-btn-view">
            <div class="row">
              <div class="col-xs-6">
                还需支付：￥<span id="toPayCost">{{toPayCost}}</span>
              </div>
              <div class="col-xs-6">
                <button id="btnSaveAndPay" class="btn btn-lg btn-success col-xs-12">
                  前往支付
                </button>
              </div>
            </div>
          </div>
          {{/if}}
        </div>
        {{/ionItem}}

      {{/ionList}}
    {{/ionContent}}
  {{/ionView}}
  {{#if showLoading}}
    {{> loading}}
  {{/if}}
</template>
