<template name="order">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton class="button-clear button-light" text=false}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title normal-title">{{#if order._id}}订单详情{{else}}订单确认{{/if}}</h1>
  {{/contentFor}}

  {{#ionView class="order-detail"}}
    {{#ionContent class="with-bottom-btn"}}
      {{#ionList}}
        {{#ionItem}}
        <div>
          <div>
            {{order.student.name}} | {{phoneNum}}
          </div>
          <div>
            上课人
          </div>
        </div>
        <div class="element-clear-both"><hr></div>
        {{#if $eq teacher.profile.teacherType "studyCenter"}}
        <div class="teacher-detial-study-center">
          <div>学习中心</div>
          <div class="teacher-detail-item-head">
            上课地址
          </div>
          <div class="teacher-detail-study-centers">
            {{#each teacherStudyCenters}}
              {{> teachersFilterStudyCenter studyCenter=this}}
            {{/each}}
          </div>
        </div>
        {{else}}
          {{#if $eq teacher.profile.teacherType "goHome"}}
          <div>
            <div>老师上门</div>
            <div class="teacher-detail-item-head">
              上课地点
            </div>
            {{#if studyAddress}}
              <div class="study-address-order">
                <i id="searchIcon" class="icon ion-ios-location location-map-info-i-select"></i>
                <span>
                  {{studyAddress}}
                </span>
              </div>
            {{/if}}
            {{#if order._id}}
              <div class="order-address">{{order.addressDetail}}</div>
            {{else}}
              <input id="addressDetail" type="text" placeholder="请输入门牌号等详细信息" value="{{order.addressDetail}}">
            {{/if}}
          </div>
          {{/if}}
        {{/if}}
        <div class="element-clear-both"><hr></div>
        <div class="order-detial-item-box">
          <div>
            {{#each timePhases}}
              <div>{{weekdayText weekday}} {{convMinutes2Str start}} - {{convMinutes2Str end}}</div>
            {{/each}}
          </div>
          <div><label class="order-detail-head">上课时间</label></div>
        </div>
        {{/ionItem}}
        {{#ionItem}}
        <div>
          <div>
            {{order.teacher.name}}  {{subject}}
          </div>
          <div>
            课程
          </div>
        </div>
        <div class="element-clear-both"><hr></div>
        <div>
          <div>
            {{courseCount}}小时
          </div>
          <div>
            <span class="order-detail-head">
              课时
            </span>
          </div>
        </div>
        {{#if $not this.order._id}}
        <div class="element-clear-both"><hr></div>
        <div class="item-icon-right">
          <div>{{> ionIcon icon="ios-arrow-forward" class="button-light greyColor"}}</div>
          <div>麻辣奖学金</div>
        </div>
        {{/if}}
        {{/ionItem}}
        {{#ionItem}}
        <div>
          <div>
            ￥{{money totalCost}}
          </div>
          <div>
            课程总价
          </div>
        </div>
        <div class="element-clear-both"><hr></div>
        <div>
          <div>
            <div class="od-far">
            {{#if couponId}}
            - ￥{{money couponValue}}
            {{else}}
            ￥0
            {{/if}}
            </div>
          </div>
          <div>
            已优惠
          </div>
        </div>
        {{/ionItem}}
      {{/ionList}}
    {{/ionContent}}
    {{#if order._id}}
    {{#if $neq order.status "paid"}}
    <div class="bottom-btn-view">
      <div class="button-bar">
        <a class="button" id="btnDelete">取消订单</a>
        <a class="button button-assertive" id="btnSaveAndPay">付款</a>
      </div>
    </div>
    {{/if}}
    {{else}}
    <div class="bottom-btn-view">
      <div class="row">
        <div class="col-xs-6">
          还需支付：￥<span id="toPayCost">{{toPayCost}}</span>
        </div>
        <div class="col-xs-6">
          <button id="btnSaveAndPay" class="btn btn-lg btn-success col-xs-12">
            前往支付
          </button>
        </div>
      </div>
    </div>
    {{/if}}
  {{/ionView}}
  {{#if showLoading}}
    {{> loading}}
  {{/if}}
</template>
