<template name="mineProfile">
  {{#contentFor "headerTitle"}}
    <h1 class="title normal-title">我的资料</h1>
  {{/contentFor}}
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton class="button-clear button-light" text=false}}
  {{/contentFor}}

  {{> mineAppTabs}}

  {{#ionView class="mine-profile-view"}}
    {{#ionContent}}
      <!-- 基本信息 -->
      {{#ionList class="basic-info-list"}}
        {{#ionItem path="mineProfileAvatar" avatar="right" iconRight=true}}
          头像
          <img src="{{currentUser.profile.avatarUrl}}">
          {{> ionIcon icon="ios-arrow-right"}}
        {{/ionItem}}
        {{#ionItem path="mineProfileName" iconRight=true}}
          姓名
          <span class="item-note">
            {{currentUser.profile.name}}
          </span>
          {{> ionIcon icon="ios-arrow-right"}}
        {{/ionItem}}
        {{#ionItem path="mineProfileGender" iconRight=true}}
          性别
          <span class="item-note">
            {{#unless currentUser.profile.gender}}未设置{{/unless}}
            {{currentUser.profile.gender}}
          </span>
          {{> ionIcon icon="ios-arrow-right"}}
        {{/ionItem}}
        {{#ionItem path="mineProfileBirthday" iconRight=true}}
          出生日期
          <span class="item-note">
            {{#unless currentUser.profile.birthday}}未设置{{/unless}}
            {{getBirthDayStr}}
          </span>
          {{> ionIcon icon="ios-arrow-right"}}
        {{/ionItem}}
      {{/ionList}}
      <!-- 教学信息 -->
      {{#ionList class="teaching-info-list"}}
        {{#ionItem path="mineProfileDegree" iconRight=true}}
          最高学历
          <span class="item-note">
            {{getDegreeStr}}
          </span>
          {{> ionIcon icon="ios-arrow-right"}}
        {{/ionItem}}
        {{#ionItem path="mineProfileCollege" iconRight=true}}
          院校
          {{#unless currentUser.profile.college}}
          <span class="item-note no-float">
            请填写毕业/就读院校(必填)
          </span>
          {{/unless}}
          <span class="item-note">
            {{currentUser.profile.college}}
          </span>
          {{> ionIcon icon="ios-arrow-right"}}
        {{/ionItem}}
        {{#ionItem path="mineProfileSubjects" iconRight=true}}
          科目年级
          {{> ionIcon icon="ios-arrow-right"}}
        {{/ionItem}}
        {{#ionItem path="mineProfileTeachingAge" iconRight=true}}
          教龄
          <span class="item-note">
            {{getTeachingAgeStr}}
          </span>
          {{> ionIcon icon="ios-arrow-right"}}
        {{/ionItem}}
        {{#ionItem path="mineProfileCert" iconRight=true}}
          资质认证
          {{> ionIcon icon="ios-arrow-right"}}
        {{/ionItem}}
        {{#ionItem path="mineProfileCompany" iconRight=true}}
          所在机构
          {{#unless currentUser.profile.company}}
          <span class="item-note no-float">
            请填写您现在的工作单位
          </span>
          {{/unless}}
          <span class="item-note">
            {{currentUser.profile.company}}
          </span>
          {{> ionIcon icon="ios-arrow-right"}}
        {{/ionItem}}
        {{#ionItem id="teachingLocationItem" iconRight=true}}
          地址管理
          <span class="item-note no-float">
            请填写常用教学地点
          </span>
          <span class="item-note">
            {{currentUser.profile.location.title}}
          </span>
          {{> ionIcon icon="ios-arrow-right"}}
        {{/ionItem}}
        {{#ionItem path="mineProfileStudyCenter" iconRight=true}}
          所属学习中心
          <span class="item-note no-float">
            查看所属学习中心
          </span>
          {{> ionIcon icon="ios-arrow-right"}}
        {{/ionItem}}
        {{#ionItem path="" iconRight=true}}
          可上门授课范围
          <span class="item-note no-float">
            请填写可上门授课区域
          </span>
          {{> ionIcon icon="ios-arrow-right"}}
        {{/ionItem}}
      {{/ionList}}
      <!-- 其他设置：个人介绍、经历、时间安排 -->
      {{#ionList class="other-info-list"}}
        {{#ionItem path="mineProfileSelfIntro" iconRight=true}}
          介绍
          <span class="item-note no-float">
            请填写自我介绍
          </span>
          {{> ionIcon icon="ios-arrow-right"}}
        {{/ionItem}}
        {{#ionItem path="mineProfileExperiences" iconRight=true}}
          过往经历
          <span class="item-note no-float">
            请填写个人经历
          </span>
          {{> ionIcon icon="ios-arrow-right"}}
        {{/ionItem}}
        {{#ionItem path="scheduleWeekly" iconRight=true}}
          可上课时间
          {{> ionIcon icon="ios-arrow-right"}}
        {{/ionItem}}
        {{#ionItem path="mineProfileEduResults" iconRight=true}}
          成果展示
          <span class="item-note no-float">
            请填写教学成功成果
          </span>
          {{> ionIcon icon="ios-arrow-right"}}
        {{/ionItem}}
        {{#ionItem path="" iconRight=true}}
          照片
          {{> ionIcon icon="ios-arrow-right"}}
        {{/ionItem}}
      {{/ionList}}
      <!-- 系统设置 -->
      {{#ionList class="system-settings-list"}}
        {{#ionItem path="systemSettings" iconRight=true}}
          设置
          {{> ionIcon icon="ios-arrow-right"}}
        {{/ionItem}}
      {{/ionList}}
    {{/ionContent}}
  {{/ionView}}
</template>
