<template name="mineProfile">
  {{#contentFor "headerTitle"}}
    <h1 class="title normal-title">我的资料</h1>
  {{/contentFor}}
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton class="button-clear button-light" text=false}}
  {{/contentFor}}

  {{> mineAppTabs}}

  {{#ionView class="mine-profile-view"}}
    {{#ionContent}}
      <!-- 基本信息 -->
      {{#ionList class="basic-info-list"}}
        {{#ionItem path="mineProfileAvatar" avatar="right" iconRight=true}}
          头像
          <img src="{{currentUser.profile.avatarUrl}}">
          {{> ionIcon icon="ios-arrow-right"}}
        {{/ionItem}}
        {{#ionItem path="mineProfileName" iconRight=true}}
          姓名
          <span class="item-note">
            {{currentUser.profile.name}}
          </span>
          {{> ionIcon icon="ios-arrow-right"}}
        {{/ionItem}}
        {{#ionItem path="mineProfileGender" iconRight=true}}
          性别
          <span class="item-note">
            {{#unless currentUser.profile.gender}}未设置{{/unless}}
            {{currentUser.profile.gender}}
          </span>
          {{> ionIcon icon="ios-arrow-right"}}
        {{/ionItem}}
        {{#ionItem path="mineProfileBirthday" iconRight=true}}
          出生日期
          <span class="item-note">
            {{#unless currentUser.profile.birthday}}未设置{{/unless}}
            {{getBirthDayStr}}
          </span>
          {{> ionIcon icon="ios-arrow-right"}}
        {{/ionItem}}
      {{/ionList}}
    {{/ionContent}}
  {{/ionView}}
</template>
