<template name="rights">
  {{#markdown}}
### 非常老师公会

  加入我们，一起改变教育！

  陪伴这个时代最有梦想的老师！


  如果你——
  对教育充满热爱，对教育创新束手无策；
  教育理念传统，为互联网思维的趋势所困惑；
  有持续学习的动力，质疑传统和权威，相信改变的发生；
  喜欢分享与交流，对新奇的事物充满期待；
  你就是我们要找的非常老师。



### 我们做什么？

  一个学习型的互联网创新教师组织。

  非常老师公会是以优秀青年教师为主要服务对象发起的全国性教师公益组织，旨在帮助青年教师成长，助理青年教师个人职业发展，并通过整合最新的教育资源和教育产品，帮助青年教师提高教学效率，提升教学水平。

  这里有全国最顶尖的青年教师、教育专家、命题专家，教育创业明星。我们将定期为会员推出精心打磨和设计的课程，包含公益演讲、教育创新、教育大咖专场等课程，力邀全球最顶尖的老师加入，只为奉献最专业、最实用、最顶级的课程给你。浓缩大佬们数十年摸爬滚打的亲身实践，带你寻找用户的隐性痛点，最新最in，绝无水分。站在巨人的肩膀上，开拓你看10年的视野。

  非常老师工会目前已经与北京教育出版社、快乐学教育科技、凹凸个性教育等多家教育、科研机构、公司建立战略合作关系，免费为一线青年教师提供产品、教学、内容、培训和工作平台支持。

### 明星会员

### 入会指南
  所有课程和线下活动仅限非常教师公会会员参加（非会员必须提交资料审核入会）；
  在本网站注册账号并填写认证信息，通过即可成为非常老师公会会员；
  非常老师公会为公益性青年教师组织，不收取任何费用。
  {{/markdown}}


</template>
