<template name="accountEntry">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton class="button-positive" path="accountRole" text=false}}
  {{/contentFor}}

{{#ionView}}
  {{#ionContent}}
  <div class="account-entry-box">
    <div class="listbox">
      <div class="list-group">
        <a class="list-group-item btn-login">登录</a>
        <a class="list-group-item btn-register">注册</a>
        {{#if isParent}}
          <a href="/hava-a-try" class="list-group-item btn-try">体验一下</a>
        {{/if}}
      </div>
    </div>
  </div>
  {{/ionContent}}
{{/ionView}}
</template>
