<template name="mylogin">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton class="button-positive" path="accountEntry" text=false}}
  {{/contentFor}}
  {{#contentFor "headerTitle"}}
    <h1 class="title normal-title">登录</h1>
  {{/contentFor}}

{{#ionView}}
  {{#ionContent}}

  <form class="main form page form-horizontal login-form">
    <div class="col-xs-offset-0 col-xs-12 col-sm-offset-4 col-sm-4">
      <div class="form-group hide">
        <div class="login-top">
          <div class="login-top-box">
          </div>
          <div class="login-top-box-mask">
          </div>
          <div class="role-sign text-center"><span class="glyphicon glyphicon-ok"></span></div>
        </div>
      </div>

      <div class="form-group {{errorClass 'cellphone'}}">
        <label for="cellphone">手机号</label>
        <input class="form-control" id="cellphone" name="cellphone" type="text" hint="请输入有效的手机号"/>
        <span class="help-block">{{errorMessage 'cellphone'}}</span>
      </div>

      <div class="form-group">
        <label for="checkcode">输入验证码</label>
        <input class="btn-get-checkcode pull-right" id="getCheckCode" type="button" value="获取验证码" disabled="disabled">
      </div>
      <div class="form-group {{errorClass 'checkCode'}}">
        <input class="form-control" id="checkCode" name="checkCode" type="text" hint="输入您收到的短信验证码"/>
        <span class="help-block">{{errorMessage 'checkCode'}}</span>
      </div>
      <div class="form-group">
        <input class="btn btn-login" id="doLogin" type="button" value="登录" disabled="disabled"/>
      </div>
      <div class="form-group">
          <a class="text-primary" href="{{pathFor 'register'}}">快速注册</a>
      </div>
    </div>
  </form>

  {{/ionContent}}
{{/ionView}}
</template>
