<template name="register">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton class="button-positive" text=false}}
  {{/contentFor}}
  {{#contentFor "headerTitle"}}
    <h1 class="title normal-title">注册</h1>
  {{/contentFor}}


{{#ionView}}
  {{#ionContent}}

<form class="main form page form-horizontal login-form">
  <div class="col-xs-offset-0 col-xs-12 col-sm-offset-4 col-sm-4">
    <div class="form-group">
      <div class="login-top">
        <div class="login-top-box">
        </div>
        <div class="login-top-box-mask">
        </div>
        <div class="role-sign text-center"><span class="glyphicon glyphicon-ok"></span></div>
      </div>
    </div>

    <div class="form-group">
      <input type="hidden" id="role" name="role" value="{{role}}">
      <ul class="nav role-select">
        <li class="tab-parent"><a class="btn" name="parent">我是家长</a></li>
        <li class="tab-teacher"><a class="btn" name="teacher">我是老师</a></li>
      </ul>
    </div>

    <div class="form-group {{errorClass 'name'}}">
      <label for="name">姓名</label>
      <input class="form-control" id="name" name="name" type="text" hint="请输入您的姓名"/>
      <span class="help-block">{{errorMessage 'name'}}</span>
    </div>

    <div class="form-group {{errorClass 'cellphone'}}">
      <label for="cellphone">手机号</label>
      <input class="form-control" id="cellphone" name="cellphone" type="text" hint="请输入有效的手机号"/>
      <span class="help-block">{{errorMessage 'cellphone'}}</span>
    </div>
    <!-- <div class="form-group {{errorClass 'password'}}">
      <label for="password">设置密码：</label>
      <input class="form-control" id="password" name="password" type="password" hint="请输入6-16位数字、字母或者常用符号，字母区分大小写"/>
      <span class="help-block">{{errorMessage 'password'}}</span>
    </div> -->

    <div class="form-group">
      <label for="checkcode">输入验证码</label>
      <input class="btn-get-checkcode pull-right" id="getCheckCode" type="button" value="获取验证码" disabled="disabled">
    </div>
    <div class="form-group {{errorClass 'checkCode'}}">
      <input class="form-control" id="checkCode" name="checkCode" type="text" hint="输入您收到的短信验证码"/>
      <span class="help-block">{{errorMessage 'checkCode'}}</span>
    </div>
    <div class="form-group {{errorClass 'agreement'}}">
      <label>
        <input id="agreement" name="agreement" type="checkbox" hint="请阅读并同意用户协议"/>
        我已阅读并同意<a href="{{pathFor 'accountAgreement'}}" target="_blank">《麻辣老师用户服务协议》</a>
      </label>
      <span class="help-block">{{errorMessage 'agreement'}}</span>
    </div>
    <div class="form-group">
      <input class="btn btn-login" id="doRegister" type="button" value="注册" disabled="disabled">
    </div>
    <div class="form-group">
        <a class="text-primary" href="{{pathFor 'mylogin'}}">快速登录</a>
    </div>
  </div>
</form>

  {{/ionContent}}
{{/ionView}}
</template>
