<template name="mineProfileEduResult">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton class="button-clear button-light" text=false}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title normal-title">{{#if getId}}查看{{else}}添加{{/if}}成果</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    <button class="button button-clear button-light" data-action="save-profile-eduResult">
      保存
    </button>
  {{/contentFor}}


{{#ionView}}
  {{#ionContent}}

    {{#ionList class="profile-edu-result"}}
      {{#ionItem class="item-input"}}
        <span class="input-label">成果标题</span>
        <input type="text" id="title" name="title" value="{{title}}">
      {{/ionItem}}
      {{#ionItem class="item-input"}}
        <span class="input-label">时间</span>
        <input type="hidden" id="doneDate" name="doneDate" value="{{doneDate}}" readonly="readonly">
        <input type="text" id="doneDateText" name="doneDateText" readonly="readonly">
      {{/ionItem}}
      {{#ionItem class="item-input"}}
        <textarea rows="8" type="text" id="content" name="content" value="{{content}}" placeHolder="例如：在初中时，让一位不爱学数学的学生喜欢上数学">{{content}}</textarea>
      {{/ionItem}}
    {{/ionList}}

  {{/ionContent}}
{{/ionView}}
</template>
