<template name="applicationInfo">
  {{#contentFor "headerTitle"}}
    <h1 class="title normal-title">完善资料</h1>
  {{/contentFor}}

<div class="apply-progress apply-info">
  {{#ionView class="text-center"}}
    {{#ionContent}}
      {{#ionList}}
        {{#ionItem class="name"}}
          <!-- 1姓名 -->
          <input class="text-center" type="text" name="name" placeholder="姓名" value="{{currentUser.profile.name}}" maxlength="20">
          <span class="error-msg">{{getErrorMsg 'name'}}</span>
        {{/ionItem}}
        {{#ionItem class="phoneNo"}}
          <!-- 2电话号码 -->
          <span>{{currentUser.phoneNo}}</span>
        {{/ionItem}}
      {{/ionList}}
        <h4>性别</h4>
      {{#ionList}}
        {{#ionItem class="gender"}}
          <!-- 3性别 -->
          <div class="radio-group">
            <label><img src="/images/female_gray.png"><br><input type="radio" name="gender" value="女" checked="{{$eq currentUser.profile.gender '女'}}"/><span>女老师</span></label>
            <label><img src="/images/male_gray.png"><br><input type="radio" name="gender" value="男" checked="{{$eq currentUser.profile.gender '男'}}"/><span>男老师</span></label>
          </div>
          <span class="error-msg">{{getErrorMsg 'gender'}}</span>
        {{/ionItem}}
      {{/ionList}}
        <h4>教龄</h4>
      {{#ionList}}
        {{#ionItem class="teaching-age"}}
          <!-- 4教龄 -->
            <div class="swiper-container">
              <div class="swiper-wrapper">
                {{#each teachYearNums}}
                  <div class="swiper-slide" data-value="{{this}}">{{this}}</div>
                {{/each}}
              </div>
              <!-- Add Pagination -->
              <div class="swiper-pagination"></div>
            </div>
        {{/ionItem}}
      {{/ionList}}
        <h4>科目年级</h4>
      {{#ionList}}
        {{#ionItem class="subjects"}}
          <!-- 5年级科目 -->
            <button class="button button-clear btn-add-subject" data-ion-modal="_subjectsModal">
              {{#if hasSubjects}}
                {{#each selectedSubjects}}
                  <span class="subject">{{getSubjectStr this}}</span>
                {{/each}}
              {{else}}
                年级 | 科目
              {{/if}}
            </button>
          <span class="error-msg">{{getErrorMsg 'subjects'}}</span>
        {{/ionItem}}
      {{/ionList}}
        <h4>所在城市</h4>
      {{#ionList}}
        {{#ionItem class="city"}}
          <!-- 6所在城市 -->
          <div class="radio-group">
            <label><img src="/images/target_none.png"><br><input type="radio" name="city" value="luoyang"/><span>洛阳</span></label>
            <label><img src="/images/target_none.png"><br><input type="radio" name="city" value="other"/><span>其他</span></label>
          </div>
          <span class="error-msg">{{getErrorMsg 'city'}}</span>
        {{/ionItem}}
      {{/ionList}}
    {{/ionContent}}
  {{/ionView}}
  
  {{#ionFooterBar}}
  <button id="submitInfo" class="btn btn-lg btn-success col-xs-12">提交</button>
  {{/ionFooterBar}}
</div>
</template>


<template name="_subjectsModal">
  {{#ionModal title="已选中科目年级" class="subjects-edit-modal"}}
    {{> subjectsEditComponent}}
  {{/ionModal}}
</template>
