<template name="profileNav">
<div class="profile-nav">
  <div class="avatar">
    <img src="{{currentUser.profile.avatarUrl}}" width="210" height="207" >
  </div>
  <div class="username">
    <span>{{currentUser.profile.name}}</span>
  </div>
  <div>
    <input class="btn btn-success edit-profile" type="button" value="完善您的个人资料" >
  </div>
  <div class="items">
    <div class="title">审核项目</div>
    <ul class="list-unstyled">
      <li class="base-info"><span class="flag fulfill">√</span>基本信息</li>
      <li class="edu-info"><span class="flag fulfill">√</span>教育信息</li>
      <li class="cert-info"><span class="flag fulfill-not">√</span>教学资质</li>
    </ul>
  </div>
</div>
</template>
