<template name="profile">
<div class="profile form-horizontal">
  <div class="form-group">
    <div class="col-md-6 text-center">
        <img src="{{avatarUrl}}" width="180" height="180" >
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label class="col-md-2 control-label">真实姓名</label>
        <div class="col-md-10">
          <span class="form-control">{{currentUser.profile.name}}</span>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-2 control-label">性别</label>
        <div class="col-md-10">
          <span class="form-control">{{currentUser.profile.gender}}</span>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-2 control-label">出生日期</label>
        <div class="col-md-10">
          <span class="form-control">{{currentUser.profile.birthday}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-1 control-label">昵称</label>
    <div class="col-md-5">
      <span class="form-control">{{currentUser.profile.nickname}}</span>
    </div>
    <label class="col-md-1 control-label">身份</label>
    <div class="col-md-5">
      <span class="hide">{{currentUser.profile.state}}</span>
      <span class="form-control" id="state"></span>
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-1 control-label">毕业院校</label>
    <div class="col-md-5">
      <span class="form-control">{{currentUser.profile.college}}</span>
    </div>
    <label class="col-md-1 control-label">学历</label>
    <div class="col-md-5">
      <span class="form-control">{{degreeText}}</span>
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-1 control-label">专业</label>
    <div class="col-md-5">
      <span class="form-control">{{currentUser.profile.major}}</span>
    </div>
    <label class="col-md-1 control-label">授课地点</label>
    <div class="col-md-5">
      <span class="form-control">{{currentUser.profile.location}}
        {{#if currentUser.profile.address.province.code}}
          {{currentUser.profile.address.province.name}}
        {{/if}}
        {{#if notInTopCity}}
        {{#if currentUser.profile.address.city.code}}
          {{currentUser.profile.address.city.name}}
        {{/if}}
        {{/if}}
        {{#if currentUser.profile.address.district.code}}
          {{currentUser.profile.address.district.name}}
        {{/if}}
        {{currentUser.profile.address.road}}
      </span>
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-1 control-label">个人简介</label>
    <div class="col-md-11">
      <div class="form-control">{{currentUser.profile.selfIntro}}</div>
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-1 control-label">经典语录</label>
    <div class="col-md-11">
      <span class="form-control">{{currentUser.profile.motto}}</span>
    </div>
  </div>
</div>
</template>
