<template name="profileEditCert">
<div class="main profile-edit">
  <div class="row">
    {{>profileBanner}}
  </div>
  <div class="row">
    <div class="col-sm-3">
      {{>profileEditNav}}
    </div>
    <div class="col-sm-9">
      <div class="profile-edit-title">教学资质</div>
      <div class="profile-edit-cert">
        <div class="cert-title"><h4>教师证认证</h4></div>
        <hr>
        <div class="row cert-upload-box">
          <div class="col-sm-3 cert-img-box">
            <img src={{eduCert.teacherQualifyImgUrl}} width="180" height="180">
            <div class="img-mask">上传图片<input title="请选择图片" type="file" name="photo" multiple=""></div>
          </div>
          <div class="col-sm-9 cert-action-box">
            <p>请提交在有效期内的教师证照片，需保证头像及文字清晰可见。</p>
            <input class="btn btn-warning btn-save" type="button" value="保存">
            <input class="btn btn-cancel" type="button" value="取消">
          </div>
        </div>
        <div class="cert-title"><h4>专业资质认证</h4></div>
        <hr>
        <div class="row cert-upload-box">
          <div class="col-sm-3 cert-img-box">
            <img src={{certImgUrl}} width="180" height="180">
            <div class="img-mask">上传图片<input title="请选择图片" type="file" name="photo" multiple=""></div>
          </div>
          <div class="col-sm-9 cert-action-box">
            <p>请提交你教学能力或专业能力的证明，如职称证书、考级证书等。</p>
            <input class="btn btn-warning btn-save" type="button" value="保存">
            <input class="btn btn-cancel" type="button" value="取消">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</template>
