<template name="profileEditEdu">
{{#ionView}}
  {{#ionContent}}

<div class="main profile-edit">
  <div class="mala-row">
    {{>profileBanner}}
  </div>
  <div class="mala-row">
    <div class="col-xs-12 col-sm-3">
      {{>profileEditNav}}
    </div>
    <div class="col-xs-12 col-sm-9">
      <div class="profile-edit-title">教育信息</div>
      <form class="form form-horizontal profile-edit-edu">
        <div class="profile-edu-items">
          {{#each eduItems}}
            {{>eduItem}}
          {{/each}}
          {{#if eduItemsEmpty}}
            {{>eduItem}}
          {{/if}}
        </div>

        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-6">
            <a class="btn btn-add-edu-item"><i class="mala mala-plus-circle"></i> 添加教育信息</a>
          </div>
          <div class="col-sm-offset-2 col-sm-6">
            <input class="btn btn-success btn-save-edu" type="button" value="保存">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

  {{/ionContent}}
{{/ionView}}
</template>

<template name="eduItem">
<div class="profile-edu-item">
  <div class="form-group">
    <label class="col-sm-2 control-label" for="degree">学历</label>
    <div class="col-sm-6 controls">
      <select class="form-control" name="degree" value="{{degree}}">
        {{#each eduDegreeList true degree}}
          <option value="{{key}}" selected="{{selected}}">{{text}}</option>
        {{/each}}
      </select>
      <span class="help-block"></span>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label" for="college">毕业院校</label>
    <div class="col-sm-6 controls">
      <input class="form-control {{platform}}" name="college" type="text" value="{{college}}" placeholder="输入您的大学名称"/>
      <span class="help-block"></span>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label" for="major">专业</label>
    <div class="col-sm-6 controls">
      <input class="form-control {{platform}}" name="major" type="text" value="{{major}}" placeholder="输入您所学的专业"/>
      <span class="help-block"></span>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-6">
      <a class="btn-delete-item"><span class="glyphicon glyphicon-minus"></span> 删除此项</a>
    </div>
  </div>
  <hr>
</div>
</template>
