<template name="teacher">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton class="button-clear button-light" text=" "}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title normal-title">老师详情</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent class="teacher-detail"}}
      <div class="teacher-detail-head" id="teacherDetailHead">
        <div>
          <img src="{{user.profile.avatarUrl}}" class="img-responsive img-circle">
        </div>
        <div>
          {{user.profile.name}} {{#if genderMale}}<i class="icon ion-male"></i>{{else}}{{#if genderFemale}}<i class="icon ion-female"></i>{{/if}}{{/if}}
        </div>
        <div>{{user.profile.selfIntro}}</div>
      </div>
      <div class="teacher-detial-star-content" id="teacherStarContent">
        <div>
          <p>麻度 {{maDu}}分</p>
          <p>上课老好了，一学就会</p>
        </div>
        <div></div>
        <div>
          <p>辣度 {{laDu}}分</p>
          <p>老师太棒了，必须点赞</p>
        </div>
      </div>
      <div class="teacher-detail-tab-content" id="teacherNav">
        <div id="mainPageInScroll" class="teacher-detail-tab {{activeTabClass 'mainPage'}}">个人资料</div>
        <div id="evaluationInScroll" class="teacher-detail-tab {{activeTabClass 'evaluation'}}">评价</div>
      </div>
      <div class="teacher-detail-sp-info" id="teacherSpInfo">
          <div>特殊头衔</div>
          <div>
            国际数学奥林匹克冠军教练，中国青少年奥林匹克特聘专家，浙江电视台节目主持人
          </div>
      </div>
      <div><hr></div>
      <div id="teacherAudit">
        <div clas="teacher-detail-item-head">
          <span class="teacher-detail-item-span">
            认证信息
          </span>
        </div>
        <div>
          <div class="teacher-cert">
            <div><i class="icon ion-checked ion-checkmark-circled"></i> <span>身份证</span></div>
            <div><i class="icon ion-checked {{#if teachingCert}}ion-checkmark-circled{{else}}ion-ios-circle-outline{{/if}}"></i> <span>教师证</span></div>
            <div><i class="icon ion-checked {{#if eduAudit}}ion-checkmark-circled{{else}}ion-ios-circle-outline{{/if}}"></i> <span>学历证</span></div>
            <div><i class="icon ion-checked {{#if specialty}}ion-checkmark-circled{{else}}ion-ios-circle-outline{{/if}}"></i> <span>专业资质</span></div>
            <div><i class="icon ion-checked {{#if maLaCert}}ion-checkmark-circled{{else}}ion-ios-circle-outline{{/if}}"></i> <span>麻辣认证</span></div>
          </div>
        </div>
      </div>
      <div><hr></div>
      <div class="teacher-person-img-show">
        <div class="teacher-detail-item-head">
          <span class="teacher-detail-item-span">
            照片展示
          </span>
        </div>
        <div>
          <div class="teacher-swiper-container">
              <div class="swiper-wrapper">
                {{#each personalPhoto}}
                  <div data-teacher-id="{{../user._id}}" class="swiper-slide" data-ion-modal="teacherPersonalPhotosShow"><img src="{{this}}"></div>
                {{/each}}
              </div>
          </div>
        </div>
      </div>
      <div><hr></div>
      <div class="teacher-edu-results">
        <div class="teacher-detail-item-head">
          <span class="teacher-detail-item-span">
            教学成果
          </span>
        </div>
        <div id="moreEduResults" class="teacher-more-info">展开查看全部</div>
        <div id="eduReults">{{user.profile.eduResults}}</div>
      </div>
      <div><hr></div>
      <div class="teacher-edu-results">
        <div class="teacher-detail-item-head">
          <span class="teacher-detail-item-span">
            过往经历
          </span>
        </div>
        <div id="moreExperience" class="teacher-more-info">展开查看全部</div>
        <div id="experience">{{experience}}</div>
      </div>
      <div><hr></div>
      {{#if $eq user.profile.teacherType "studyCenter"}}
      <div class="teacher-detial-study-center">
        <div class="teacher-detail-item-head">
          <span class="teacher-detail-item-span">
            授课区域
          </span>
        </div>
        <div class="teacher-more-info">只在学习中心授课</div>
        <div class="teacher-detail-study-centers">
          {{#each teacherStudyCenters}}
            {{> teachersFilterStudyCenter studyCenter=this}}
          {{/each}}
        </div>
      </div>
      <div><hr></div>
      {{else}}
        {{#if $eq user.profile.teacherType "goHome"}}
        <div>
          <div class="teacher-detail-item-head">
            <span class="teacher-detail-item-span">
              上门区域
            </span>
          </div>
          <div class="teacher-more-info">{{activeServiceArea}}</div>
        </div>
        <div><hr></div>
        {{/if}}
      {{/if}}
      <div>
        <div clas="teacher-detail-item-head">
          <span class="teacher-detail-item-span">
            可授课时间
          </span>
        </div>
        <div>
          {{>scheduleWeeklyForOrder teacherId=user._id}}
        </div>
      </div>
      <div><hr></div>
      <div id="teacherEvaluation">
        <div class="teacher-detail-item-head">
          <span class="teacher-detail-item-span">
            课程评价
          </span>
        </div>
        <div id="moreEvaluation" class="teacher-more-info">点击查看更多</div>
        <div id="evaluationInfo">
          <div>
            <div>
              {{#each commentStars}}
                <i class="icon {{starClass this}}"></i>
              {{/each}}
            </div>
            <div><img src="{{commentUserAvatarUrl}}" class="img-responsive img-circle"></div>
            <div>{{commentUserName}}</div>
          </div>
          <div>{{commentInfo}}</div>
        </div>
      </div>
      <div><hr></div>
    {{/ionContent}}
    {{# if $neq currentUser._id user._id }}
    <div class="buttom-btn-view teacher-buttom-btn-view buttom-btn-view-active">
      <div class="row row-center">
        <div class="pull-left col">
          ￥{{price}}/课时
        </div>
        <div class="pull-right col">
          <button id="reserveCourse" class="button button-full">
            马上约课
          </button>
        </div>
      </div>
    </div>
    {{/if}}
  {{/ionView}}
</template>

<template name="teacherPersonalPhotosShow">
  {{#ionModal customTemplate=true}}
  <div class="teacher-detail-photos-show">
    <div class="teacher-swiper-container-modal">
        <div class="swiper-wrapper" data-dismiss=modal>
          {{#each personalPhotos}}
            <div class="swiper-slide"><img src="{{this}}"></div>
          {{/each}}
        </div>
    </div>
  </div>
  {{/ionModal}}
</template>
