<template name="teachersFilter">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton class="button-clear button-light" text=" "}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title normal-title">筛选老师</h1>
  {{/contentFor}}

  {{#ionView class="page-view"}}
    {{#ionContent}}
      {{#ionList class="teachers-filter"}}
        {{#ionItem}}
        <div id="subjectGradeTitle">
          <div>
            <span class="index-page-title-head">
              {{teachersSubject}} | {{teachersGrade}}
            </span>
          </div>
        </div>
        {{/ionItem}}
        {{#ionItem class="selectTeachSubjectTeachersFilter"}}
          {{> Template.dynamic template=selectTeachSubjectTeachersFilter}}
        {{/ionItem}}
        {{#ionItem}}
        <div id="studyPlace">
          <div>
            <span class="index-page-title-head">
              预约上课地点
            </span>
            {{#if studyAddress}}
              <div class="study-address">
                <i id="searchIcon" class="icon ion-ios-location location-map-info-i-select"></i>
                <span>
                  {{studyAddress}}
                </span>
              </div>
            {{/if}}
          </div>
        </div>
        {{/ionItem}}
        {{#ionItem}}
        <div>
          <div>
            <span class="index-page-title-head">
              选择上课位置
            </span>

            <div class="teacher-way-select2">
              <div>
                <i class="icon ion-home"></i>
                <span>学习中心</span>
              </div>
              <div>
                <i class="icon ion-android-people"></i>
                <span>老师上门</span>
              </div>
            </div>
          </div>
        </div>
        {{/ionItem}}

      {{/ionList}}
    {{/ionContent}}
    <div class="buttom-btn-view">
      <button id="btnSaveAndPay" class="button button-full no-active-btn">
        开始筛选
      </button>
    </div>
  {{/ionView}}
</template>

<template name="selectTeachSubjectTeachersFilter">
    <div id="subjectGradeSelect" class="teach-subject-select" style="height: 250px;">
      <div class="content overflow-scroll">
        <div>
          <div>
            <div class="swiper-container swiper-subject">
                <div class="swiper-wrapper">
                  {{#each eduSubjectList}}
                    <div class="swiper-slide" data-value="{{key}}">{{text}}</div>
                  {{/each}}
                </div>
                <div class="swiper-button-prev"></div><div class="swiper-middle-line"></div>
            </div>
          </div>
          <div>
            <div class="swiper-container swiper-grade">
                <div class="swiper-wrapper">
                  {{#each eduGradeList}}
                    <div class="swiper-slide" data-value="{{key}}">{{text}}</div>
                  {{/each}}
                </div>
                <div class="swiper-button-prev"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
</template>
