<template name="teachers">
  {{#contentFor "headerButtonRight"}}
    <button class="button button-clear button-light icon ion-search"></button>
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">麻辣老师</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      {{#ionList}}
        {{#each teachers}}
          {{> teacherItem}}
        {{/each}}
      {{/ionList}}
    {{/ionContent}}
  {{/ionView}}
</template>

<template name="teacherItem">
  <div class="teacher">
    <div class="teacher-content">
      <div class="teacherHead">
        <h3>{{user.profile.name}}<span>{{subject}}</span></h3>
      </div>
      <div class="teacherCert">
        <div><i class="icon ionChecked ion-checkmark-circled"></i> <span>基本信息</span></div>
        <div><i class="icon ionChecked {{#if eduAudit}}ion-checkmark-circled{{else}}ion-ios-circle-outline{{/if}}"></i> <span>教育信息</span></div>
        <div><i class="icon ionChecked {{#if eduAudit}}ion-checkmark-circled{{else}}ion-ios-circle-outline{{/if}}"></i> <span>教学资质</span></div>
      </div>
    </div>
    <div class="teacherAvatar">
      <img src="{{user.profile.avatarUrl}}" class="img-responsive img-circle" >
    </div>
  </div>
</template>
