<template name="teachers">
  <div class="teachers page">
    <div class="wrapper">
      {{#each teachers}}
        {{> teacherItem}}
      {{/each}}
    </div>

    {{#if nextPath}}
      <a class="load-more" href="{{nextPath}}">加载更多</a>
    {{else}}
      {{#unless ready}}
        {{> spinner}}
      {{/unless}}
    {{/if}}
  </div>
</template>

<template name="teacherItem">
  <div class="teacher">
    <div class="teacher-content">
      <h3>{{user.profile.name}}<span>{{subject}}</span></h3>
      <div>
        <div style="float: left;">
          <label>
            <input type="checkbox" checked>基本信息
          </label>
        </div>
         <div style="float: left; margin-left: 5px;">
          <label>
            <input type="checkbox" {{eduAudit}}>教育信息
          </label>
        </div>
        <div style="float: left; margin-left: 5px;">
          <label>
            <input type="checkbox" {{cert}}>教学资质
          </label>
        </div>
      </div>
    </div>
    <div class="teacherAvatar">
      <img src="{{user.profile.avatarUrl}}" class="img-responsive img-circle" >
    </div>
  </div>
</template>
