<template name="teachersFilter">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton class="button-clear button-light" text=" "}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title normal-title">筛选老师</h1>
  {{/contentFor}}

  {{#ionView class="page-view"}}
    {{#ionContent class="with-bottom-btn"}}
      {{#ionList class="teachers-filter"}}
        {{#ionItem}}
        <div id="subjectGradeTitle">
          <div>
            <span class="index-page-title-head">
              {{teachersSubject}} | {{teachersGrade}}
            </span>
          </div>
        </div>
        {{/ionItem}}
        {{#ionItem class="selectTeachSubjectTeachersFilter"}}
          {{> Template.dynamic template=selectTeachSubjectTeachersFilter}}
        {{/ionItem}}
        {{#ionItem}}
        <div id="studyPlace">
          <div>
            <span class="index-page-title-head">
              预约上课地点
            </span>
            {{#if studyAddress}}
              <div class="study-address">
                <i id="searchIcon" class="icon ion-ios-location location-map-info-i-select"></i>
                <span>
                  {{studyAddress}}
                </span>
              </div>
            {{/if}}
          </div>
        </div>
        {{/ionItem}}
        {{#ionItem}}
        <div>
          <div>
            <span class="index-page-title-head">
              选择上课位置
            </span>

            <div class="teacher-way-select2">
              <div id="teacherWayStudyCenter">
                <i class="icon ion-home"></i>
                <span>学习中心</span>
              </div>
              <div id="teacherWayGoHome">
                <i class="icon ion-android-people"></i>
                <span>老师上门</span>
              </div>
            </div>
          </div>
        </div>
        {{/ionItem}}
        <div id="teachersFilterNearestStudyCenter">
        {{#if $gt studyCentersCount 0}}
          <div class="teachers-filter-nearest" style="width: 95%; margin: 0 auto;">
            <div>
              <div><hr></div>
              <div><hr></div>
              <div><span>离你最近</span></div>
            </div>
          </div>
          {{> teachersFilterStudyCenter studyCenter=commendStudyCenter}}
          {{#if $gt studyCentersCount 1}}
            <div class="teachers-filter-nearest" style="width: 95%; margin: 0 auto;">
              <div>
                <div><hr></div>
                <div><hr></div>
                <div><span>其他推荐</span></div>
              </div>
            </div>
            {{#each otherStudyCenter}}
              {{> teachersFilterStudyCenter studyCenter=this}}
            {{/each}}
          {{/if}}
        {{else}}
          <div style="width: 95%; margin: 0 auto;">
            <div>没有满足条件的学习中心</div>
          </div>
        {{/if}}
        </div>
      {{/ionList}}
    {{/ionContent}}
    <div class="bottom-btn-view">
      <button id="btnSearchTeachers" class="btn btn-lg btn-success col-xs-12">
        开始筛选
      </button>
    </div>
  {{/ionView}}
</template>

<template name="selectTeachSubjectTeachersFilter">
    <div id="subjectGradeSelect" class="teach-subject-select" style="height: 250px;">
      <div class="content overflow-scroll">
        <div>
          <div>
            <div class="swiper-container swiper-subject">
                <div class="swiper-wrapper">
                  {{#each eduSubjectList}}
                    <div class="swiper-slide" data-value="{{key}}">{{text}}</div>
                  {{/each}}
                </div>
                <div class="swiper-button-prev"></div><div class="swiper-middle-line"></div>
            </div>
          </div>
          <div>
            <div class="swiper-container swiper-grade">
                <div class="swiper-wrapper">
                  {{#each eduGradeList}}
                    <div class="swiper-slide" data-value="{{key}}">{{text}}</div>
                  {{/each}}
                </div>
                <div class="swiper-button-prev"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
</template>

<template name="teachersFilterStudyCenter">
  <div class="teachers-filter-study-center-item {{itemSelect}}">
      <div>
        <div>
          <i class="icon ion-android-done"></i>
          <img src="{{studyCenter.avatar}}">
        </div>
      </div>
      <div>
        <div class="teachers-filter-study-center-item-info">
          <span>{{studyCenter.name}}（{{studyCenter.city}})</span>
          <p>{{studyCenter.address}}</p>
          <p>{{formatDist studyCenter.distance}} 米</p>
        </div>
      </div>
  </div>
</template>
