<template name="teacher">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton class="button-clear button-light" text=" "}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title normal-title">老师详情</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent class="teacher-detail"}}
      <div class="teacher-detail-head">
        <div>
          <img src="{{user.profile.avatarUrl}}" class="img-responsive img-circle">
        </div>
        <div>
          {{user.profile.name}} {{#if genderMale}}<i class="icon ion-male"></i>{{else}}{{#if genderFemale}}<i class="icon ion-female"></i>{{/if}}{{/if}}
        </div>
        <div>
          热爱教育事业，很喜欢跟孩子在一起成长，深爱教育事业
        </div>
      </div>
      <div class="teacher-detial-star-content">
        <div>
          <p>麻度 4.9分</p>
          <p>上课老好了，一学就会</p>
        </div>
        <div></div>
        <div>
          <p>辣度 4.2分</p>
          <p>老师太棒了，必须点赞</p>
        </div>
      </div>
      <div class="teacher-detail-tab-content">
        <div id="mainPage" class="teacher-detail-tab {{activeTabClass 'mainPage'}}">主页</div>
        <div id="personInfo" class="teacher-detail-tab {{activeTabClass 'personInfo'}}">个人资料</div>
        <div id="evaluation" class="teacher-detail-tab {{activeTabClass 'evaluation'}}">评价</div>
      </div>
      <div>
        <div class="teacher-detail-item-head teacher-detail-item-head-float">
          <span class="teacher-detail-item-span">
            个人简介：
          </span>
        </div>
        <div>{{user.profile.selfIntro}}</div>
      </div>
      <div>
        <div class="teacher-detail-item-head">
          <span class="teacher-detail-item-span">
            教授科目
          </span>
        </div>
        <div>{{subject}}</div>
      </div>
      <div>
        <div clas="teacher-detail-item-head">
          <span class="teacher-detail-item-span">
            毕业院校/学历
          </span>
        </div>
        <div>
          {{#each colleges}}
            <p>{{.}}</p>
          {{/each}}
        </div>
      </div>
      <div>
        <div clas="teacher-detail-item-head">
          <span class="teacher-detail-item-span">
            资质认证
          </span>
        </div>
        <div>
          <div class="teacher-cert">
            <div><i class="icon ion-checked ion-checkmark-circled"></i> <span>基本信息</span></div>
            <div><i class="icon ion-checked {{#if eduAudit}}ion-checkmark-circled{{else}}ion-ios-circle-outline{{/if}}"></i> <span>教育信息</span></div>
            <div><i class="icon ion-checked {{#if cert}}ion-checkmark-circled{{else}}ion-ios-circle-outline{{/if}}"></i> <span>教学资质</span></div>
          </div>
        </div>
      </div>
      <div>
        <div clas="teacher-detail-item-head">
          <span class="teacher-detail-item-span">
            可授课时间
          </span>
        </div>
        <div>
          {{>scheduleWeeklyForOrder teacherId=user._id}}
        </div>
      </div>
      {{# if $neq currentUser._id user._id }}
      <div class="teacher-detail-submit">
        <button id="tryExperienceCourse" class="button button-full button-assertive {{#if submitActiv}}disabled{{/if}}">
          一元预约体验课
        </button>
      </div>
      {{/if}}
    {{/ionContent}}
  {{/ionView}}
</template>
