<template name="index">

  {{#contentFor "headerTitle"}}
    <div class="app-index-head"><img src="/images/malalaoshi.png"/></div>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent class="index-page"}}
      {{#if $eq currentUser.role 'teacher'}}
      <div class="index-page-swiper-parent">
        <div class="swiper-container index-swiper">
            <div class="swiper-wrapper">
              {{#each recommendedTeachers}}
                <div class="swiper-slide" data-value="{{key}}">
                  <a href="{{pathFor thisPath}}">
                    <img src="{{imgSrc}}">
                  </a>
                  <div class="swiper-title"><img src="/images/title-head.png" />{{title}}</div>
                </div>
              {{/each}}
            </div>
            <div class="swiper-pagination"></div>
        </div>
      </div>
      <div class="index-page-nav">
        <div>
          <div>
            <a href="{{pathFor 'scheduleCalendar'}}">
              <img src="/images/course.png" />
            </a>
          </div>
          <div>
            <a href="{{pathFor 'proceedsIndex'}}">
              <img src="/images/proceeds.png" />
            </a>
          </div>
        </div>
        <div>
          <div>
            <a href="{{pathFor 'messageMain'}}">
              <img src="/images/message.png" />
            </a>
          </div>
          <div>
            <a href="{{pathFor 'mineProfile'}}">
              <img src="/images/mine.png" />
            </a>
          </div>
        </div>
      </div>
      {{else}}
      <div class="index-page-swiper-parent">
        <div class="swiper-container index-swiper">
            <div class="swiper-wrapper">
              {{#each show}}
                <div class="swiper-slide" data-value="{{key}}">
                  <a href="{{pathFor thisPath}}">
                    <img src="{{imgSrc}}">
                  </a>
                  <div class="swiper-title"><img src="/images/title-head.png" />{{title}}</div>
                </div>
              {{/each}}
            </div>
            <div class="swiper-pagination"></div>
        </div>
      </div>
      <div class="index-page-nav">
        <div>
          <div>
            <a href="{{pathFor 'teachersFilter'}}">
              <img src="/images/find-teacher.png" />
            </a>
          </div>
          <div>
            <a href="{{pathFor 'scheduleCalendar'}}">
              <img src="/images/course.png" />
            </a>
          </div>
        </div>
        <div>
          <div>
            <a href="{{pathFor 'orders'}}">
              <img src="/images/order.png" />
            </a>
          </div>
          <div>
            <a href="{{pathFor 'mineProfile'}}">
              <img src="/images/mine.png" />
            </a>
          </div>
        </div>
      </div>
      {{/if}}
    {{/ionContent}}
  {{/ionView}}
</template>
