<template name="mineProfileExperiences">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton class="button-clear button-light" text=false}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title normal-title">过往经历</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    <button class="button button-clear button-light" data-action="add-experience">
      {{> ionIcon icon="ios-plus-empty"}}
    </button>
  {{/contentFor}}


{{#ionView class="mine-profile-view"}}
  {{#ionContent}}

    {{#ionList class="profile-experience-list"}}
      {{#each experienceList}}
        {{#ionItem path="mineProfileExperience" data=this query=this iconRight=true}}
          <span>{{formatDate startDate 'YYYY年MM月'}}~{{formatDate endDate 'YYYY年MM月'}}</span>
          <div class="item-note">
            {{content}}
          </div>
          {{> ionIcon icon="ios-arrow-right"}}
        {{/ionItem}}
      {{/each}}
      {{#if isEmpty}}
        {{#ionItem path="mineProfileExperience" iconRight=true}}
          添加过往经历
          {{> ionIcon icon="ios-arrow-right"}}
        {{/ionItem}}
      {{/if}}
    {{/ionList}}

  {{/ionContent}}
{{/ionView}}
</template>
