<template name="adminPages">
  <div class="mlls-row">
    <div class="col-sm-2">
      {{> adminNav}}
    </div>
    <div class="col-sm-10">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>栏目名称</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>会员权益</td>
            <td><a href="{{pathFor 'adminPage' name='rights'}}" class="btn btn-sm btn-audit">编辑</a></td>
          </tr>
          <tr>
            <td>关于</td>
            <td><a href="{{pathFor 'adminPage' name='about'}}" class="btn btn-sm btn-audit">编辑</a></td>
          </tr>
          <tr>
            <td>加入我们</td>
            <td><a href="{{pathFor 'adminPage' name='jobs'}}" class="btn btn-sm btn-audit">编辑</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>
