<template name="header">
  <div class="container">
    <nav class="navbar navbar-default">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{pathFor 'home'}}"><span class="title"><span class="red">麻辣</span>老师 <sup>{{sup}}</sup></span> &nbsp; &nbsp; <span class="subtitle">青年老师自学习社团</span></a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="hidden-xs">
            <a href="{{pathFor 'messages'}}"><span class="mala mala-envelope"></span><sup><span class="message-cnt badge">{{#if messageCount}}{{messageCount}}{{/if}}</span></sup></a>
          </li>
          {{# if currentUser}}
          {{> loginButtons}}
          {{else}}
          <li>
          <a href="{{pathFor 'mylogin'}}">登录</a>
          </li>
          <li>
          <a href="{{pathFor 'register'}}">注册</a>
          </li>
          {{/if}}
        </ul>
      </div>
    </nav>
  </div>
  <nav class="navbar navbar-inverse" role="navigation">
    <div class="container">
    <div class="collapse navbar-collapse" id="navigation">
      <ul class="nav navbar-nav">
        <li class="{{activeRouteClass  'dashboard'}}">
          <a href="{{pathFor 'dashboard'}}">首页</a>
        </li>
        {{#if currentUser}}
        {{#if $in currentUser.role 'parent' 'admin'}}
        <li class="{{activeRouteClass  'teachers'}}">
          <a href="{{pathFor 'teachers'}}">老师列表</a>
        </li>
        <li class="{{activeRouteClass  'orders'}}">
          <a href="{{pathFor 'orders'}}">我的订单</a>
        </li>
        {{/if}}
        {{#if $in currentUser.role 'teacher' 'admin'}}
        <li class="{{activeRouteClass  'profileEditBasic' 'profileEditEdu' 'profileEditCert' 'profileEditAvatar' 'profile'}}">
          <a href="{{pathFor 'profileEditBasic'}}">个人资料</a>
        </li>
        <li class="{{activeRouteClass  'messages'}}">
          <a href="{{pathFor 'messages'}}">消息</a>
        </li>
        {{/if}}
        {{#if $eq currentUser.role 'admin'}}
        <li class="{{activeRouteClass  'adminUsers' 'adminUser' 'auditTeachers' 'auditTeacher' 'adminFeedbacks' 'adminPages' 'adminPage' 'adminOrders' 'adminOrder'}}">
          <a href="{{pathFor 'adminFeedbacks'}}">后台管理</a>
        </li>
        {{/if}}
        {{/if}}
      </ul>
    </div>
    </div>
  </nav>
</template>
